{% extends "application-integration/_base.html"  %}
{% block page_title %}Timer task{% endblock %}
{% block body %}

<p>The <strong>{{apip_task_timer}}</strong> task lets you add a time delay to the
  integration execution flow.</p>

<p>During an integration execution, when the control reaches the {{apip_task_timer}} task, execution is paused for the specified time limit, and all tasks after the {{apip_task_timer}} task are suspended. This task supports only automatic resumption of an integration. The integration execution automatically resumes after the expiry of the suspension time limit. For example, if you set the timer task to 180 seconds, the execution is paused for 3 minutes before resuming automatically.</p>

<aside><b>Note:</b> If you set the timer task to less than 60 seconds, the suspend state will be consistent as synchronous execution mode. Otherwise, the suspend state is consistent with the asynchronous execution mode.</aside>

{% include "application-integration/docs/_shared/_task_suspend_timer_compare.html" %}

<h2>Configure the {{apip_task_timer}} task</h2>

<p>To configure the <strong>{{apip_task_timer}}</strong> task:
<ol>
 {{apip_apigee_steps}}
  {{ apip_sa_steps }}
  <li>Click and place the <strong>{{apip_task_timer}}</strong> task element in the integration editor.</li>
   <li>Click the <strong>{{apip_task_timer}}</strong> task element on the designer to view the <strong>{{apip_task_timer}}</strong> task
     configuration pane.</li>
  <li>Configure the remaining fields using the <a href="#params">Configuration properties</a> for the task. For example, if you set <b>Timeout after</b> to <code>180</code> and <b>Time unit</b> to <code>Seconds</code>, the execution is paused for 3 minutes before resuming automatically.</li>
<li>Changes to the properties are saved automatically.
  </li>
</ol>

<h2 id="params">Configuration properties</h2>

<p>
The following table describes the configuration properties of the {{apip_task_timer}} task.
</p>


<table>
  <tr>
   <td><strong>Property</strong>
   </td>
   <td><strong>Data type</strong>
   </td>
   <td><strong>Description</strong>
   </td>
  </tr>
 <tr>
    <td><code><strong>Timeout after</strong></code>
   </td>
   <td>Integer</td>
   <td>
     <p>Time till which the integration execution must be paused. Integration
     automatically resumes the execution of the next downstream task after the expiry of
     the time limit.</p>
   <p><b>Default value: </b>120 seconds (2 minutes).</p>
   <p><b>Maximum time limit allowed: </b>44640 minutes (31 days).</p>
  </td>
  </tr>

  <tr>
    <td><code><strong>Time unit</strong></code>
    </td>
    <td>Seconds, Minutes, Hours, Days
    </td>
    <td>Time unit for the <strong>Timeout after</strong> property.
    </td>
   </tr>
</table>

{% include "application-integration/docs/_shared/_retry_on_failure.html" %}

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>
{% endblock %}