{% extends "application-integration/_base.html"  %}
{% block page_title %}Configure an {{eventarc_name}} trigger{% endblock %}
{% block body %}
{% dynamic setvar launch_stage %}private_preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}product_or_feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Eventarc trigger{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>
  This page describes how to configure an {{eventarc_name_short}} trigger in {{integration}}.
</p>
<p>
  An {{eventarc_name_short}} trigger lets you run integrations based on events routed through
  <a href="/eventarc/standard/docs/overview">{{eventarc_standard_name}}</a>. Using an
  {{eventarc_name_short}} trigger, you can build integration flows triggered by events from various
  {{gcp_name}} services, third-party services, and custom event sources. For example, you can use
  the trigger to initiate an integration when a new object is uploaded to a {{storage_name}} bucket.
</p>
<p>In {{console_name_article}}, you can create and configure an {{eventarc_name_short}} trigger in
the following ways:</p>
<ul>
  <li><a href="#using_integration_console">Using {{integration}}</a></li>
  <li><a href="#using_eventarc_console">Using {{eventarc_name_short}}</a></li>
</ul>

<h2>Before you begin</h2>
<p>Before configuring the {{eventarc_name_short}} trigger, enable the {{eventarc_api}} and the
{{pubsub_api}}:</p>

{% setvar task_type %}console{% endsetvar %}
{% dynamic setvar api_list %}eventarc.googleapis.com,pubsub.googleapis.com{% dynamic endsetvar %}
{% dynamic setvar api_names %}Eventarc and Pub/Sub{% dynamic endsetvar %}
{% setvar task_params %}no_steps,no_text{% endsetvar %}
{% include "cloud/_shared/_enable_api.html" %}


<h2>Considerations</h2>
<p>
  Consider the following when configuring an {{eventarc_name_short}} trigger:
</p>
<ul>
  <li>
    If creating the {{eventarc_name_short}} trigger fails during integration publication due to
    configuration errors, your integration will still publish, but the trigger won't be active. 
    <p>To fix this, unpublish the integration, carefully review and correct the
    {{eventarc_name_short}} trigger configuration, and then republish the integration. 
    You can check the {{eventarc_name_short}} trigger creation status by clicking
    <span class="material-icons">notifications_none</span> (Notification) in the {{console}} tool
    bar.</p>
  </li>
  <li>
    Publishing a new version of your integration with a modified {{eventarc_name_short}} trigger
    configuration automatically replaces the old trigger with a new one. This ensures your
    integration always uses the latest trigger configuration and deletes any obsolete triggers.
  </li>
  <li>If you publish a new version of your integration and use the same {{eventarc_name_short}}
  trigger and its configuration, a new trigger isn't created. Instead, the existing
  {{eventarc_name_short}} trigger is reused for your new integration version.</li>
</ul>

<h2 id="using_integration_console">Create an {{eventarc_name_short}} trigger from {{integration}}</h2>
<p>
  To create an <b>{{eventarc_name_short}} trigger</b> from {{integration}}, do the following steps:
</p>
<ol>
  <li><a href="#add_eventarc_trigger">Add the {{eventarc_name_short}} trigger in {{integration}}</a></li>
  <li><a href="#configure_eventarc_trigger">Configure the {{eventarc_name_short}} trigger in the integration editor</a></li>
</ol>

  <h3 id="add_eventarc_trigger">Add the {{eventarc_name_short}} trigger</h3>
    <p>
      To add an {{eventarc_name_short}} trigger to your integration, complete the following steps:
    </p>
    <ol>
      {{apip_apigee_steps_trigger}}
      {{ apip_sa_steps_trigger }}
      <li>Drag and drop the <b>{{eventarc_name_short}}</b> element in the integration editor.</li>
    </ol>

  <h3 id="configure_eventarc_trigger">Configure the {{eventarc_name_short}} trigger</h3>
    <p>To configure an {{eventarc_name_short}} trigger, click the <b>{{eventarc_name_short}} Trigger</b>
    element in the integration editor. The <b>{{eventarc_name_short}} Trigger</b> configuration pane
    appears showing the following fields:</p>
    <ul>
      <li><b>Label:</b> (optional) the visible name of the {{eventarc_name_short}} trigger in your integration. You can change the label to a name of your choice.
      </li>
      <li><b>Notes:</b> (optional) you can add notes to provide additional information about the trigger.</li>
      <li>Click <b>Configure Eventarc trigger</b> and provide the following inputs in the <b>Eventarc trigger editor</b>:
        <ul>
          <li><b>Trigger name</b>: enter a name for the trigger.</li>
          <li><b>Trigger type</b>: select one of the following trigger types:
            <ul>
              <li><b>Google source</b>: select this option to create a trigger for Pub/Sub, Cloud Storage, Firestore, and other Google event providers.</li>
              <li><b>Custom</b>: select this option to create a trigger for a custom event source.</li>
              <li><b>Third-party</b>: select this option to create a trigger for non-Google providers that offer an Eventarc source. For more information, see <a href="/eventarc/standard/docs/third-parties/third-parties-overview">Third-party events in Eventarc</a>.</li>
            </ul>
          </li>
          <li><b>Event provider</b>: select the event provider for the trigger. The list of event
          providers depends on the trigger type. For more information, see
          <a href="/eventarc/standard/docs/event-providers-targets">Event providers and destinations</a>.</li>
          <li><b>Event type</b>: select the event type for the trigger. Your trigger configuration
          varies based on the event provider you select. For more information, see
          <a href="/eventarc/standard/docs/event-types">Event types</a>.</li>
          <li><b>Region</b>: select the region for the trigger.
              <aside class="tip">
                <b>Tip:</b> For optimal performance and to minimize latency, ensure that your
                {{eventarc_name_short}} trigger, the monitored {{gcp_name}} resource, and your
                service are all located in the same {{gcp_name_short}} region.
              </aside>
          </li>
          <li><b>Filters</b>: (optional) add filters to select the APIs that match your criteria. For example, if you filter the APIs by a specific name, the event is triggered only if the APIs matching the filter criteria are updated.</li>
          <li><b>Service account</b>: select the service account to use for the trigger. If you don't
          select a service account, the trigger uses the {{compute_name}} default service account as
          its identity when invoking your service. The service account associated with the trigger
          must have the required permissions to invoke your service.</p>
          </li>
          <li><b>Retry on failure</b>: select to enable trigger retries if the destination fails to process the event.</li>
          <li><b>Network attachment</b>: select the network attachment to use for the trigger. This list is generated based on the network attachments created in your project.
            <p>
              Network attachments facilitate communication between service producer
              {{vpc_name_first_mention}} networks and consumer {{vpc_name_short}} networks.
              {{eventarc_name_short}} uses the configured network attachment to establish a
              connection to an internal HTTP endpoint hosted within the consumer's {{vpc_name_short}}
              network, enabling delivery of event data. For more information about creating and managing network attachments, see <a href="/vpc/docs/create-manage-network-attachments">Create and manage network attachments</a>.
            </p>
          </li>
        </ul>
        <li>To save the trigger configuration, click <b>Save trigger</b>.</li>
        <aside class="note">
          <b>Note:</b> Saving your {{eventarc_name_short}} trigger configuration defines the rules
          that determine when and how {{eventarc_name_short}} responds to events. This configuration
          is stored as part of your trigger definition in {{integration}}. However, these rules are
          not immediately applied. You must publish the integration to deploy these rules and
          activate the {{eventarc_name_short}} trigger. Until published, the trigger remains
          inactive and doesn't process events. For information about publishing integrations, see
          <a href="/application-integration/docs/publish-integrations">Publish integrations</a>.
        </aside>
    </li>
  </ul>

<h2 id="using_eventarc_console">Create an {{eventarc_name_short}} trigger using the Eventarc console</h2>
<p>
  To create an {{eventarc_name_short}} trigger from the {{eventarc_name_short}} console page, do the following steps:
</p>
<ol>
  <li>In the {{console_name_short}}, go to the <b>{{eventarc_name_short}}</b> {{and_then}} <b>Triggers</b> page.

    {% setvar button_text %}Go to Triggers{% endsetvar %}
    {% setvar console_path %}eventarc/triggers{% endsetvar %}
    {% include "docs/includes/_open_console.html" %}
    <p>
      The <b>Triggers</b> page lists all the triggers in your project.
    </p>
  </li>
  <li>Click <span class="material-icons" aria-hidden="true" style="color:#3367d6">add_box</span> <b>Create trigger</b>.
  </li>
  <li>In the <b>Create trigger</b> page, provide the following inputs:
    <ol>
      <li><b>Trigger name</b>: enter a name for the trigger.</li>
      <li><b>Trigger type</b>: select one of the following trigger types:
        <ul>
          <li><b>Google sources</b>: select this option to create a trigger for {{pubsub_name_short}},
          {{storage_name}}, {{firestore_name}}, and other Google event providers.</li>
          <li><b>Custom</b>: select this option to create a trigger for a custom event source.</li>
          <li><b>Third-party</b>: select this option to create a trigger for non-Google providers
          that offer an Eventarc source. For more information, see <a href="/eventarc/standard/docs/third-parties/third-parties-overview">Third-party events in Eventarc</a>.</li>
        </ul>
      </li>
      <li><b>Event provider</b>: select the event provider for the trigger. The list of event providers depends on the trigger type. For more information, see <a href="/eventarc/docs/event-providers-targets">Event providers and destinations</a>.</li>
      <li><b>Event type</b>: select the event type for the trigger. Your trigger configuration varies based on the event provider you select. For more information, see <a href="/eventarc/docs/event-types">Event types</a>.</li>
      <li><b>Event data content type</b>: select the data type for the event content. Select either <b>application/json</b> or <b>application/protobuf</b>.</li>
      <li><b>Region</b>: select the region for the trigger.
        <aside class="tip">
          <b>Tip:</b> For optimal performance and to minimize latency, ensure that your
          {{eventarc_name_short}} trigger, the monitored Google Cloud resource, and your service are
          all located in the same {{gcp_name_short}} region.
        </aside>
      </li>
      <li><b>Service account</b>: select the service account to use for the trigger. If you don't
        select a service account, the trigger uses the {{compute_name_short}} default service
        account as its identity when invoking your service. The service account associated with the
        trigger must have the required permissions to invoke your service.
      </li>
      <li><b>Event destination</b>: select <b>Application Integration</b>.</li>
      <li><b>Select an Integration</b>: select the integration for which you want to create the
      trigger. If the integration is published, {{integration}} creates a new
      <a href="/application-integration/docs/integration-versions">draft version</a> of the
      integration to add the {{eventarc_name_short}} trigger to.</li>
      <li><b>Network attachment</b>: select the network attachment to use for the trigger. This list
        is generated based on the network attachments created in your project.
        <p>Network attachments facilitate communication between service producer {{vpc_name_first_mention}}
        networks and consumer {{vpc_name_short}} networks. {{eventarc_name_short}} uses the
        configured network attachment to establish a connection to an internal HTTP endpoint hosted
        within the consumer's {{vpc_name_short}} network, enabling delivery of event data. For more
        information about network attachments, see
        <a href="/vpc/docs/about-network-attachments">About network attachments</a>.
        </p>
    </li>
    </ol>
  <li>Click <b>Open integration</b>.
    <p>
      The {{integration}} editor page opens with the integration selected and the new <b>{{eventarc_name_short}} trigger</b> element added to the integration.
    </p>
  </li>
  <li>Click the <b>{{eventarc_name_short}} trigger</b> element and open the trigger configuration pane.</li>
  <li>Review and verify the trigger configuration in the <b>{{eventarc_name_short}} trigger editor</b> page.</li>
  <li>Connect the new <b>{{eventarc_name_short}} trigger</b> to your integration flow and publish the integration.</li>
  <aside class="note">
    <b>Note:</b> You must publish the integration to deploy and activate the <b>{{eventarc_name_short}} trigger</b>. Until published, the trigger remains inactive and will not process events. For information about publishing integrations, see <a href="/application-integration/docs/test-publish-integrations">Test and publish integrations</a>.
  </aside>
</ol>

{% endblock %}