{% extends "application-integration/_base.html"  %}
{% block page_title %}ServiceNow trigger{% endblock %}

{% block body %}

<p>The <b>ServiceNow trigger</b> is a <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a> that lets you invoke an integration based on the custom ServiceNow events that you've defined in your ServiceNow instance <a href="https://docs.servicenow.com/bundle/sandiego-api-reference/page/script/business-rules/concept/c_BusinessRules.html" class="external">business rule</a>.</p>

<aside class="note"><b>Important:</b> Integration Connectors is a billable component of Google Cloud. For information about the costs and charges of using Integration Connectors, see <a href="/integration-connectors/docs/pricing">Integration Connectors pricing</a>.</aside>

<h2 id="iam">Before you begin</h2>
<p>If you plan to create or configure a new connection for the <b>ServiceNow trigger</b>, make sure that you have the following IAM role on the project:</p>
<ul>
  <li>Connector Admin (<code>roles/connectors.admin</code>) </li>
  <p>For information about granting roles, see <a href="/iam/docs/granting-changing-revoking-access">Manage access</a>.</p>
</ul>

<p>Grant the following IAM roles to the service account that you want to use for the <b>ServiceNow trigger</b>:</p>
<ul>
  <li>Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>) </li>
  <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
</ul>

<h2>Add the ServiceNow trigger</h2>

<p>
To add a <b>ServiceNow trigger</b> to your integration, perform the following steps:
</p>

<ol>
  {{apip_apigee_steps_trigger}}
  {{ apip_sa_steps_trigger }}
<li>Click and place the <b>ServiceNow trigger</b> element in the integration editor.</li>
<p>To configure the <b>ServiceNow trigger</b>, you can either use an existing ServiceNow connection available in Integration Connectors, or create a new ServiceNow connection using the inline connection creation option.</p>
</ol>

<h2>Configure ServiceNow trigger using an existing connection</h2>

<p>
  You can configure the <b>ServiceNow trigger</b> using an existing ServiceNow connection in Integration Connectors. Note that the <b>ServiceNow trigger</b> is an <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a>, therefore you can only use a ServiceNow connection with event subscription enabled to configure the trigger. 
</p>
<p>For information about how to configure a <b>ServiceNow trigger</b> using a new ServiceNow connection, See <a href="#create">Configure ServiceNow trigger using a new connection</a></p>
<p>To configure a <b>ServiceNow trigger</b> using an existing ServiceNow connection, perform the following steps:</p>

<ol>
  <li>Click the <b>ServiceNow trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Provide the following configuration details in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li><b>Region:</b> Select the region of your ServiceNow connection.</li>
      <li><b>Connection:</b> Select the ServiceNow connection that you want to use.
      <p>{{integration}} only displays those ServiceNow connections that are active and have an <a href="/integration-connectors/docs/eventsubscription">event subscription</a> enabled. 
      </p>
    </li>
      <li><b>Event subscription type:</b> Enter the type of event that you want to use to trigger the integration. These event types must be defined in your ServiceNow instance <a href="https://docs.servicenow.com/bundle/sandiego-api-reference/page/script/business-rules/concept/c_BusinessRules.html" class="external">business rule</a>. </li> 
      <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the ServiceNow trigger.</li>
    </ol>
  </li>
  <li>Click <b>Done</b> to complete the trigger configuration and close the page.</li>
</ol>


<h2 id="create">Configure ServiceNow trigger using a new connection</h2>


<p>To configure the <b>ServiceNow trigger</b> using a new ServiceNow connection, perform the following steps:</p>
<ol>
  <li>Click the <b>ServiceNow trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Skip the <b>Region</b> field.</li>
  <li>Click <b>Connection</b> and select the <b>Create Connection</b> option from the drop-down menu.</li>
  <li>Complete the following steps in the <b>Create Connection</b> pane:
  <ol>
    <li>In the <b>Location</b> step, choose the location for the new ServiceNow connection:
      <ol>
        <li><b>Region:</b> Select a region from the drop-down list.
        </li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>
  
    <li>In the <b>Connection Details</b> step, provide details about the new ServiceNow connection:
      <ol>
        <li><b>Connector version:</b> Choose an available version of the ServiceNow connector from the drop-down list.
        </li>
        <li><b>Connection Name:</b> Enter a name for the ServiceNow connection.
          <aside class="note"><b>Note:</b> Connection names must meet the following criteria:
          <ul>
            <li>Connection names can use letters, numbers, or hyphens.</li>
            <li>Letters must be lower-case.</li>
            <li>Connection names must begin with a letter and end with a letter or number.</li>
            <li>Connection names cannot exceed 63 characters.</li>
          </ul>
        </aside>
        </li>
        <li>(Optional) <b>Description: </b> Enter a description for the connection.</li>
        <li>(Optional) <b>Enable Cloud Logging:</b> Select this checkbox to store all log data of the connection.</li>
        <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the ServiceNow connection.</li>
        <li><b>Enable event subscription:</b> Select to create and enable a new event subscription for the ServiceNow connection. You can either only enable event subscriptions or also include connection <a href="/integration-connectors/docs/entities-operation-action">entities, operations, and actions</a>.
        <aside class="note"><b>Note:</b> The following additional connection configuration steps are required if you choose to enable <a href="/integration-connectors/docs/entities-operation-action">entities, operations, and actions</a> for the connection:
          <ul>
            <li><a href="#destination">Destinations</a></li>
            <li><a href="#auth">Authentication</a></li>
          </ul>
        </aside>
      </li>
      <li><b>Include system tables:</b> Select to report or include system tables in the connection.</li>
      <li>(Optional) <b>Filter tables:</b> Enter the list of system tables (beginning with "<code>sys_</code>", comma separated), that you want to include.</li>
        <li>(Optional) Expand <b>Advanced settings</b> to configure the connection node settings.
          <p>
            For more information about the connection node settings for ServiceNow, see the <a href="/integration-connectors/docs/connectors/servicenow/configure">ServiceNow connection</a> documentation.
          </p></li>
        <li>(Optional) Click <b>+ Add label</b> to add a label to the connection in the form of a key-value pair.</li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>

  <li id="destination">
    In the <b>Destinations</b> step, provide the ServiceNow instance details: 
    <ol>
      <li><b>Destination Type:</b>  Select <b>Host address</b>.</li>
      <li><b>Host:</b> Enter the hostname or IP address of your ServiceNow instance.</li>
      <li>Click <b>Next</b>.</li>
    </ol>
  </li> 

  <li id="auth">
    In the <b>Authentication</b> step, provide the authentication details for the ServiceNow instance: 
    <ol>
      <li><b>Username:</b> Enter the username to access the provided destination address.</li>
        <li><b>Password:</b> Select the Secret Manager secret containing the password associated with the ServiceNow username.</li>
        <li><b>Secret version:</b> Select a secret version.</li>
        <p>To know more about how to configure authentication, see <a href="/integration-connectors/docs/connectors/servicenow/configure#configure-auth">Configure authentication</a>.</p>
      </li>
      <li>Click <b>Next</b>.</li>
    </ol>
  </li> 

    <li>
      In the <b>Event subscription details</b> step, provide the authentication details that will be used to validate the ServiceNow token payload: 
      <ol>
        <li><b>Authentication Token:</b>  (Optional) Select the Secret Manager secret of your authentication token, and the corresponding secret version from the <b>Secret Version</b> drop-down.</li>
        <li><b>HMAC Algorithm:</b> (Optional) Select the HMAC algorithm for encrypting the response payload.</li>
        <li><b>HMAC Secret Key:</b> If you have selected a <b>HMAC Algorithm</b>, select the Secret Manager secret of the HMAC key, and the corresponding secret version from the <b>Secret Version</b> drop-down.</li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li> 
  
    <li><b>Review</b>: Review the provided ServiceNow connection details.</li>
  <li>Click <b>Create</b> to complete creating a new ServiceNow connection.</li>
  </ol>
  </li>
  <li>Once the ServiceNow connection is created, you must go to your ServiceNow instance and manually create a business rule.
  <aside class="note">
    <b>Note:</b> ServiceNow doesn't auto-create a business rule. Therefore you must manually create a business rule in your ServiceNow instance to enable event subscriptions. For information on how to create a business rule, see <a href="#rule">Create a business rule</a>.
  </aside>
</li>

  <li><b>Event subscription type:</b> Enter the type of event that you want to use to trigger the integration. These event types must be defined in your ServiceNow instance <a href="https://docs.servicenow.com/bundle/sandiego-api-reference/page/script/business-rules/concept/c_BusinessRules.html" class="external">business rule</a>.</li> 
  <li>Click <b>Done</b> and close the page.</li>
  </ol>

<h3 id="rule">Create a business rule</h3>
<p>A ServiceNow business rule is a server-side logic that executes when a database record is queried, updated, inserted, or deleted in your ServiceNow instance. {{integration}} uses these business rules to identify and listen to events that trigger an integration.</p>
<p>For information on how to create a business rule, see <a href="https://docs.servicenow.com/en-US/bundle/utah-application-development/page/script/business-rules/concept/c_BusinessRules.html#title_t_CreatingABusinessRule" class="external">ServiceNow documentation</a>.</p>

<aside class="key-point">
  <b>Key Points:</b> 
  <ul>
    <li>Use the <b>Events listener endpoint</b> value from your ServiceNow connection in Integration Connectors to define the <code>request.setEndpoint</code> URL in your business rule.</li>
    <li>Use <code>eventType</code> as the <i>key</i> to define custom event types <i>values</i> in <code>request.setRequestBody</code>.</li>
  </ul>
</aside>

<p>The following image shows a sample ServiceNow business rule with the <code>update_ticket</code> event type:</p>
<img src="{{baseimagepath}}/images/servicenow_rule.png" alt="image showing sample ServiceNow business rule"
      data-modal-dialog-id="servicenow_rule" class="screenshot">

<devsite-lightbox id="servicenow_rule">
  <img src="{{baseimagepath}}/images/servicenow_rule.png" alt="image showing sample ServiceNow business rule">
</devsite-lightbox>

<h2 id="output">Trigger output</h2>
<p>The <b>ServiceNow trigger</b> takes a couple of minutes to complete the event subscription configuration. You can view the status of your event subscription in the trigger configuration pane under <b>Event Subscription details</b>.</p>
<p>The <b>ServiceNow trigger</b> indicates the status of an event subscription using the following states:</p>
<ul>
  <li><span class="material-icons">
    restart_alt
    </span><code>Creating</code>: Indicates that the trigger is subscribing to the event subscription.
  <li><span class="material-icons">
    check_circle
    </span><code>Active</code>: Indicates that the trigger is successfully subscribed to an event subscription.</li>
  <li><span class="material-icons">
    error
    </span><code>Error</code>: Indicates that the there is an issue with the configured event subscription. </li>
</ul>
<p>In addition to the event subscription status, the <b>Event Subscription details</b> section also displays other details such as connection region, connection name, event subscription name, and more.</p>
<p>The following image shows a sample layout of the ServiceNow trigger configuration pane:</p>
<img src="{{baseimagepath}}/images/servicenow_trigger_1.png" alt="image showing ServiceNow trigger configuration pane"
      data-modal-dialog-id="jira_ui" class="screenshot">

<devsite-lightbox id="jira_ui">
  <img src="{{baseimagepath}}/images/servicenow_trigger_1.png" alt="image showing ServiceNow trigger configuration pane">
</devsite-lightbox>



<h3>Trigger output variable</h3>
<p>
  For each event, the <b>ServiceNow trigger</b> generates a <code>ConnectorEventPayload</code> output variable which you can use in your downstream tasks. The output variable is in JSON format containing the output ServiceNow payload schema.
</p>

<h3>View event subscriptions</h3>
<p>To view and manage all the event subscriptions associated with a connection in Integration Connectors, do the following:</p>

<ol>
  <li>Go to <b>Integration Connectors > Connections</b> page.
      <p><a href="{% dynamic print site_values.console_url %}connectors/connections" target="console" class="button button-primary">
          Go to the Connections page</a></p></li>
  <li>Click the connection for which you want to view the subscriptions.</li>
  <li>Click the <b>Event subscriptions</b> tab.
  <p>This displays all the event subscriptions for the connection.</p>
  </li>
</ol>

  <h2>Edit ServiceNow trigger</h2>
  <p>You can edit a <b>ServiceNow trigger</b> to change or update the connection configuration and event subscription details.</p>
  <aside class="note"><b>Important:</b> When you edit or modify a ServiceNow trigger, you can either retain the previously configured event subscription that is attached to the trigger, or you can delete it. Deleting an event subscription will affect all the published integrations using that event subscription. </aside>
  <p>To edit a ServiceNow trigger, perform the following steps:</p>
  <ol>
  <li>Click the <b>ServiceNow trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure ServiceNow trigger</b>.</li>
  <li>Do the following in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li>To retain the previously configured event subscription, click <b>Retain</b>, else click <b>Delete</b>.
      <aside class="warning"><b>Warning:</b> Deleting an event subscription will affect all the published integrations using the event subscription. This task cannot be undone.</aside>
    </li>
    <li>Update the connection configuration and event subscription details as desired.</li>
    <li>Click <b>Done</b>.</li>
  </ol>
  </li>
  <p>You can view the updated connection and event subscription details in the trigger configuration pane under <b>Event Subscription details</b>.</p>
  </ol> 
  <h2>Quotas and limits</h2>
  <p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>
  
  <h2>What's next</h2>
  <ul>
    <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
    <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
      <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
    <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
  </ul>

{% endblock %}
