{% extends "application-integration/_base.html"  %}
{% block page_title %}Solace trigger{% endblock %}

{% block body %}
{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Solace trigger{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>The <b>Solace trigger</b> is a <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a> that lets you invoke an integration based on the <a href="#events">Solace events</a> that you've subscribed to in your Solace connection.</p>

<aside class="note"><b>Important:</b> Integration Connectors is a billable component of Google Cloud. For information about the costs and charges of using Integration Connectors, see <a href="/integration-connectors/docs/pricing">Integration Connectors pricing</a>.</aside>

<h2 id="iam">Before you begin</h2>
<p>If you plan to create or configure a new connection for the <b>Solace trigger</b>, make sure that you have the following IAM role on the project:</p>
<ul>
  <li>Connector Admin (<code>roles/connectors.admin</code>) </li>
  <p>For information about granting roles, see <a href="/iam/docs/granting-changing-revoking-access">Manage access</a>.</p>
</ul>

<p>Grant the following IAM roles to the service account that you want to use for the <b>Solace trigger</b>:</p>
<ul>
  <li>Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>) </li>
  <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
</ul>
<aside class="note"><b>Note: </b>The Solace trigger supports JMS (Java Message Service) protocol. Other protocols, such as MQTT and AMQP, are not supported.</aside>

<h2>Add the Solace trigger</h2>

<p>
To add a <b>Solace trigger</b> to your integration, perform the following steps:
</p>

<ol>
  {{apip_apigee_steps_trigger}}
  {{ apip_sa_steps_trigger }}
<li>Click and place the <b>Solace trigger</b> element in the integration editor.</li>
<p>To configure the <b>Solace trigger</b>, you can either use an existing Solace connection available in Integration Connectors, or create a new Solace connection using the inline connection creation option.</p>
</ol>

<h2>Configure Solace trigger using an existing connection</h2>

<p>
  You can configure the <b>Solace trigger</b> using an existing Solace connection in Integration Connectors. Note that the <b>Solace trigger</b> is an <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a>, therefore you can only use a Solace connection with event subscription enabled to configure the trigger. 
</p>
<p>For information about how to configure a <b>Solace trigger</b> using a new Solace connection, See <a href="#create">Configure Solace trigger using a new connection</a></p>
<p>To configure a <b>Solace trigger</b> using an existing Solace connection, perform the following steps:</p>

<ol>
  <li>Click the <b>Solace trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Provide the following configuration details in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li><b>Region:</b> Select the region of your Solace connection.</li>
      <li><b>Connection:</b> Select the Solace connection that you want to use.
      <p>{{integration}} only displays those Solace connections that are active and have an event subscription enabled. 
      </p>
    </li>
      <li>Select <code>Queue</code> or <codde>Topic</code> as the <code>JMS Source Type</code>.
        <ul>
            <li>If you select <code>Queue</code>, provide the Solace queue name in the <code>JMS Source Name</code> column.</li>
            <li>If you select <code>Topic</code>, provide the Solace topic name in the JMS Source Name column.</li>
        </ul> 
      </li>
     <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the Solace trigger.</li>
    </ol>
  </li>
  <li>Click <b>Done</b> to complete the trigger configuration and close the page.</li>
</ol>


<h2 id="create">Configure Solace trigger using a new connection</h2>


<p>To configure the <b>Solace trigger</b> using a new Solace connection, perform the following steps:</p>
<ol>
  <li>Click the <b>Solace trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Skip the <b>Region</b> field.</li>
  <li>Click <b>Connection</b> and select the <b>Create Connection</b> option from the drop-down menu.</li>
  <li>Complete the following steps in the <b>Create Connection</b> pane:
  <ol>
    <li>In the <b>Location</b> step, choose the location for the new Solace connection:
      <ol>
        <li><b>Region</b>: Select a location from the drop-down list.
        
          {{connector_regions}}
        </li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>

    {{configure_solace_connector}}
  </ol>

<h2 id="output">Trigger output</h2>
<p>The <b>Solace trigger</b> takes a couple of minutes to complete the event subscription configuration. You can view the status
   of your event subscription in the trigger configuration pane under <b>Event Subscription details</b>.</p>
<p>The <b>Solace trigger</b> indicates the status of an event subscription using the following states:</p>
  <ul>
    <li><span class="material-icons">
      restart_alt
      </span><code>Creating</code>: Indicates that the trigger is subscribing to the event subscription.
    <li><span class="material-icons">
      check_circle
      </span><code>Active</code>: Indicates that the trigger is successfully subscribed to an event subscription.</li>
    <li><span class="material-icons">
      error
      </span><code>Error</code>: Indicates that the there is an issue with the configured event subscription. </li>
</ul>
<p>In addition to the event subscription status, the <b>Event Subscription details</b> section also
   displays other details such as connection region, connection name, and event subscription name.</p>

<h3>Trigger output variable</h3>
<p>
  For each event, the <b>Solace trigger</b> generates a <code>ConnectorEventPayload</code>
   output variable (in JSON format) which you can use in your downstream tasks. The output 
  variable will have the payload from your Solace event. For example:
</p>
<pre class="prettyprint lang-json devsite-click-to-copy">{
"message": "Hello world",
"messageContentType": "Text"
}</pre>


  <h3>View event subscriptions</h3>
<p>To view and manage all the event subscriptions associated with a connection in Integration Connectors, do the following:</p>

<ol>
  <li>Go to <b>Integration Connectors > Connections</b> page.
      <p><a href="{{console_url}}connectors/connections" target="console" class="button button-primary">
          Go to the Connections page</a></p></li>
  <li>Click the connection for which you want to view the subscriptions.</li>
  <li>Click the <b>Event subscriptions</b> tab.
  <p>This displays all the event subscriptions for the connection.</p>
  </li>
</ol>

  <h2>Edit Solace trigger</h2>
  <p>You can edit a <b>Solace trigger</b> to change or update the connection configuration and event subscription details.</p>
  <aside class="note"><b>Important:</b> When you edit or modify a Solace trigger, you can either retain the previously configured event subscription that is attached to the trigger, or you can delete it. Deleting an event subscription will affect all the published integrations using that event subscription. </aside>
  <p>To edit a Solace trigger, perform the following steps:</p>
  <ol>
  <li>Click the <b>Solace trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure Solace trigger</b>.</li>
  <li>Do the following in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li>To retain the previously configured event subscription, click <b>Retain</b>, else click <b>Delete</b>.
      <aside class="warning"><b>Warning:</b> Deleting an event subscription will affect all the published integrations using the event subscription. This task cannot be undone.</aside>
    </li>
    <li>Update the connection configuration and event subscription details as desired.</li>
    <li>Click <b>Done</b>.</li>
  </ol>
  </li>
  <p>You can view the updated connection and event subscription details in the trigger configuration pane under <b>Event Subscription details</b>.</p>
  </ol> 

  <h2>Quotas and limits</h2>
  <p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>
  
  <h2>What's next</h2>
  <ul>
    <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
    <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
      <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
    <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
  </ul>

{% endblock %}
