{% extends "application-integration/_base.html" %}

{% include "/_shared/apis/console/_local_variables.html" %}

{% block page_title %}Insert data into BigQuery using a For Each Parallel task{% endblock %}

{% block body %}

<p>In this tutorial you'll create an {{integration}} and a sub-integration to process a series of records. For each record, the main integration  asynchronously invokes the sub-integration, which takes the data for each record and inserts it as a row in a table in a BigQuery dataset.</p>
<p>
In this tutorial, you'll complete the following tasks: </p>
<ul>
<li><a href="#setup-bigquery-connector">Set up a BigQuery connection</a></li>
<li><a href="#setup-sub-integration">Set up a sub-integration</a></li>
<li><a href="#setup-main-integration">Set up the main integration</a></li>
<li><a href="#test-integration">Test your integration</a></li>
</ul>

<h2>Before you begin</h2>

<ul>
  <li>Ensure that you have access to {{integration}}.</li>
  <li>
    <p>Do the following in your Google Cloud project:</p>
    <ul>
      <li>Grant the following roles to the service account that you want to use to create the connection:
        <ul>
          <li><code>roles/bigquery.dataEditor</code></li>
          <li><code>roles/bigquery.readSessionUser</code></li>
          <li><code>roles/secretmanager.viewer</code></li>
          <li><code>roles/secretmanager.secretAccessor</code></li>
        </ul>
      </li>
      <li>Enable the following services:
          <ul>
          {% include "/application-integration/docs/_shared/_common-enable-services.html" %}
          </ul>
        <p>If these services have not been enabled for your project previously, you are prompted to enable them
        when creating the connection in the Create Connection page.</p>
      </li>
    </ul>
  </li>
</ul>

<h2 id="setup-bigquery-connector">Set up a BigQuery connection</h2>
<p>
  Start by creating the BigQuery dataset and table to use in this tutorial. After you've created the dataset and table, create a BigQuery connection. You'll use this connection in an integration later on in this tutorial.
</p>

<h3>Set up a BigQuery dataset and table</h3>

<p>To set up your BigQuery dataset and table, perform the following steps:</p>

<ol>
  <li>
    In the <a href="{{console_url}}">Cloud console</a> page,
    select your {{gcp_name}} project. </li>
  <li>To launch a Cloud Shell session from the {{ console_name_short }},
    click the <img src="/shell/docs/images/activate_cloud_shell.svg" alt="Activate Cloud Shell icon">
    <b>Activate Cloud Shell</b> icon in the
    <a href="{{console_url}}">Cloud console</a>. This launches a
    session in the bottom pane of {{ console_name_short }}.
  </li>
  <li>
    To enable BigQuery APIs, enter the following commands in your Cloud Shell terminal:
    <pre class="devsite-click-to-copy">
export PROJECT_ID=<var>project_id</var>
export REGION=<var>region</var>
gcloud services enable --project "${PROJECT_ID}" \
    bigquery.googleapis.com \
    bigquerystorage.googleapis.com</pre>
    In this command, replace:
    <ul>
      <li><code>project_id</code> with the project ID of your {{gcp_name}} project.
      </li>
      <li><code>region</code> with the region that you want to use to create your BigQuery dataset.
      </li>
    </ul>
  </li>
  <li>To create a BigQuery dataset with the name <code>bq_tutorial</code>, enter the following command in your Cloud Shell terminal:
    <pre class="devsite-click-to-copy">
      bq  --project_id ${PROJECT_ID} --location ${REGION} mk bq_tutorial
    </pre>
  </li>
  <li>To create a BigQuery table with the name <code>tutorial</code>, enter the following command in your Cloud Shell terminal:
    <pre class="devsite-click-to-copy">
      bq --project_id ${PROJECT_ID} \
        query  \
        --nouse_legacy_sql \
      'create table bq_tutorial.tutorial (
      unique_key STRING NOT NULL,
      created_date STRING,
      closed_date STRING,
      agency STRING,
      agency_name STRING,
      complaint_type STRING,
      descriptor STRING,
      location_type STRING,
      incident_zip STRING,
      incident_address STRING,
      street_name STRING,
      cross_street_1 STRING,
      cross_street_2 STRING,
      intersection_street_1 STRING,
      intersection_street_2 STRING,
      address_type STRING,
      city STRING,
      landmark STRING,
      facility_type STRING,
      status STRING,
      due_date STRING,
      resolution_action_updated_date STRING,
      community_board STRING,
      borough STRING,
      x_coordinate_state_plane STRING,
      y_coordinate_state_plane STRING,
      park_facility_name STRING,
      park_borough STRING,
      school_name STRING,
      school_number STRING,
      school_region STRING,
      school_code STRING,
      school_phone_number STRING,
      school_address STRING,
      school_city STRING,
      school_state STRING,
      school_zip STRING,
      school_not_found STRING,
      school_or_citywide_complaint STRING,
      vehicle_type STRING,
      taxi_company_borough STRING,
      taxi_pick_up_location STRING,
      bridge_highway_name STRING,
      bridge_highway_direction STRING,
      bridge_highway_segment STRING,
      road_ramp STRING,
      garage_lot_name STRING,
      ferry_direction STRING,
      ferry_terminal_name STRING,
      latitude STRING,
      longitude STRING,
      location STRING
      ) '
  </li>
  <li>
    Verify that your BigQuery table is created.
    <ol>
      <li>
      In the <a href="{{console_url}}">Cloud console</a> page,
      click the <span class="material-icons">menu</span> <b>Navigation menu</b>.</li>
      <li>In the <b>Analytics</b> section, click <b>BigQuery</b>.
      </li>
      <li>
        Expand your project and confirm that the <code>bq_tutorial</code> dataset is listed.
      </li>
      <li>
        Expand the <b>bq_tutorial</b> dataset and confirm that the <code>tutorial</code> table is listed.
      </li>
      <li>
        Click the documents table to view the schema.
      </li>
    </ol>
  </li>
</ol>

<h3>Create a BigQuery connection</h3>

<p>
  Next, you'll create a BigQuery connection. A BigQuery connection lets you insert, read, update and delete rows in a BigQuery table and use the resulting output in an integration. After creating the BigQuery connection, you'll use this connection in an integration later in this tutorial to add rows to the BigQuery table.
</p>
<p>To create a BigQuery connection, complete the following steps:</p>
<ol>
  <li>
  In the <a href="{{console_url}}">Cloud console</a> page,
  select your Google Cloud project. </li>
  <li>
  Open the <a href="{{console_url}}/connectors/connections">connections page</a>. </li>
  <li>Click <b>+ CREATE NEW</b> to open the <b>Create Connection</b> page.</li>
  <li>Configure the connection:
    <ol>
      <li>In the <b>Create Connection</b> section, complete the following:
        <ul>
          <li><b>Connector</b>: Select <b>BigQuery</b> from the drop down list of available Connectors.</li>
          <li><b>Connector version</b>:  Select the latest Connector version from the drop down list of available versions.
          </li>
          <li>In the <b>Connection Name</b> field, enter a name for the Connection instance. For this tutorial, enter <b>connector-bq-tutorial</b>.
          <aside class="note"><b>Note: </b>Connection names must meet the following criteria:
            <ul>
              <li>Connection names can use letters, numbers, or hyphens.</li>
              <li>Letters must be lower case.</li>
              <li>Connection names must begin with a letter and end with a letter or number.</li>
              <li>Connection names cannot exceed 63 characters.</li>
            </ul></aside>
          </li>
          <li>Optionally, add a <b>Description</b> of the connection instance.</li>
          <li><b>Service Account</b>: Select a service account that has the <a href="#before-you-begin">required roles</a>.</li>
          <li><b>Project ID</b>: Enter the ID of the Google Cloud project where the BigQuery data resides.</li>
          <li><b>Dataset ID</b>: Enter the ID of the BigQuery dataset that you want to use. For this tutorial, enter <b>bq_tutorial</b>.</li>
          <li>Optionally, click <b>+ ADD LABEL</b> to add a label in the form of a key/value pair.</li>
          <li>Click <b>Next</b>.</li>
        </ul>
      </li>
      <li><b>Location</b>: Select a region from where the connection will run. Supported
        regions for {{connectors_name}} include:
        <ul>
           {{connector_regions}}

          <li>Click <b>Next</b>.</li>
        </ul>
      </li>
      <li><b>Authentication</b>: The BigQuery connection does not require authentication configuration. Click <b>Next</b>.
      <li><b>Review</b>: Review your connection's configuration details. In this section, the connection and authentication details
      of the new connection are displayed for your review.
      </li>
    </ol>
  <li>Click <b>Create</b>.</li>
</ol>
<aside class="note"><b>Note:</b> It could take a few minutes to create the connector.</aside>

<h2 id="setup-sub-integration">Set up a sub-integration</h2>

<p>
  In this tutorial, the sub-integration takes each record sent to it by the main integration and inserts it as a row in the <code>tutorial</code> table in the <code>bq_tutorial</code> dataset.
</p>


<h3 id="create-sub-integration">Create a sub-integration</h3>

<p>
  To create the sub-integration, complete the following steps:
</p>
<ol>
  {{apip_common_steps}}
  <li>Click <b>Create integration</b>.</li>
  <li>In the <b>Create Integration</b> dialog, do the following:</li>
    <ul>
      <li>Enter a name, for example, enter <b>Process-each-record</b>
      <aside class="note"><b>Note</b>: Integration names must meet the following requirements:
        <ul>
          <li>Names must start and end with letters or numbers.</li>
          <li>Names cannot contain spaces or more than one dash or underscore in a row.</li>
        </ul>
      </aside>
      </li>
      <li>Optionally, enter a description. For example, enter <b>API Trigger to process each record (sub-integration)</b>
      </li>
      <li>Select the region where you want to create your integration.
      </li>
    </ul>
  </li>
  <li>Click <b>Create</b> to open the integration editor.</li>
</ol>

<h3 id="add-api-trigger-sub">Add an API Trigger</h3>

<p>To add an API Trigger to the integration, do the following:
  <ol>
  <li>In the integration editor, select <b>Add a task/trigger > Triggers</b> to display a list of available triggers.</li>
<li>Drag the <b>API Trigger</b> element to the integration editor.</li>
</ol>

<h3 id="add-data-mapping">Add a Data Mapping task</h3>

<p>
  To add a Data Mapping task in the integration, complete the following steps:
</p>
<ol>
  <li>Select <b>+Add a task/trigger > Tasks</b> in the integration editor to display the list of available tasks.
  </li>
  <li>Drag the <b>Data Mapping</b> element to the integration editor.</li>
</ol>

<h3 id="configure-connection">Configure the BigQuery connection</h3>

<p>
  Now you are ready to use the BigQuery connection that you created earlier in the sub-integration. To configure the BigQuery connection in this integration, complete the following steps:
</p>
<ol>
  <li>Select <b>+Add a task/trigger > Tasks</b> in the integration editor to display the list of available tasks.
  </li>
  <li>Drag the <b>Connectors</b> element to the integration editor.</li>
  <li>Click the <b>Connectors</b> task element on the designer to view the task configuration pane.</li>
  <li>Click the edit icon on the right panel and update the Label to <b>Insert row to BigQuery</b>.</li>
  <li>Click <b>Configure task</b>.
    <p>
    The <b>Configure connector task</b> dialog appears.
    </p>
  </li>
  <li>In the <b>Configure connector task</b> dialog, do the following:
    <ol>
      <li>Select the connection region where you created your BigQuery connection.
      </li>
      <li>Select the BigQuery connection that you want to use. For this tutorial, select <b>connector-bq-tutorial</b>.
      </li>
      <li>Once a connection is chosen, the <b>Type</b> column appears. Select <b>Entities</b> and then <b>tutorial</b> from the list of available entities.</li>
      <li>Once a type is chosen, the <b>Operation</b> column appears. Select <b>Create</b>.</li>
      <li>Click <b>Done</b> to complete the connection configuration and close the dialog.</li>
    </ol>
  </li>
</ol>

<h3 id="connect-elements-sub">Connect the integration elements</h3>

<p>
  Next, add edge connections to connect the <b>API Trigger</b> to the <b>Data Mapping</b> task and the <b>Data Mapping</b> task to the <b>Connectors</b> task. An edge connection is a connection between any two elements in an integration. For more information on edges and edge conditions, see <a href="{{basehrefpath}}/edge-overview">Edges</a>.</p>
<p>To add the edge connections, complete the following steps:</p>
<ol>
  <li>
    Click the <b>Fork</b> control point at the bottom of the <b>API Trigger</b> element. Drag and drop the edge connection at the <b>Join</b> control point at the top of the <b>Data Mapping</b> element.
  </li>
  <li>
    Click the <b>Fork</b> control point at the bottom of the <b>Data Mapping</b> element. Drag and drop the edge connection at the <b>Join</b> control point at the top of the <b>Connectors</b> element.
  </li>
</ol>

<h3 id="configure-datamapping">Configure the Data Mapping task</h3>

<p>
To configure the Data Mapping task, complete the following steps:
</p>
<ol>
  <li>In the integration editor, click the <b>Data Mapping</b> task to view the task configuration pane.
  </li>
  <li>Click <b>Open Data Mapping Editor</b>.
  </li>
  <li>In the <b>Data Mapping Editor</b>, click <b>Add</b> to add a new variable.
  </li>
  <li>In the <b>Create Variable</b> dialog, enter the following information:
    <ul>
      <li>
        <b>Name:</b> Enter <b>record</b>.
      </li>
      <li>
        <b>Data Type:</b> Select <b>JSON</b>.
      </li>
      <li>
        <b>Schema:</b> Select <b>Infer from a sample JSON payload</b>. Enter the following sample JSON payload:
          <pre class="devsite-click-to-copy">
            {
              "unique_key":"304271",
              "created_date":"02/06/2007 12:00:00 AM",
              "closed_date":"03/01/2007 12:00:00 AM",
              "agency":"TLC",
              "agency_name":"Taxi and Limousine Commission",
              "complaint_type":"Taxi Complaint",
              "descriptor":"Driver Complaint",
              "location_type":"Street",
              "incident_zip":"10001",
              "incident_address":"",
              "street_name":"",
              "cross_street_1":"",
              "cross_street_2":"",
              "intersection_street_1":"WEST 29 STREET",
              "intersection_street_2":"7 AVENUE",
              "address_type":"INTERSECTION",
              "city":"NEW YORK",
              "landmark":"",
              "facility_type":"N/A",
              "status":"Closed",
              "due_date":"02/28/2007 12:00:00 AM",
              "resolution_action_updated_date":"03/01/2007 12:00:00 AM",
              "community_board":"05 MANHATTAN",
              "borough":"MANHATTAN",
              "x_coordinate_state_plane":"986215",
              "y_coordinate_state_plane":"211740",
              "park_facility_name":"",
              "park_borough":"MANHATTAN",
              "school_name":"",
              "school_number":"",
              "school_region":"",
              "school_code":"",
              "school_phone_number":"",
              "school_address":"",
              "school_city":"",
              "school_state":"",
              "school_zip":"",
              "school_not_found":"",
              "school_or_citywide_complaint":"",
              "vehicle_type":"",
              "taxi_company_borough":"",
              "taxi_pick_up_location":"Other",
              "bridge_highway_name":"",
              "bridge_highway_direction":"",
              "road_ramp":"",
              "bridge_highway_segment":"",
              "garage_lot_name":"",
              "ferry_direction":"",
              "ferry_terminal_name":"",
              "latitude":"40.74785373937869",
              "longitude":"-73.99290823133913",
              "location":"(40.74785373937869, -73.99290823133913)"
            }
          </pre>
      </li>
    </ul>
  </li>
  <li>Click <b>Create</b>.
  </li>
  <li>When the variable is created, in the <b>Data Mapping Editor</b>, complete the following steps:
    <ul>
      <li>Drag the new <b>record</b> variable to the <b>Input</b> column. </li>
      <li>Drag the <b>connectorInputPayload</b> variable to the <b>Output</b> column.</li>
    </ul>
  </li>
  <li>Close the <b>Data Mapping Editor</b> to return to the integration editor.
  </li>
</ol>

<h3 id="publish-sub-integration">Publish the sub-integration</h3>
<p>
  To publish the sub-integration, in the integration editor, click <b>Publish</b>.
</p>


<h2 id="setup-main-integration">Set up the main integration</h2>

<p>
  In this section, you set up the main integration, which uses a <b>For Each Parallel</b> task to process each record. This main integration then invokes the sub-integration once for each record.
</p>

<h3 id="create-main-integration">Create the main integration</h3>

<p>
To create the main integration, complete the following steps:
</p>
<ol>
  {{apip_common_steps}}
  <li>Click <b>Create integration</b>.</li>
  <li>In the <b>Create Integration</b> dialog, do the following:</li>
    <ul>
      <li>Enter a name, for example, enter <b>process-records</b>.
      <aside class="note"><b>Note</b>: Integration names must meet the following requirements:
        <ul>
          <li>Names must start and end with letters or numbers.</li>
          <li>Names cannot contain spaces or more than one dash or underscore in a row.</li>
        </ul>
      </aside>
      </li>
      <li>Optionally, enter a description. For example, enter <b>API Trigger to process records (main integration)</b>
      </li>
      <li>Select the region where you want to create your integration.
      </li>
    </ul>
  </li>
  <li>Click <b>Create</b> to open the integration editor.</li>
</ol>

<h3 id="add-api-trigger-main">Add an API Trigger</h3>

<p>To add an API Trigger to the integration, do the following:
  <ol>
  <li>In the integration editor, select <b>Add a task/trigger > Triggers</b> to display a list of available triggers.</li>
<li>Drag the <b>API Trigger</b> element to the integration editor.</li>
</ol>

<h3 id="add-for-each-parallel">Add a For Each Parallel task</h3>

<p>
  To add a For Each Parallel task in the integration, complete the following steps:
</p>
<ol>
  <li>Select <b>+Add a task/trigger > Tasks</b> in the integration editor to display the list of available tasks.
  </li>
  <li>Drag the <b>For Each Parallel</b> element to the integration editor.</li>
</ol>


<h3 id="connect-elements-main">Connect the integration elements</h3>

<p>Next, add an edge connection to connect the API Trigger to the For Each Parallel task.</p>

<p>To add the edge connection, click the <b>Fork</b> control point at the bottom of the API Trigger element. Drag and drop the edge connection at the <b>Join</b> control point at the top of the For Each Parallel task element.</p>

<h3 id="configure-for-each-parallel">Configure the For Each Parallel task</h3>

<p>
To configure the For Each Parallel task, complete the following steps:
</p>
<ol>
    <li>In the integration editor, click the <b>For Each Parallel</b> task to view the task configuration pane.
    </li>
    <li>Under <b>Array Selection > List to iterate</b>, click <b>Add new variable</b> to add a new variable.
    </li>
    <li>In the <b>Create Variable</b> dialog, enter the following information:
      <ul>
        <li>
          <b>Name:</b> Enter <code>records</code>
        </li>
        <li>
          <b>Data Type:</b> Select <b>JSON</b>.
        </li>
        <li>
          <b>Schema:</b> Select <b>Infer from a sample JSON payload</b>. Enter the following sample JSON payload:
            <pre class="devsite-click-to-copy">
              [{
                "unique_key":"304271",
                "created_date":"02/06/2007 12:00:00 AM",
                "closed_date":"03/01/2007 12:00:00 AM",
                "agency":"TLC",
                "agency_name":"Taxi and Limousine Commission",
                "complaint_type":"Taxi Complaint",
                "descriptor":"Driver Complaint",
                "location_type":"Street",
                "incident_zip":"10001",
                "incident_address":"",
                "street_name":"",
                "cross_street_1":"",
                "cross_street_2":"",
                "intersection_street_1":"WEST 29 STREET",
                "intersection_street_2":"7 AVENUE",
                "address_type":"INTERSECTION",
                "city":"NEW YORK",
                "landmark":"",
                "facility_type":"N/A",
                "status":"Closed",
                "due_date":"02/28/2007 12:00:00 AM",
                "resolution_action_updated_date":"03/01/2007 12:00:00 AM",
                "community_board":"05 MANHATTAN",
                "borough":"MANHATTAN",
                "x_coordinate_state_plane":"986215",
                "y_coordinate_state_plane":"211740",
                "park_facility_name":"",
                "park_borough":"MANHATTAN",
                "school_name":"",
                "school_number":"",
                "school_region":"",
                "school_code":"",
                "school_phone_number":"",
                "school_address":"",
                "school_city":"",
                "school_state":"",
                "school_zip":"",
                "school_not_found":"",
                "school_or_citywide_complaint":"",
                "vehicle_type":"",
                "taxi_company_borough":"",
                "taxi_pick_up_location":"Other",
                "bridge_highway_name":"",
                "bridge_highway_direction":"",
                "road_ramp":"",
                "bridge_highway_segment":"",
                "garage_lot_name":"",
                "ferry_direction":"",
                "ferry_terminal_name":"",
                "latitude":"40.74785373937869",
                "longitude":"-73.99290823133913",
                "location":"(40.74785373937869, -73.99290823133913)"
              }]
            </pre>
        </li>
      </ul>
    </li>
    <li>Click <b>Create</b>.
    </li>
    <li>In the <b>Sub-integration Details</b> section, enter the following information:
      <ul>
        <li><b>API Trigger ID:</b> Select the API Trigger element in the sub-integration. For example, select <b>Process-each-record_API_1</b>.
        </li>
        <li><b>Execution strategy:</b> Select <b>ASYNC</b>.
        </li>
        <li>Select <b>Run a single integration</b>.
        </li>
      </ul>
    </li>
    <li>In the <b>On each execution</b> section, for <b>Where to map individual array elements</b>, enter the name of the variable in the data mapping task in the sub-integration. In this case, enter <b>record</b>.  The sub-integration variables are listed only for publsihed integrations. If the variables aren't listed, refresh the page, as it takes some time for the variables to be visible after the sub-integration is published.
    </li>
</ol>

<h3 id="publish-main-integration">Publish the main integration</h3>

<p>
  To publish the main integration, in the integration editor, click <b>Publish</b>.
</p>

<h2 id="test-integration">Test your integration</h2>
<p>
  To test your integration, complete the following steps:
</p>
<ol>
  <li>Download sample data to your Cloud Shell:
    <ol>
      <li>To launch a Cloud Shell session from the {{ console_name_short }},
        click the <img src="/shell/docs/images/activate_cloud_shell.svg" alt="Activate Cloud Shell icon">
        <b>Activate Cloud Shell</b> icon in the
        <a href="{{console_url}}">Cloud console</a>. This launches a
        session in the bottom pane of {{ console_name_short }}.
      </li>
      <li>Enter the following command in your Cloud Shell terminal:
        <pre class="devsite-click-to-copy">
wget https://raw.githubusercontent.com/GoogleCloudPlatform/application-integration-samples/main/assets/bq-sample-dataset.json
        </pre>
      </li>
      <li>To verify that the sample data was downloaded, enter the following command in your Cloud Shell terminal:
        <pre class="devsite-click-to-copy">
ls -la bq-sample-dataset.json</pre>
        The downloaded file is listed in the Cloud Shell terminal.
      </li>
      
    </ol>
  </li>
  <li>To select three random entries from the sample dataset and store them in a way that you can pass them to the integration, enter the following commands in your Cloud Shell terminal:
    <pre class="devsite-click-to-copy">
AUTH=$(gcloud auth print-access-token)
export SAMPLE_DOCS=$(jq $(r=$((RANDOM % 1000)) ; echo &quot;.[$r:$((r + 3))]&quot;) &lt; bq-sample-dataset.json | jq -Rs '.')
            
generate_post_data()
  {
    cat &lt;&lt;EOF
      {
        &quot;triggerId&quot;: &quot;api_trigger/process-records_API_1&quot;,
        &quot;inputParameters&quot;: 
          {
            &quot;records&quot;: 
              {
                &quot;jsonValue&quot;: $SAMPLE_DOCS
              }
          }
      }
      EOF
  }</pre>
  </li>  
  <li>To start the testing, enter the following command in your Cloud Shell terminal:
    <pre class="devsite-click-to-copy">
curl -X POST \
  https://integrations.googleapis.com/v1/projects/<var>project_id</var>/locations/<var>region</var>/integrations/process-records:execute \
  -H &quot;Authorization: Bearer $AUTH&quot; \
  -H &quot;Content-Type: application/json&quot; \
  -d &quot;$(generate_post_data)&quot;</pre>

In this command, replace:
  <ul>
    <li><code>project_id</code> with the project ID of your {{gcp_name}} project.
    </li>
    <li><code>region</code> with the region where you created your integration.
    </li>
  </ul>

This command invokes the main integration and passes the entries from the sample dataset to the main integration. The main integration then passes each entry to the sub-integration, which adds the data as a row in your BigQuery table.
  </li>
  <li>To verify that your BigQuery table now contains these records, perform the following steps:
    <ol>
      <li>
      In the <a href="{{console_url}}">Cloud console</a> page,
      click the <span class="material-icons">menu</span> <b>Navigation menu</b>.</li>
      <li>In the <b>Analytics</b> section, click <b>BigQuery</b>.
      </li>
      <li>
        Expand your project and click the <code>bq_tutorial</code> dataset.
      </li>
      <li>
        Expand the <b>bq_tutorial</b> dataset and click the <code>tutorial</code> table.
      </li>
      <li>
        Click the <b>Table Explorer</b> tab to view the inserted records.
      </li>
    </ol>
  </li>
</ol>

<h2>What's next</h2>
<p>Try building integrations with other connectors. For the list
  of all the supported connectors,
  see <a href="/integration-connectors/docs/connector-reference-overview">
  Connector reference</a>.</p>


{% endblock %}

