{% extends "application-integration/_base.html" %}
{% block page_title %}Integration versions{% endblock %}
{% block body %}

<p>Integrations are design time entities that are often developed in collaboration with multiple authors.
  Although an integration can only be actively edited by one author at a time,
  teams can collaborate on an integration and track changes in state through its <em>versions</em>.
</p>

<p>A version of an integration can be in any of the following states:
  <ul>
    <li><code>DRAFT</code>: The state of an integration version actively being edited by an author.
    When an integration is in <code>DRAFT</code>, edit capabilities are only available to the current author.
      The integration is locked for editing by others for 15 minutes from the last update. Locks are released after 15 minutes from the last update.</li>
    <li><code>SNAPSHOT</code>: When a new author takes over editing a version, the existing version
      is converted to <code>SNAPSHOT</code> and a new <code>DRAFT</code> is created.</li>
    <li><code>ACTIVE</code>: The state of a published version.</li>
    <li><code>DELETED</code>: The state of a version that has been deleted by an author, or remains
    untouched for a specified period of time.</li>
</ul>

<p>Only a <code>DRAFT</code> version of the integration is editable and only an <code>ACTIVE</code> version of the integration can be run from the integration editor or fired by a configured trigger. For information about editing integrations and edit locks, see <a href="/application-integration/docs/view-integration-details">Edit and view integrations</a>.
</p>

<h2>Viewing Version History</h2>

<p>To view the version history of an integration, use the following steps:
<ol>
  {{apip_common_steps}}
   <li>Select an existing integration. This opens the integration in the <i>integration editor</i>.
  <li>Click the <strong>Version</strong> drop-down in the designer toolbar. The drop-down lists all available versions of the integration, along with a color indicating
  the version status:
  <ul>
    <li><strong>Green</strong>: The version is currently active.</li>
    <li><strong>Yellow</strong>: The version is currently being edited.</li>
    <li><strong>Gray</strong>: The version is inactive.</li>
  </ul>
  </li>

<li>Click on a version, and the integration editor displays the requested version in its last modified state.</li>
</ol>

<h2>Create a new version</h2>

<p>To create a new version of an existing integration:
  <ol>
    <li>Click the <strong>Version</strong> drop-down in the integration editor toolbar.
<li>Select <strong>Create New Version</strong>.</li>
<li>(Optional) Add a label to the new version to help other editors identify the version.</li>
    <li>Click <strong>OK</strong>.</li>
</ol>


<h2>Delete a version</h2>

<p>To delete a version of an integration that is no longer in use, perform the following steps:
</p>
<aside class="caution"><strong>Caution</strong>: Deleting all versions of an integration will result in deleting the entire integration.
</aside>
<ol>
<li>Click the <strong>Version</strong> drop-down, and select the version to delete.
  <p>
    The integration editor displays the requested version in its last modified state.
  </p></li>
  <li>In the toolbar, click <span class="material-icons">
    more_vert
    </span> (Actions menu) and select <strong>Delete the current version</strong>.</li>
  <li>In the confirmation dialog, click <strong>OK</strong>.

  </li>
</ol>

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>

{% endblock %}