{% extends "application-integration/_base.html" %}
{% block page_title %}Introduction to logs{% endblock %}
{% block body %}

<p>
  This page describes the different types of logs available for {{integration}} and when to use them.
</p>

<h2 id="overview">Overview</h2>
<p>
  {{integration}} enables you to generate logs for your integration executions. You can use these
  logs to troubleshoot execution failures, monitor usage, or set alerts. There are two ways
  of viewing your logs:

  <ul>
    <li><b>Integration execution logs.</b> These logs are generated when integrations are executed. These logs can either be viewed in <a href="#integration-logs">{{integration}}</a> and <a href="#cloud-logs">{{logging_name}}</a>.
    </li>
      <li><b>Audit logs.</b> With <a href="#audit-logs">audit logs</a> you can understand who did what, where, and when within your integration. These logs can be only be viewed in {{logging_name}} with no extra charges incurred by the logs.</a> 
  </ul>
</p>

With {{integration}}, you can leverage {{logging_name}} features including setting alerts on these logs and custom retention by storing execution logs in {{logging_name}}.

<h2 id="integration-logs">{{integration}} logs</h2>
<p>When you execute an integration, the execution logs are generated for that integration and stored in the region where you created your integration. You can access these logs to troubleshoot errors and view the status of each step in an integration.
The following image displays the <b>Execution Logs</b> page:</p>
    <p>
      <img src="/application-integration/images/execution-logs.png" alt="image showing the Execution Logs page"
        data-modal-dialog-id="ID0" class="screenshot">
      <devsite-lightbox id="ID0">
        <img src="/application-integration/images/execution-logs.png" alt="iimage showing the Execution Logs page">
      </devsite-lightbox>

<p>For more information about viewing logs in {{integration}}, see <a href="{{baseimagepath}}/docs/integration-execution-logs">Integration execution logs</a>.</p>

<h2 id="cloud-logs">{{logging_name}}</h2>

<p><a href="/logging/docs/overview">{{logging_name}}</a> is a real-time log-management system with storage, search, analysis, and monitoring support. With {{integration}}, you can leverage {{logging_name}} features. By default, {{logging_name}} is disabled for integrations. You can <a href="{{baseimagepath}}/docs/cloud-logging#before-you-begin">enable logging for an integration</a> by editing the unpublished version of the integration.
 </p>
 <p>
 {{logging_name}} captures integration runtime logs for the following levels of severity:</p>
<ul>
  <li><b>Info: </b> Logs containing executions logs and other details related to all integration executions: <code>SUCCEEDED</code>, <code>FAILED</code>, <code>PROCESSING</code>, <code>PENDING</code>, <code>SUSPENDED</code>, and <code>CANCELLED</code>.</li>
  <li><b>Error and Warning: </b> Logs containing executions logs and other details related to the <code>FAILED</code> and <code>CANCELLED</code> integration execution states.</li>
 <p>For a list of integration execution states, see <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.executions#state">Execution states</a>.</p>
</ul>

<p>For information about how to view logs in {{logging_name}}, see <a href="{{baseimagepath}}/docs/cloud-logging">View integration logs in {{logging_name}}</a>.</p>

<p>For information about troubleshooting failed execution logs using AI, see <a href="/application-integration/docs/troubleshoot-failed-execution-logs">Troubleshoot failed execution logs using AI</a>.</p>

<aside><b>Note:</b> {{logging_name}} only supports log entries that are up to 256 KiB in size. If your logs exceed this limit, the request and response parameters are not shown in the logging details. In that case, you can update the integration variables so that the value doesn't exceed the limit. Alternatively, you can <a href="/application-integration/docs/integration-execution-logs">view these logs in {{integration}}</a>.</aside>

<h3>Log buckets</h3>
 <p>Integration execution logs are stored in the <code>_Default</code> bucket with the default storage location configured. You can route logs to different destinations:</p>

 <ul>
    <li>Send logs to different log buckets with different storage locations using inclusion and exclusion filters of {{logging_name}}.</li>
    <li>Export the logs to different destinations like {{bigquery_name}} or {{pubsub_name}}.</li>
  </ul>
<p>For more information about {{logging_name}} routing and storage, see <a href="/logging/docs/routing/overview">Routing and storage overview</a>.</p>

<h2 id="audit-logs">Audit logs</h2>
<p>
  For information about audit logs, see <a href="{{baseimagepath}}/docs/audit-logging">View audit logs</a>.
</p>

<h2>Pricing</h2>
<p>{{integration}} logs don't have any additional costs but audit logs and {{logging_name}} have different pricing models.
For information about pricing for {{logging_name}}, see <a href="/stackdriver/pricing#logging-costs">{{logging_name}} pricing</a>.
</p>

<h2>Limitations</h2>

    <p>Integration logs are subject to the following limitations:</p>
    <ul>
      <li>{{logging_name}} only supports log entries that are up to 256 KiB in size. If your logs exceed this limit, the request and response parameters are not shown in the logging details. For information about {{logging_name}} quotas and limits, see <a href="/logging/quotas">Quotas and limits</a>. To resolve this error, modify the value of the integration variables so that the value doesn't exceed the limit. Alternatively, you can also <a href="/application-integration/docs/integration-execution-logs">view these logs in {{integration}}</a>. This limitation is applicable to <a href="/application-integration/docs/cloud-logging">{{logging_name}} logs</a>.</li>

      <li>If <a href="/application-integration/docs/local-logging">local logging</a> is disabled, the execution logs are not sent to {{logging_name}} even if {{logging_name}} is enabled. This limitation is applicable to both <a href="/application-integration/docs/integration-execution-logs">Integration execution logs</a> and <a href="/application-integration/docs/cloud-logging">{{logging_name}} logs</a>.</li>
    </ul>

<h2>What's next</h2>
<ul>
  <li>Learn how to <a href="/application-integration/docs/cloud-monitoring">monitor you integrations using {{monitoring_name}}</a></li>
  <li>Learn how to <a href="/application-integration/docs/alerts">create alerts</a></li>
</ul>

{% endblock %}