{% extends "application-integration/_base.html" %}
{% block page_title %}Mask sensitive data in logs{% endblock %}
{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Mask sensitive data in logs{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>This document describes masking sensitive data in integration execution logs.</p>

<h2>About data masking</h2>

<p>{{integration}} generates log messages for each integration execution. These logs can contain information that is used to determine the status of each integration step, or to troubleshoot failed integrations, tasks, or events. However, if you have enabled <a href="/application-integration/docs/local-logging">local logging</a> or <a href="/application-integration/docs/cloud-logging">{{logging_name}}</a>, all data variables and fields are included in the log output of the execution log or {{logging_name}} respectively. These logs can also include sensitive or personally identifiable information (PII) that you don't want to be visible in the log output. With {{integration}}, you can mask sensitive data in the log output so that this information is not visible when you review the logs.</p>

<h2>Benefits</h2>
<p>Masking sensitive data in logs provides the following benefits:</p>
<ul>
  <li>Improve customer security and privacy</li>
  <li>Comply with data privacy regulations</li>
</ul>

<h2>Supported data types</h2>
<p>You can mask variables for all supported data types in {{integration}}.</p>

<h2>Mask sensitive data in logs</h2>
<p>To mask sensitive data in logs for a project, you must enable masking for all of the following resources:</p>
<ul>
  <li><a href="/application-integration/docs/enable-new-region#edit-region">Project by enabling masking for all regions in that project</a></li>
  <li><a href="/application-integration/docs/view-integration-details">Integration</a></li>
  <li><a href="/application-integration/docs/variables#create-a-variable">Variables</a></li>
</ul>

<p><i>Project-level</i> masking control signifies the highest tier of the masking hierarchy, subsequently followed by <i>integration</i> and <i>variables</i>. Authorization for project-level masking is established by using a flag at the region level. To enable project-level masking, enable masking for all regions within your projects. In your project, if you have enabled masking for the integration and the variable, but disabled masking for the region that contains the integration, then the masking functionality doesn't work. Similarly, if integration masking is disabled, variable masking for that integration doesn't work even if you have enabled masking at the region level.</p>
<p>Suppose, you have a project that contains a region with multiple integrations. You want to disable masking for specific integration. In such a case, you can enable masking for the region and disable it for the specific integration that doesn't require masking. Based on your business needs, for your project, you can enable masking at the region, integration, and the variable level. On the other hand, if a project has multiple regions and you have enabled masking for only one region, then end-to-end masking will work only for that region and all integrations built within that region.</p>

<h3>Masking format</h3>
<p>Variables are masked in the fixed masking format. For example, the following format shows a masked variable of type string and length 12:
  <code>Masked String of length 12</code>
<p>You can search for masked variables with the <code>/Masked.*\./</code> regular expression. You can use the following regular expressions to filter specific types of masked variables:</p>
  <ul>
    <li>String: <code>Masked String.*\.</code></li>
    <li>Integer: <code>Masked Int.*\.</code></li>
    <li>Boolean: <code>Masked Bool.*\.</code></li>
  </ul>
  <p> The fixed masking format is efficient for large strings. Both {{logging_name}} and integration execution logs mask variables in the same format.</p>

<h2>Example use case</h2>
<p>Suppose, your customers' sales data contains sensitive information such as, contact information, order history, pricing agreements, customer payments, etc. By enabling masking at different hierarchical levels, you can protect your data log visibility:</p>
<ul>
  <li>To protect customer sales in the production environment, enable masking for your project for all regions associated with that project.</li>
  <li>To protect specific sections such as customer's payment details, enable masking for the intgeration that contains the payment flow. </li>
  <li>To protect specific details such as customer's account number, enable masking for the variable that contains the account number.</li>
</ul>
  <p>For data protection, you must mask all sensitive information. If any level is left unmasked, it could lead to a potential point of unauthorized access.
</p>

<h2>Pricing</h2>
<p>There's no additional cost for masking variables. For information about pricing, see
<a href="/application-integration/pricing">{{integration}} pricing</a>.</p>

<h2>Limitation</h2>
<ul>
  <li>{{integration}} doesn't support masking data in nested fields.</li>
</ul>

{% endblock %}