{% extends "application-integration/_base.html" %}
{% block page_title %}Perform CRUD operations on a MySQL database{% endblock %}
{% block body %}

<p>This tutorial shows you how to connect to a {{nativemysql_name}} database instance from a sample integration and perform the list, get, create, update, and delete operations on a {{nativemysql_name}} database table.</p>

<h2>
Before you begin
</h2>
<ul>
  <li>Ensure that you have access to {{application_integration_name}}.</li>
  <li>
    <p>Select the {{gcp_name}} project and perform the following tasks:</p>
    <ul>
      {% include "/application-integration/docs/_shared/_common-required-roles.html" %}


      <li>Enable the following services:
          <ul>
          {% include "/application-integration/docs/_shared/_common-enable-services.html" %}
        </ul>
        <p>If these services have not been enabled for your project previously, you are prompted to enable them when <a href="{{basehrefpath}}/perform-crud-operation-mysql-database#create-connection">creating the connection</a>.</p>
      </li>
    </ul>
  </li>
  <li>
    Ensure that you have access to a {{nativemysql_name}} server that you can use to create a
    database. For a list of all the supported connectors and the supported versions, see
    <a href="/integration-connectors/docs/connector-reference-overview"> Connector reference</a>.
  </li>
</ul>

<h2 id="setup-database">Create a database and table in {{nativemysql_name}}</h2>

Run the following commands from a system that has a {{nativemysql_name}} client installed:
      <ol>
        <li>
    Connect to your {{nativemysql_name}} server:
    <pre class="devsite-click-to-copy">
mysql --host=<var>MYSQL_HOSTNAME_OR_IP_ADDRESS</var> --port=<var>PORT_NUMBER</var> -u<var>USERNAME</var> -p<var>PASSWORD</var></pre>
Replace the following:
    <ul>
      <li>
<var><code>MYSQL_HOSTNAME_OR_IP_ADDRESS</code></var>: the name or IP address of your {{nativemysql_name}} server.
      </li>
      <li>
<var><code>PORT_NUMBER</code></var>: the port number for your {{nativemysql_name}} server.
      </li>
      <li>
<var><code>USERNAME</code></var>: the username for your {{nativemysql_name}} server.
      </li>
      <li>
<var><code>PASSWORD</code></var>: the user's password for your {{nativemysql_name}} server.
      </li>
    </ul>
    <li>
Create a {{nativemysql_name}} database:
      <pre class="devsite-click-to-copy">
CREATE DATABASE tutorialDB;</pre>
    </li>
    <li>
Create a table:
<pre class="devsite-click-to-copy">
CREATE TABLE EMPLOYEE
  (
  employee_id int auto_increment primary key,
  employee_first_name varchar(500) NOT null,
  employee_last_name varchar(500) NOT null,
  employee_emailID varchar(500)
  ); </pre>
    </li>
    <li>
Add rows to the <code>EMPLOYEE</code> table that you created:
<pre class="devsite-click-to-copy">
INSERT INTO EMPLOYEE (employee_first_name,employee_last_name,employee_emailID) values ("Peter","Dilliard","test-01@test.com");
INSERT INTO EMPLOYEE (employee_first_name,employee_last_name,employee_emailID) values ("Meaghan","Webb","test-02@test.com");
</pre>
    </li>
<li>Verify that the table is created and rows are added:
    <pre class="devsite-click-to-copy">
SELECT * FROM EMPLOYEE;</pre>
The following table rows are displayed:
<pre>
+-------------+---------------------+--------------------+------------------+
| employee_id | employee_first_name | employee_last_name | employee_emailID |
+-------------+---------------------+--------------------+------------------+
|           1 | Peter               | Dilliard           | test-01@test.com |
|           2 | Meaghan             | Webb               | test-02@test.com |
+-------------+---------------------+--------------------+------------------+
</pre>
    </li>
</ol>

<h2 id="create-connection">Create a MySQL connection</h2>
<p>
  To enable an integration to connect to your {{nativemysql_name}} database, create a new connection
  to your {{nativemysql_name}} database:
</p>

{{connector_create_mysql}}

<h2 id="configure-integration">Configure an Integration to use the {{nativemysql_name}} connection</h2>
<p>
To use the {{nativemysql_name}} connection that you created in an integration, you must perform
the following tasks:

  <ol>
    <li><a href="#create-a-new-integration">Create a new integration</a>.</li>
    <li><a href="#add-and-configure-an-api-trigger">Add and configure an API trigger</a>.</li>
    <li><a href="#add-and-configure-a-connectors-task">Add and configure a Connectors task</a>.</li>
    <li><a href="#connect-the-api-trigger-element-to-the-connectors-task-element">Connect the API Trigger element to the Connectors task element</a>.</li>
  </ol>
</p>

<h3>Create a new integration</h3>
<ol>
{{apip_common_steps}}
  <li>Click <b>Create integration</b>.</li>
  <li>In the <b>Integration name</b> field, enter a name for your integration.</li>
  <aside class="note"><b>Note</b>: Integration names must meet the following requirements:
    <ul>
      <li>Names must start and end with letters or numbers.</li>
      <li>Names cannot contain spaces or more than one dash or underscore in a row.</li>
  </ul></aside>
  <li>Optional: In the <b>Description</b> field, enter a description.
  </li>
         <li>From the <b>Region</b> list, select a region for the integration.
           The <b>Regions</b> list only lists the regions provisioned in your {{gcp_name}} project. To provision a new region, click <b>Enable Region</b>. For information about how to provision
           new regions, see <a href="/application-integration/docs/enable-new-region">Enable new region</a>.</li>
  <li>To open the integration editor, click <b>Create</b>.</li>
</ol>

<h3>Add and configure an API trigger</h3>

<p>After you <b><a href="#create-a-new-integration">create a new integration</a></b>, you can add and configure an <b>API</b> trigger to your integration. To do so, follow these steps:
  <ol>
  <li>In the integration editor toolbar, click <b>Triggers</b> to display a list of available triggers.</li>
<li>Drag the <b>API</b> element to the integration editor.</li>
</ol>

<h3>Add and configure a Connectors task</h3>

<p>To configure a <b>Connectors</b> task to list all the entities in the <code>employee</code> table,
  follow these steps:
</p>
<ol>
  <li>In the integration editor toolbar, click <b>Tasks</b> to display the list of available tasks.</li>
  <li>Drag the <b>Connectors</b> element to the integration editor.</li>
  <li>Click the <b>Connectors</b> task element on the designer to open the <b>Connectors</b> panel.</li>
  <li>In the <b>Connectors</b> panel, click <b>Configure Connector</b>.
    <p>
    In the <b>Connector Task Editor</b> dialog that appears, follow these steps:
    </p>
    <ol>
      <li>From the <b>Region</b> list, select the connection region where you created your {{nativemysql_name}} connection.
      </li>
      <li>From the <b>Connection</b> list, select the <a href="#create-connection">{{nativemysql_name}} connection that you created</a> and then click <b>Next</b>.</li>
      <li>In the <b>Type</b> section, select <b>Entities</b> and then click <b>Next</b>.</li>
       <li>From the <b>Entity</b> list, select <b>employee</b>.</li>
      <li>From the <b>Operation</b> list, select <b>List</b> and then click <b>Next</b>.</li>
      <li>To complete the connection configuration and close the dialog, click <b>Done</b>.</li>
    </ol>
  </li>
</ol>

<h3>Connect the API Trigger element to the Connectors task element</h3>

<p>Next, add an edge connection to connect the API trigger to the Connectors task. An edge connection is a connection between any two elements in an integration. For information about edges and edge conditions, see <a href="{{basehrefpath}}/edge-overview">Edges</a>. </p>

<p>To add the edge connection, follow these steps:</p>

  <ol>
    <li>At the bottom of the API Trigger element, click the <b>Fork</b> control point.</li>
    <li>Drag and drop the edge connection at the <b>Join</b> control point at the top of the connectors task element.</li>
  </ol>

<h2 id="test-integration">Test the Integration</h2>

<p>To test the integration, follow these steps:</p>

  <ol>
    <li>In the integration editor toolbar, click <b>Test</b>.</li>
    <li>Optional: Change the <b>Execution Deadline (in minutes)</b> value, and then click <b>Test Integration</b>. </li>
    <li>After the integration completes successfully, the <b>Test Integration</b> pane displays the message <b>Integration execution succeeded</b>. To view the logs, click <b>View logs</b>. </li>
    <li>Expand the <b>Response Parameters</b> section. In <b>Connector output payload</b>, the following output is displayed:
      <pre>
[ {
    "employee_id": 1.0,
    "employee_first_name": "Peter",
    "employee_last_name": "Dilliard",
    "employee_emailID": "test-01@test.com"
  },
  {
    "employee_id": 2.0,
    "employee_first_name": "Meaghan",
    "employee_last_name": "Webb",
    "employee_emailID": "test-02@test.com"
  } ]</pre></li>
    </ol>

<h2 id="other-operations">Perform other operations on your {{nativemysql_name}} database table</h2>

<p>
When you configure a Connectors task in your integration, you can select any one of the following operations:</p>
<ul>
  <li>List</li>
  <li>Get</li>
  <li>Create</li>
  <li>Update</li>
  <li>Delete</li>
</ul>
<p>
You've already used the List operation to view all the rows in the <code>employee</code> table. In the following sections of this tutorial, you'll use the Get, Create, Update, and Delete operations to add, modify or remove rows from the <code>employee</code> table.
</p>

<h3>Get a row from a table</h3>

<p>
If you know the entity ID (or primary key) of the row that you want to fetch, provide that value as input to a Get operation in your integration. The details returned by the Get operation are similar to the details returned by the List operation. However, while the List operation fetches details of all the table rows that match the specified query, the Get operation fetches details of only the table row that matches the specified entity ID.
</p>
<p>
Remember that, while the List operation by default returns all the rows in the table, the Get operation requires an entity ID as a search parameter. So, to use the Get operation, you must know the entity ID of the row that you want to fetch, or provide a default value for the entity ID.
</p>
<p>To get details of a specified row, perform the following steps to configure the <b>Connectors</b> task that you created earlier:
</p>
<ol>
  <li>In integration editor, click the connectors task element to view the <b>Connectors</b> configuration pane.</li>
  <li>In the <b>Connectors</b> configuration pane, click <b>Configure Connector</b>.
    In the <b>Connector Task Editor</b> dialog that appears, follow these steps:
    <ol>
  </li>
  <li>In the <b>Set entities/action</b> section, from the <b>Operations</b> list, select <b>Get</b>.</li>
    <li>Click <b>Done</b>.</li></ol>
  <li>In the <b>Connectors</b> configuration pane, expand the <b>Task Input</b> section. Then, do the
    following:
    <ol>
      <li>Click the entity ID.</li>
      <li>In the <b>Edit variable</b> dialog that appears, select <b>Input to Integration</b>.</li>
      <li>Click <b>Save</b></li>
    </ol> </li>
  <li>In the integration editor toolbar, click <b>Test</b>.</li>
  <li>Optional: Change the <b>Execution Deadline (in minutes)</b> value.</li>
  <li>Enter the entity ID of the entity for which you want to fetch details. For example, <code>2</code>.</li>
  <li>Click <b>Test Integration</b>.</li>
  <li>After the integration completes successfully, the <b>Test Integration</b> pane displays the message <b>Integration execution succeeded</b>. To view the logs, click <b>View logs</b>.</li>
  <li>Expand the <b>Response Parameters</b> section. In <b>Connector output payload</b>, the following output is displayed:
    <pre>
[ {
    "employee_id": 2.0,
    "employee_first_name": "Meaghan",
    "employee_last_name": "Webb",
    "employee_emailID": "test-02@test.com"
  } ]</pre></li>
  <li>You can verify that the information displayed here matches the information in the corresponding row in your {{nativemysql_name}} table. To view this information in your {{nativemysql_name}} table, execute the following command from your {{nativemysql_name}} client:
    <pre class="devsite-click-to-copy">
SELECT * FROM employee WHERE employee_id=2;</pre>
    The following table row is displayed:
    <pre>
+-------------+---------------------+--------------------+------------------+
| employee_id | employee_first_name | employee_last_name | employee_emailID |
+-------------+---------------------+--------------------+------------------+
|           2 | Meaghan             | Webb               | test-02@test.com |
+-------------+---------------------+--------------------+------------------+
    </pre></li>
</ol>

<h3>Add a row to a table</h3>

<p>
The Create operation allows you to add a row in a table. When you use the Create operation, you must provide all the values for the entity in the connector input payload.
</p>
<p>To add a row using the Create operation, perform the following steps to configure the <b>Connectors</b> task that you created earlier:
</p>
<ol>
  <li>In integration editor, click the connectors task element to view the <b>Connectors</b> configuration pane.</li>
  <li>In the <b>Connectors</b> configuration pane, click <b>Configure Connector</b>.
    In the <b>Connector Task Editor</b> dialog that appears, follow these steps:
    <ol>
  </li>
  <li>In the <b>Set entities/action</b> section, from the <b>Operations</b> list, select <b>Create</b>.</li>
    <li>Click <b>Done</b>.</li></ol>
  <li>In the <b>Connectors</b> configuration pane, expand the <b>Task Input</b> section. Then, do the
    following:
    <ol>
      <li>Click the entity ID.</li>
      <li>In the <b>Edit variable</b> dialog that appears, select <b>Input to Integration</b></li> <li>Click <b>Save</b>.</li>
    </ol> </li>
  <li>In the integration editor toolbar, click <b>Test</b>.</li>
  <li>Optional: Change the <b>Execution Deadline (in minutes)</b> value.</li>
  <li>Enter the details for the entity that you want to create. For example, to add a new employee in the <code>employee</code> table, enter the following JSON:
  <pre class="devsite-click-to-copy">
{
  "employee_first_name": "Mary",
  "employee_last_name": "Smith",
  "employee_emailID": "test-03@test.com"
}</pre>
    <aside class="note"><b>Note</b>: Don't specify the primary key, <code>employee_id</code>, as it is a read-only value that is generated when the row is added to the table.
    </aside>
  </li>
  <li>Click <b>Test Integration</b>.</li>
  <li>After the integration completes successfully, the <b>Test Integration</b> pane displays the message <b>Integration execution succeeded</b>. To view the logs, click <b>View logs</b>.</li>
  <li>Expand the <b>Response Parameters</b> section. In <b>Connector output payload</b>, the following output is displayed:
    <pre>
{
  "employee_first_name": "Mary",
  "employee_last_name": "Smith",
  "employee_emailID": "test-03@test.com"
}</pre>
    Under <b>Connector output payload</b>, the entity ID is displayed as output:
      <pre>
{
  "employee_id": 3.0
}</pre>
  </li>
  <li>
    You can verify that the row is added in your {{nativemysql_name}} table. To view this information in your {{nativemysql_name}} table, execute the following command from your {{nativemysql_name}} client:
    <pre class="devsite-click-to-copy">
SELECT * FROM employee;</pre>
      The following table rows are displayed:
    <pre>
+-------------+---------------------+--------------------+------------------+
| employee_id | employee_first_name | employee_last_name | employee_emailID |
+-------------+---------------------+--------------------+------------------+
|           1 | Peter               | Dilliard           | test-01@test.com |
|           2 | Meaghan             | Webb               | test-02@test.com |
|           3 | Mary                | Smith              | test-03@test.com |
+-------------+---------------------+--------------------+------------------+
    </pre>
  </li>
</ol>

  <h3>Update a row in a table</h3>

  <p>
  Use the Update operation to make changes to the values in a table row. For example, you can use this operation to update the email ID of an employee in the <code>employee</code> table. To specify the entity that you want to update, you can provide the entity ID as you did for the Get operation. Alternatively, you can use the <b>Filter clause</b> parameter to pass values on which to filter the table rows. This is useful if you want to make the same change in multiple rows based on specific search criteria.
  </p>
  <p>To update a table row, perform the following steps to configure the <b>Connectors</b> task that you created earlier:
  </p>
  <ol>
    <li>In integration editor, click the connectors task element to view the <b>Connectors</b> configuration pane.</li>
    <li>In the <b>Connectors</b> configuration pane, click <b>Configure Connector</b>.
      In the <b>Connector Task Editor</b> dialog that appears, follow these steps:
      <ol>
    </li>
    <li>In the <b>Set entities/action</b> section, from the <b>Operations</b> list, select <b>Update</b>.</li>
      <li>Click <b>Done</b>.</li></ol>
    <li>In the <b>Connectors</b> configuration pane, expand the <b>Task Input</b> section. Then, do the
      following:
      <ol>
        <li>Click <b>Filter clause</b>.</li>
        <li>In the <b>Edit variable</b> dialog that appears, select <b>Input to Integration</b></li>
        <li>Click <b>Save</b>.</li>
      </ol> </li>
    <li>In the integration editor toolbar, click <b>Test</b>.</li>
    <li>Optional: Change the <b>Execution Deadline (in minutes)</b> value.</li>
    <li>Enter the criteria that you want to filter by. For example, to find an employee with the email ID <code>test-03@test.com</code>, enter:
      <pre class="devsite-click-to-copy">
employee_emailID="test-03@test.com"</pre>
      <aside class="note"><b>Note</b>: If you have multiple table rows that match the filter criteria, the update that you specify in the next step is made on all the matching rows.</aside>
    </li>
    <li>Enter the values that you want to update. For example, to update the email ID of all the employees in the <code>employee</code> table whose current email ID matches the filter clause <code>test-03@test.com</code>, enter the following JSON:
      <pre class="devsite-click-to-copy">
{
  "employee_emailID": "msmith@test.com"
}</pre>
      <aside class="note"><b>Note</b>: You don't need to specify values for all the columns in the table. Enter the values that you want to update. The other values aren't modified.
      </aside>
    </li>
    <li>Click <b>Test Integration</b>.</li>
    <li>After the integration completes successfully, the <b>Test Integration</b> pane displays the message <b>Integration execution succeeded</b>. <p>
   To validate that the entity was updated, use the Get operation to get the details of the specified entity. </p></li>
    <li>You can verify that the row is updated in your {{nativemysql_name}} table. To view this information in your {{nativemysql_name}} table, execute the following command from your {{nativemysql_name}} client:
      <pre class="devsite-click-to-copy">
SELECT * FROM employee;</pre>
      The following table rows are displayed:
      <pre>
+-------------+---------------------+--------------------+------------------+
| employee_id | employee_first_name | employee_last_name | employee_emailID |
+-------------+---------------------+--------------------+------------------+
|           1 | Peter               | Dilliard           | test-01@test.com |
|           2 | Meaghan             | Webb               | test-02@test.com |
|           3 | Mary                | Smith              | msmith@test.com  |
+-------------+---------------------+--------------------+------------------+
      </pre>
    </li>
  </ol>

    <h3>Delete a row in a table</h3>

    <p>
    You can use the Delete operation to delete one or more table rows. Provide the entity ID or use the filter clause to specify the rows that you want to delete. Remember that, if you use the filter clause to specify criteria for rows that you want to delete, it's possible to delete multiple rows that match the given filter. If you want to delete only one specific row, use the entity ID.
    </p>
    <p>To delete a table row using the entity ID, perform the following steps to configure the <b>Connectors</b> task that you created earlier:
    </p>
    <ol>
      <li>In integration editor, click the connectors task element to view the <b>Connectors</b> configuration pane.</li>
  <li>In the <b>Connectors</b> configuration pane, click <b>Configure Connector</b>.
    In the <b>Connector Task Editor</b> dialog that appears, follow these steps:
    <ol>
  </li>
  <li>In the <b>Set entities/action</b> section, from the <b>Operations</b> list, select <b>Get</b>.</li>
    <li>Click <b>Done</b>.</li></ol>
  <li>In the <b>Connectors</b> configuration pane, expand the <b>Task Input</b> section. Then, do the
    following:
    <ol>
      <li>Click the entity ID.</li>
      <li>In the <b>Edit variable</b> dialog that appears, select <b>Input to Integration</b></li> <li>Click <b>Save</b>.</li>
    </ol> </li>
  <li>In the integration editor toolbar, click <b>Test</b>.</li>
  <li>Optional: Change the <b>Execution Deadline (in minutes)</b> value.</li>
  <li>Enter the entity ID of the entity for which you want to fetch details. For example, <code>2</code>.</li>
  <li>Click <b>Test Integration</b>.</li>
  <li>After the integration completes successfully, the <b>Test Integration</b> pane displays the message <b>Integration execution succeeded</b>. <p>To validate that the table row was deleted, use the Get operation to get the details of the row that you deleted. This should return an error for the specified entity ID.</p>
        <p>You can also use the List operation and optionally provide a filter clause for the table row (or rows) that you deleted. This returns the list of rows remaining, which could be an empty list. </p>
        <p>For example, if you deleted the table row with entity ID 3, then if you specify the filter clause <code>employee_emailID="msmith@test.com"</code> or the entity ID <b>3</b> for the List operation, the response parameters in the logs display <code>[]</code>.</p>
      </li>
      <li>
      You can verify that the row is deleted in your {{nativemysql_name}} table. To verify this in your {{nativemysql_name}} table, execute the following command from your {{nativemysql_name}} client:
        <pre class="devsite-click-to-copy">
SELECT * FROM employee;</pre>
        The following table rows are displayed:
        <pre>
+-------------+---------------------+--------------------+------------------+
| employee_id | employee_first_name | employee_last_name | employee_emailID |
+-------------+---------------------+--------------------+------------------+
|           1 | Peter               | Dilliard           | test-01@test.com |
|           2 | Meaghan             | Webb               | test-02@test.com |
+-------------+---------------------+--------------------+------------------+
        </pre>
      </li>
    </ol>

<h2>What's next</h2>

<p>Try building integrations with other connectors. For the list
  of all the supported connectors,
  see <a href="/integration-connectors/docs/connector-reference-overview">All Integration Connectors</a>.</p>


{% endblock %}