{% extends "application-integration/_base.html" %}
{% block page_title %}Test and publish integrations{% endblock %}
{% block body %}

<p>
You can test or publish an integration from the <a href="{{basehrefpath}}/integrations-ui-layout">integration editor</a> after you have added and configured the integration with the necessary <a href="/application-integration/docs/trigger-overview">triggers</a>, <a href="/application-integration/docs/task-overview">tasks</a>, and <a href="{{basehrefpath}}/edge-overview.html">edge</a> connections. When you test an integration using the {{console_name}}, the integration is executed in the <a href="/application-integration/docs/triggers#execution-modes">synchronous mode</a>.
</p>

<h2>Required role</h2>

{% setvar action %}test or publish an integration{% endsetvar %}
{% setvar principal %}{% endsetvar %}
{% setvar resource %}the project{% endsetvar %}
{% setvar role_list %}
* All: Application Integration Service Agent (<code>roles/integrations.serviceAgent</code>)
{% endsetvar %}
{% include "_shared/_required_roles.html" %}

<h2 id="test-integrations">Test an integration</h2>

<p>
  Optionally, if you want to verify that your integration is working as intended, you can test it before publishing. Testing an integration lets you experiment with the integration input variable values, and helps in identifying any faults in the integration connection flow.
</p>
<p>
<aside class="note">
  <b>Note:</b> Integrations that are configured with suspension-based tasks, such as <a href="{{basehrefpath}}/approval-task.html">{{apip_task_approval}} task</a>, <a href="{{basehrefpath}}/run-suspend-task">{{apip_task_suspension}} task</a>, or <a href="{{basehrefpath}}/run-timer-task">{{apip_task_timer}} task</a>, cannot be tested before <a href="#publish-integrations">publishing</a> the integration.
</aside>
</p>
<p>
  To test run an integration, select one of the following options: </p>

<devsite-selector>
  <section>
    <h3>Console</h3>
<ol>
  {{apip_common_steps}}
   <li>Select the integration that you want to test.
     </p></li>
  <li>In the designer navigation bar, click <b>Test</b>.
<p>
  If you have multiple triggers configured in your integration, then select the trigger from which you want to
  test run your integration. The <b>Test Integration</b> pane appears.
    </p></li>
  <li>Click <b>Test integration</b>.<p>
    {{integration}} test runs the integration and displays the execution result in the <b>Test Integration</b> pane:
    </p>
<ul>
  <li>To edit the input variables, click <b>Edit input variables</b>.</li>
  <li>To retest the integration, click <b>Retest integration</b>.</li>
  <li>To restore the values, click <b>Restore values</b>.</li>
  <li>To view and inspect the <a href="/application-integration/docs/viewing-logs">execution logs</a> of the test run, click <b>View logs</b>.</li>
  <li>If you have <a href="/application-integration/docs/cloud-logging#enable-cloud-logging">enabled {{logging_name}}</a>, then to view logs in {{logging_name}}, click <b>View Cloud logs</b>.</li>
  <li>To edit the integration without creating a new version of the integration, click <b>Edit integration</b>.</li>
  <li> To close the test operation and return to the integration editor, click <b>Close</b>.</li>
    </ul>
</li>
</ol>
</section>
  <section>
    <h3>API</h3>
<p>
  Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations/test"><code>projects.locations.integrations.test</code></a> method.
</p>
<p>To set the timeout of the flow, set the <code>X-Server-Timeout</code> field in the header. By default, the timeout is 120 seconds. For a list of pre-defined set of request parameters, see <a href="/apis/docs/system-parameters">System parameters</a>.</p>
</section>
</devsite-selector>

<h2 id="publish-integrations">Publish an integration</h2>
<p>
  Publishing an integration version deploys that integration version, and puts it in an <a href="{{basehrefpath}}/integration-versions">active state</a>. Any previously published version of the integration will automatically be unpublished, and all the services that rely on the previously published integration version will automatically use the latest published version.

</p>
<p>
  To publish an integration, select one of the following options: </p>
<devsite-selector>
  <section>
    <h3>Console</h3>
<ol>
  {{apip_common_steps}}
  <li>Select the integration that you want to publish.</p></li>
  <li>In the designer navigation bar, click the <b>Version dropdown</b>, and select the integration version that you want to publish.</li>
  <li>Click <b>Publish</b>. <p>The <b>Autogenerate Integration description</b> dialog appears. If you want to generate a description, click <b>Sure, continue</b>. Otherwise, click <b>No, just publish</b>.</li>
</ol>

<p>
  Upon successfully publishing your integration, you can view and inspect the <a href="/application-integration/docs/integration-execution-logs">execution logs</a> of the published integration. To view logs, click <b>Logs</b> in the toolbar of the integration editor.
    </p>
<p>
  By default, {{integration}} locks an integration from editing when it is published. To make any changes to the published integration, click <b>Enable editing</b> in the integration editor. Editing a published integration will create a new version of that integration.
    </p>
    </section>
  <section>
    <h3>API</h3>
<p>
  Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions/publish"><code>projects.locations.integrations.versions.publish</code></a> method.
</p>
</section>
</devsite-selector>

<h3>Unpublish an integration</h3>
<p>
  Unpublishing an <a href="{{basehrefpath}}/integration-versions">active</a> integration version undeploys that integration version, and puts it in a <a href="{{basehrefpath}}/integration-versions">snapshot</a> state. Any services that rely on the published version of the integration will automatically be stopped.
    </p>
<p>
  To unpublish an integration, select one of the following options:</p>

<devsite-selector>
  <section>
    <h3>Console</h3>
<ol>
  {{apip_common_steps}}
  <li>Select the integration that you want to unpublish.</p></li>
  <li>In the designer navigation bar, click the <b>Version dropdown</b>, and select the integration version that you want to unpublish.</li>
  <li>Click <b>Unpublish</b>.
    <p>
       After the integration is successfully unpublished, you can click <b>Enable editing</b> in the integration editor to edit the integration. Editing the integration will create a new version of that integration.
    </p>
</li>
</ol>
</section>
  <section>
    <h3>API</h3>
<p>
  Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions/unpublish"><code>projects.locations.integrations.versions.unpublish</code></a> method.
</p>
</section>
</devsite-selector>

<h2>Quota and limits</h2>
<p>For information about {{integration}} quotas and limits, see <a href="{{basehrefpath}}/quotas">Quotas and limits</a>.</p>

<h2>Best practice</h2>
<ul><li>Define the usability of a <a href="{{basehrefpath}}/variables">variable (input variable or output variable)</a> before testing your integration. See Integration variables.</li>
<li>Define <a href="{{basehrefpath}}/error-handling">error handling</a> for your integration.</li></ul>



<h2>Quotas and limits</h2>

<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

{% endblock %}