{% extends "application-integration/_base.html" %}
{% block page_title %}Use Integration Connectors{% endblock %}

{% block body %}

<p>This document describes the benefits of using {{integration_connectors_name}}, supported connectors, and the pricing information.</p>

<h2>Overview</h2>

<p>You can build your integrations with out-of-the-box connectors available in <a href="/integration-connectors/docs/about-connectors">Integration Connectors</a>. These connectors let you quickly and securely connect to the {{gcp_name}} services and other business applications from your integrations. To add connectors to your integrations, add a <a href="/application-integration/docs/configure-connectors-task">Connectors task</a>.</p>

<p>By using connectors available in {{integration_connectors_name}}, you get the following benefits:</p>
<ul>
  <li><b>Standardized interfaces</b> <ul><li>{{integration_connectors_name_short}} provide standardized interfaces for entities and actions. Entities represents database tables or tables in Software-as-a-service (SaaS) applications. Actions is a first class function such as sending emails, uploading, or downloading files which performs operations specific to the backend. For more information about entities and actions, see <a href="/integration-connectors/docs/entities-operation-action">Entities operations and actions</a>.</li>
    <li>Standardized interfaces let you integrate a new backend system with {{integration}} in less time, thereby reducing the development time.</li>
    <li>{{integration_connectors_name_short}} also handle API upgrades and maintenance, thereby reducing the cost of maintenance.</li></ul>
  </li>
  <li><b>Security</b> <p>{{integration_connectors_name_short}} support various authentication types, ensuring secure connections.</p></li>
  <li><b>Schema discovery</b> <p>{{integration_connectors_name_short}} make it easy to use data by discovering the schema, including columns and data types. Schema discovery facilitates data mapping in {{integration}}.</p></li>
  <li><b>Private connectivity</b> <p>For backends hosted on-premises or in a private network, {{gcp_name}} <a href="/vpc/docs/private-service-connect">{{private_service_connect_name}}</a> feature can be used to establish secure connectivity. {{private_service_connect_name}} leverages {{gcp_name}} networking features for standard and advanced network configurations and ensures reliable and secure connectivity.</p></li>
</ul>

<h2>Supported connectors</h2>
<p>For the list of all the supported connectors
  for {{application_integration_name}}, see
  <a href="/integration-connectors/docs/connector-reference-overview">Integration Connectors reference</a>.</p>


<h2 id="connector-pricing">{{integration_connectors_name}} pricing</h2>
<p>You will be charged separately for connectors based on your usage. For information,
  see <a href="/integration-connectors/docs/pricing">Integration Connectors pricing</a>.</p>

{% endblock %}
