{% extends "application-integration/_base.html" %}
{% block page_title %}Set up {{vpcsvcctl_name_short}} for {{apip_integration_product_name}}{% endblock %}
{% block body %}

<p>
{{vpcsvcctl_name_short}} lets you define a security perimeter around
  the {{apip_integration_product_name}} Google Cloud service. With the security
  perimeter around your service, you can constrain data within a VPC and
  mitigate data exfiltration risks. If you are not already familiar
  with {{vpcsvcctl_name_short}}, it is recommended that you go
  through the following information:
</p><ul>

  <li><a href="/vpc-service-controls/docs/overview">Overview of {{vpcsvcctl_name_short}}</a>
  <li><a href="/vpc-service-controls/docs/service-perimeters">Service perimeter details and configuration</a>
  <li><a href="/vpc-service-controls/docs/access-control">Grant access to {{vpcsvcctl_name_short}}</a></li>
</ul>

<p>
This document describes how to set up a {{vpcsvcctl_name_short}} perimeter for the
  {{apip_integration_product_name}} service. After you have set up the perimeter,
  you can configure egress and ingress policies that determine what other
  Google Cloud services can access the {{apip_integration_product_name}} service (integrations.googleapis.com) and
  conversely what services the {{apip_integration_product_name}} service can access.
</p>

<h2 id="before-you-begin">Before you begin</h2>


<p>Ensure that you have the required permissions to configure service perimeters.
  To view a list of IAM roles required to configure {{vpcsvcctl_name_short}},
  see <a href="/vpc-service-controls/docs/access-control">Access control with IAM</a> in the
  {{vpcsvcctl_name_short}} documentation.</p>

<h2 id="create-a-vpc-service-perimeter">Create a VPC service perimeter</h2>


<p>
To create a VPC service perimeter you can use either the <code>{{console_name}}</code>,
  or the <code>gcloud</code> command, or the <a href="/access-context-manager/docs/reference/rest/v1/accessPolicies.servicePerimeters/create"><code>accessPolicies.servicePerimeters.create</code></a> API.
  For more information, see <a href="/vpc-service-controls/docs/create-service-perimeters#create-perimeter">Create a service perimeter</a>.
To create a {{vpcsvcctl_name}} perimeter provide access to the user by using the <code>gcloud</code> commands, run the following command:

<pre class="devsite-click-to-copy">
gcloud access-context-manager perimeters create  \
    --title=<var>PERIMETER_TITLE</var> \
    --resources=projects/<var>PROJECT_ID</var> \
    --restricted-services=integrations.googleapis.com \
</pre>

Replace the following:

<ul>
  <li><code><var>PERIMETER_TITLE</var></code>: the name of the {{vpcsvcctl_name}} perimeter</li>
  <li><code><var>PROJECT_ID</var></code>: the project for which you want to add the {{vpcsvcctl_name}} perimeter</li>
</ul>

<p>
The preceding command takes some time to complete.
The {{vpcsvcctl_name}} perimeter restricts integration services for your project when using the {{integration}} services.
</p>
<p>
To allow any IP addresses, service accounts, or users to use {{integration}}, use the <a href="/vpc-service-controls/docs/ingress-egress-rules">ingress and egress rules</a>. {{vpcsvcctl_name}} uses ingress and egress rules to allow access to and from the resources and clients protected by service perimeters.
</p>

<h3 id="add-egress">Add egress policy to an existing service perimeter</h3>

<p>To add an egress policy to an existing service perimeter,
  use the <a href="/sdk/gcloud/reference/access-context-manager/perimeters/update">gcloud access-context-manager
  perimeters update</a> command. For example, the following command adds an egress policy defined
  in the <code>vpcsc-egress.yaml</code> file to an existing service perimeter named <code>integrationPerimeter</code>:
</p>

  <pre class="prettyprint lang-sh devsite-disable-click-to-copy">
gcloud access-context-manager perimeters update integrationPerimeter
    --set-egress-policies=vpcsc-egress.yaml
</pre>


<p>
Similar to an egress policy, you can also define an ingress policy. To learn more about
  specifying ingress rules, see <a href="/vpc-service-controls/docs/ingress-egress-rules#ingress-rules-reference">Ingress rules reference</a>.
</p>

<h2 id="verify-your-perimeter">Verify your perimeter</h2>


<p>
  To verify the perimeter, use the <a href="/sdk/gcloud/reference/access-context-manager/perimeters/describe">gcloud access-context-manager perimeters describe <var>PERIMETER_NAME</var></a>
  command. For example, the following command describes the <code>integrationPerimeter</code> perimeter:
</p>

<pre class="prettyprint lang-sh devsite-disable-click-to-copy">
gcloud access-context-manager perimeters describe integrationPerimeter
</pre>
<p>
  For more information about managing service perimeters,
  see <a href="/vpc-service-controls/docs/manage-service-perimeters#list-and-describe">Managing service perimeters</a>.
</p>

<h2 id="considerations">Considerations</h2>

<p>If you have enabled VPC service perimeter for the {{apip_integration_product_name}} service, you
will not be able to use the following tasks in your integrations:</p>

<ul>
  <li><a href="{{basehrefpath}}/run-apps-script-task">Apps Script task</a></li>
  <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint task</a></li>
  <li><a href="{{basehrefpath}}/run-cloud-function-task">Cloud function task</a></li>
  <li><a href="{{basehrefpath}}/send-email-task">Send email task</a></li>
</ul>

<h2 id="what-next">What's next</h2>

Learn how <a href="/vpc-service-controls/docs/overview">{{vpcsvcctl_name_short}}</a> protects your data.



{% endblock %}
