# Terraform ignores
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Custom ignores
git*.sh
.env.local

# Python Artifacts & Cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.log.*
log/
