
{% extends "application-integration/_base.html" %}
{% block page_title %}E-commerce sample integration{% endblock %}
{% block body %}
<meta name="keywords" value="docType:Sample,product:CloudApplicationIntegration,language:json" />
<meta name="description" content="Use this sample integration to learn about triggers, tasks, and concepts of Application Integration."/>

<p>
  This sample integration illustrates an e-commerce back-end scenario use case.
</p>

<h2>Explore further</h2>

<p>For detailed documentation that includes this code sample, see the following:</p>
<ul>
  <li><a href="/application-integration/docs/try-sample-integration-ecommerce">Try the sample integration</a></li>
</ul>

<h2 id="code-sample">Code sample</h2>

{% include "_shared/widgets/_github_include.html" with project="application-integration-samples"
file="src/ecom-order-processing/ecom-order-processing.json"%}

<h3 id="flow">Sample integration flow</h3>

<p>The following image shows a sample layout of the integration editor for this integration code sample.</p>

<p><img src="https://raw.githubusercontent.com/GoogleCloudPlatform/application-integration-samples/HEAD/src/ecom-order-processing/ecom-order-processing-flow.png" alt="image showing the sample integration flow"
  data-modal-dialog-id="flow1" class="screenshot">

<devsite-lightbox id="flow1">
<img src="https://raw.githubusercontent.com/GoogleCloudPlatform/application-integration-samples/HEAD/src/ecom-order-processing/ecom-order-processingflow.png" alt="image showing the sample integration flow">
</devsite-lightbox></p>

{{ code_sample_upload_run_steps }}
  


{% endblock %}