<h2>System limitations</h2>
<p>The FTP connector can process 1 transaction per second,
  per <a href="/integration-connectors/docs/pricing#payg">node</a>,
   and <a href="/integration-connectors/docs/rate-limiting">throttles</a> any transactions
    beyond this limit. {{connectors_default_node_message}}</p>

{{connector_node_scaling}}

<devsite-expandable id="actions-exp">  
  <h2 class="showalways">Actions</h2>
  <p>This section lists some of the actions supported by the connector. To understand how to configure the
     actions, see <a href="#actionexamples-exp">Action examples</a>.</p>

     <aside class="note"><b>Note:</b> The results of all the actions will be available as a
      JSON response in the <code>Connectors</code> task's <code>connectorOutputPayload</code>
      response parameter after you run your integration.</aside>

<h3 id="upld">Upload action</h3>
<p>The following table describes the input parameters of the <code>Upload</code> action.</p>
 <table>
    <thead>
      <tr>
        <th>Parameter name</th>
        <th>Data type</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody class="list">
<tr>
<td>Content</td>
<td>String</td>
<td>No</td>
<td>Content to upload as a file.</td>
</tr>
<tr>
<td>ContentBytes</td>
<td>String</td>
<td>No</td>
<td>Bytes content (as a Base64 string) to upload as a file. Use this to upload binary data.</td>
</tr>

<tr>
<td>HasBytes</td>
<td>Boolean</td>
<td>No</td>
<td>Specifies if the content should be uploaded as bytes. The default value is <code>false</code>.</td>
</tr>

<tr>
<td>RemoteFile</td>
<td>String</td>
<td>Yes</td>
<td>The file name on the remote host.</td>
</tr>

<tr>
<td>Overwrite</td>
<td>Boolean</td>
<td>No</td>
<td>Specifies if the remote file should be overwritten. The default value is <code>false</code>.</td>
</tr>
   </tbody>
</table>
<p>For examples on how to configure the <code>Upload</code> action, see <a href="#examp">Examples</a>.</p>


<h3 id="dwnld">Download action</h3>
<p>The following table describes the input parameters of the <code>Download</code> action.</p>
 <table>
    <thead>
      <tr>
        <th>Parameter name</th>
        <th>Data type</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody class="list">

<tr>
<td>RemoteFile</td>
<td>String</td>
<td>Yes</td>
<td>The file name on the remote host.</td>
</tr>

<tr>
<td>HasBytes</td>
<td>Boolean</td>
<td>No</td>
<td>Specifies if the content should be downloaded as bytes. The default value is <code>false</code>.</td>
</tr>
   </tbody>
</table>

<p>For examples on how to configure the <code>Download</code> action, see <a href="#examp">Examples</a>.</p>



<h3 id="mvfl">MoveFile action</h3>
<p>The following table describes the input parameters of the <code>MoveFile</code> action.</p>
 <table>
    <thead>
      <tr>
        <th>Parameter name</th>
        <th>Data type</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody class="list">
<tr>
<td>RemoteFile</td>
<td>String</td>
<td>Yes</td>
<td>The path of the remote file to be moved.</td>
</tr>
<tr>
<td>DestinationPath</td>
<td>String</td>
<td>Yes</td>
<td>The new path you want to move the file to.</td>
</tr>
   </tbody>
</table>

<p>For examples on how to configure the <code>MoveFile</code> action, see <a href="#examp">Examples</a>.</p>


<h3 id="rnfl">RenameFile action</h3>
<p>The following table describes the input parameters of the <code>RenameFile</code> action.</p>
 <table>
    <thead>
      <tr>
        <th>Parameter name</th>
        <th>Data type</th>
        <th>Required</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody class="list">
<tr>
<td>RemoteFile</td>
<td>String</td>
<td>Yes</td>
<td>Remote file path and name to be renamed.</td>
</tr>
<tr>
<td>NewFileName</td>
<td>String</td>
<td>Yes</td>
<td>New name of the remote file.</td>
</tr>
   </tbody>
</table>

<p>For examples on how to configure the <code>RenameFile</code> action, see <a href="#examp">Examples</a>.</p>


</devsite-expandable>


<devsite-expandable id="examp">
<h2 class="showalways">Examples</h2>

<p>This section describes how to perform some of the entity operations and actions in this connector.
  The examples describe the following operations:
</p>
<ul>
  <li>List all files in the root directory</li>
  <li>List files that match a pattern in a directory</li>
  <li>Move a file</li>
  <li>Rename a file</li>
  <li>Delete a file</li>
  <li>Upload an ASCII text file</li>
  <li>Upload a binary file</li>
  <li>Download an ASCII text file</li>
  <li>Download a binary file</li>
</ul>

<p>The following table lists the sample scenarios and the corresponding configuration in the Connectors task:</p>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Sample command</th>
      <th>Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>List all files in the root directory</td>
      <td><code>ls /</code></td>
      <td>
        <ol>
          <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
          <li>Select the <code>Root</code> entity and then select the <code>List</code> operation.</li>
          <li>Click <b>Done</b>.</li>
        </ol>
        </td>
    </tr>
    <tr>
      <td>List <code>.csv</code> files in a directory</td>
      <td><code>ls /tmp/*.csv</code></td>
      <td>
      <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
        <li>Select the base directory (/tmp) from the <code>Entity</code> list.</li>
        <li>Select the <code>List</code> operation, and then click <b>Done</b>.</li>
        <li>Set the filter clause. To set the clause, in the <b>Task Input</b> section of the <b>Connectors</b> task, click <b>filterClause</b>
          and then enter <code>FilePath LIKE '/tmp/%.csv'</code> in the <b>Default Value</b> field.</li>
        </ol>

          <aside class="note"><b>Note:</b>
            <ul>
              <li>The value for the file pattern in the filter clause must be enclosed within
              single quotes (').</li>
              <li>The <code>Entity</code> list displays only the base level directories. Hence, you
                can list the files present only in the base level directories. Listing of files
                in the child directories is not supported.
              </li>
              <li>The <code>FilePath</code> field is defined in the input payload's JSON schema. For
              the list of all the available fields, see <a href="#input-schema">Input payload JSON schema</a>.</li>
              <li>You can dynamically set the filter clause by using the {{apip_task_datamapping}}
                task in your integration. For more information, see
                <a href="#dynamic-filter-clause">Dynamic configuration of filterClasue</a>.</li>
            </ul>
            </aside>
      </td>
    </tr>

    <tr>
      <td>Move a file </td>
      <td><code>mv /tmp/dir_A/hello_world.txt /dir_B/dir_C/</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>MoveFile</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter a value similar to the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
"RemoteFile": "/tmp/dir_A/hello_world.txt",
"DestinationPath": "/dir_B/dir_C/"
}</pre>
          </li>
         </ol>
        <p>This example moves the <code>/tmp/dir_A/hello_world.txt</code>
          file to the <code>/dir_B/dir_C/</code> directory. Running this example, returns a response smiliar
          to the following in the Connector task's <code>connectorOutputPayload</code> output variable:</p>
        <pre class="prettyprint lang-json">[{
"Success":"true"
}]</pre>

</td>
    </tr>
<tr>
      <td>Rename a file </td>
      <td><code>mv /tmp/hello_world.txt /tmp/hello_world_new.txt</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>RenameFile</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter a value similar to the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
"RemoteFile": "/tmp/hello_world.txt",
"NewFilename": "hello_world_new.txt"
}</pre>
          </li>
         </ol>
        <p>This example renames the <code>hello_world.txt</code>
          file to <code>hello_world_new.txt</code>. Running this example, returns a response smiliar
          to the following in the Connector task's <code>connectorOutputPayload</code> output variable:</p>
        <pre class="prettyprint lang-json">[{
"Success":"true"
}]</pre>

</td>
    </tr>
    <tr>
      <td>Delete a file</td>
      <td><code>rm /tmp/myfile.csv</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
         <li>From the <code>Entity</code> list, select the base directory that has the file to be moved.</li>
        <li>Select the <code>Delete</code> operation, and then click <b>Done</b>.</li>
        <li>Set the entity ID to the file's full path. To set the entity ID, in the <b>Task Input</b>
          section of the <b>Connectors</b> task, click <b>entityId</b>
          and then enter <code>/tmp/myfile.csv</code> in the <b>Default Value</b> field.
          <p>Alternately, instead of specifying the <b>entityId</b>, you can also set the <b>filterClause</b>
          to <code>FilePath LIKE '/tmp/myfile.csv'</code>.</p>
        </li>
        </ol>

</td>
    </tr>
    <tr>
      <td>Upload an ASCII text file</td>
      <td><code>put file_1.txt /tmp/file_1.txt</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>Upload</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
  "Content": "This is a sample text!\r\n",
  "RemoteFile": "/tmp/file_1.txt",
  "Overwrite": true
}</pre>

          </li>
            <p>This sample creates the <code>file_1.txt</code> file that has the content
            <code>This is a sample text!</code> in the FTP server's
            <code>/tmp</code> directory. And any existing file with the same name
            is overwritten because the <code>Overwrite</code> attribute value is <code>true</code>. </p>
          <p>Setting the <code>Overwrite</code> attribute is optional; by default, the
            value is <code>false</code>. </p>
        </ol>
        <aside class="note"><b>Note:</b> You can't upload a local file directly to the FTP server.
          You must specify the file's entire content in the <code>Content</code> attribute.
</aside>

      </td>
    </tr>
    <tr>
<td>Upload a binary file</td>
      <td><code>put image_1.png /tmp/image_1.png</code></td>
      <td>To upload a binary content, you must first encode the content
        in the Base64 format. You can choose a tool of your choice to
        encode the content. Steps for encoding the content are out of
        the scope of this document. After you have the content as
        a Base64 string, perform the following steps:

        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>Upload</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
  "ContentBytes": "SGVsbG8gd29ybGQ=",
  "RemoteFile": "/tmp/image_1.png",
  "Overwrite": true,
  "HasBytes": true
}</pre>

          </li>
            <p>This sample creates the <code>image_1.png</code> file with the content
            as specified in the <code>ContentBytes</code> field. The file is created in the FTP server's
            <code>/tmp</code> directory. And any existing file with the same name
            is overwritten because the <code>Overwrite</code> attribute value is <code>true</code>. </p>
          <p>Setting the <code>Overwrite</code> attribute is optional; by default the
            value is <code>false</code>. </p>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Download an ASCII text file</td>
      <td><code>get /tmp/myfile.txt</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>Download</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Output</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
"RemoteFile": "/tmp/myfile.txt"
}</pre>
          </li>
        </ol>
        <p>The content of the downloaded file is available as a string
          in the <code>Content</code> field of the Connector task's <code>connectorOutputPayload</code> response parameter.  </p>
      </td>
    </tr>
    <tr>
      <td>Download a binary file</td>
      <td><code>get /tmp/myfile.png</code></td>
      <td>
        <ol>
        <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
        <li>Select the <code>Download</code> action, and then click <b>Done</b>.</li>
        <li>In the <b>Task Output</b> section of the <b>Connectors</b> task, click
          <code>connectorInputPayload</code> and then enter the following in the
          <code>Default Value</code> field:
          <pre class="prettyprint lang-json">{
"RemoteFile": "/tmp/myfile.png",
"HasBytes" : true
}</pre>
          </li>
        </ol>
        <p>The content of the downloaded file is available as a Base64 encoded string
          in the <code>ContentBytes</code> field of the Connector task's <code>connectorOutputPayload</code> response parameter.  </p>
      </td>
    </tr>
  </tbody>
</table>


<h2 id="input-schema">JSON schema for payload</h2>
<p>All the entity objects in a FTP connection have a pre-defined JSON schema. Having a good understanding
  of the schema, lets you easily configure the input or output payload values. The entity objects in
  a FTP connection use the following JSON schema:</p>

<pre class="prettyprint lang-json">
  {
    "type": "object",
    "properties": {
      "FilePath": {
        "type": "string",
        "readOnly": false
      },
      "Filename": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false,
        "description": "The name of the file or directory."
      },
      "FileSize": {
        "type": [
          "number",
          "null"
        ],
        "readOnly": false,
        "description": "The size of the file."
      },
      "LastModified": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      },
      "IsDirectory": {
        "type": [
          "boolean",
          "null"
        ],
        "readOnly": false
      },
      "Permissions": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      },
      "Owner": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      },
      "OwnerId": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      },
      "Group": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      },
      "GroupId": {
        "type": [
          "string",
          "null"
        ],
        "readOnly": false
      }
    }
  }
</pre>

<h2 id="dynamic-filter-clause">Dynamic configuration of filterClause</h2>
<p>
  For the List, Update, and Delete operations, you can set the value of the filterClasue input
  variable dynamically at runtime by using the
  <a href="/application-integration/docs/data-mapping-task">{{ apip_task_datamapping }}</a>
  task in your integration. For example, you might want to send the filter clause's value
  when invoking the <a href="/application-integration/docs/configuring-api-trigger">API trigger</a>
  in your integration. The following image shows a sample mapping for
  the <code>filterClause</code> variable in the Data Mapping editor of the
  {{ apip_task_datamapping }} task:

  <img alt="set filter clause in the data mapping editor" src="/integration-connectors/images/data_mapping_filter_clause.png"/>

</p>

</devsite-expandable>
{% include "integration-connectors/docs/_terraform-create-connection.html" %}
{% include "integration-connectors/docs/connectors/ftp/_config_vars_terraform.html" %}
