{% extends "integration-connectors/_base_non_preview.html" %}
{% set connectivity_type = "managedservices" %}


{% block page_title %}Network connectivity in Google Cloud managed services{% endblock %}
{% block custom_heading %}
<meta name="description" content="Private network connectivity in integration connectors managed services" />
{% endblock %}
{% block body %}

<p>This page describes how to setup private connectivity from {{product_name}} to your backend service
  such as <a href="/sql/docs/mysql/features">CloudSQL for MySQL</a>, <a href="/sql/docs/postgres/features">CloudSQL for PostgreSQL</a>, and <a href="/sql/docs/sqlserver/features">CloudSQL for SQL Server</a>. This page assumes that you are familiar with the following concepts:</p>

  {{connector_private_connectivity_pre_reqs}}

  <h2>Considerations</h2>
  <p>When you create a PSC service attachment, consider the following key points:</p>
  <ul>
    <li>The PSC service attachment and the load balancer are created in different subnets
      within the same VPC. And specifically, the service attachment is always created in a NAT subnet.</li>
    <li>SOCKS5 proxy servers must be bound to the <code>0.0.0.0:&lt;port&gt;</code> IP address because this
      is required for incoming traffic from the load balancer and the health check probes. For more information, see
      <a href="/load-balancing/docs/internal#health-checking">Health check</a>.</li>
    <li>Traffic from load balancer and health check probe should be sent to the same port.</li>
    <li>Configure the firewall rules to facilitate the traffic flow.
      <p><b>Ingress rules</b></p>
      <ul>
        <li>Traffic from the PSC service attachment's subnet should reach your backend service. </li>
        <li>Within the ILB's subnet, ILB should be able to send traffic to the SOCKS5 proxy servers.</li>
        <li>The health check probe should be able to access the SOCKS5 proxy servers. The
          Google Cloud health check probes have a fixed IP range (<code>35.191.0.0/16, 130.211.0.0/22</code>).
          So these IPs can be allowed to send traffic to the SOCKS proxy servers.</li>
      </ul>
      <p><b>Egress rules</b></p>
      <p>Egress traffic is enabled by default in a Google Cloud project, unless specific
        deny rules are configured.</p>
    </li>
    <li>All your Google Cloud components such as the PSC service attachment and the load balancer should be in the same region.</li>
    <li>Ensure that your SOCKS5 proxy servers accept traffic in the following scenarios:
      <ul>
        <li><b>Pass-through load balancers (L4 TCP/UDP ILB): </b>Requests from the PSC service
          attachment's NAT IPs should be able to reach your SOCKS5 proxy servers. Therefore, you must
          allow the entire NAT subnet's IP range for the service attachment. For more information,
          see <a href="/vpc/docs/private-service-connect#psc-subnets">Private Service Connect subnets</a>.
        </li>
        <li><b>Proxy-based/HTTP(s) load balancers (L4 proxy ILB, L7 ILB): </b>All new requests
          originate from the load balancer. Therefore, your SOCKS5 proxy servers should accept requests from the
          proxy subnet of your VPC network. For more information, see <a href="/load-balancing/docs/proxy-only-subnets">Proxy-only subnets for Envoy-based load balancers</a>.</li>
      </ul>
  </li>
  </ul>

  <h2>Configure private connectivity</h2>

  <p>A few of the managed Google Cloud services such as
    <a href="/sql/docs/mysql/about-private-service-connect#service-attachment">CloudSQL MySQL</a>
    expose a PSC service attachment for private connectivity. In those cases,
    you can skip this step to create a PSC service attachment, and the
    PSC service attachment provided by the managed service provided can be used to create
    the {{product_name}} endpoint attachment.
  </p>

  <p>You must create a new PSC service attachment in the following scenarios:</p>

  <ul>
    <li>The Google Cloud managed service doesn't expose a service attachment,
      but exposes an IP address using private service access.</li>
    <li>The Google Cloud managed service exposes a service attachment but
      doesn't support allowlisting the {{product_name}} project to consume
      the service attachment. 
    </li>
  </ul>
  <p>The steps to create the service attachment for these two scenarios
    is described in detail in the following sections. After you create the service attachment, you must <a href="/integration-connectors/docs/network-connectivity-managed-services.html#create-endpoint-attachment">create an endpoint attachment</a> and <a href="/integration-connectors/docs/network-connectivity-managed-services.html#configure-connection">configure a connection</a> to use the endpoint attachment.</p>

<h3>Create a service attachment for a managed service that restricts access</h3>
<p>
The managed service might not allow Integration Connectors project to be allowlisted to consume the service attachment it exposes. In this case, you must create a load balancer that consumes the service attachment and exposes the load balancer to Integration Connectors by creating another service attachment in your project.
</p>
<p>The following image shows a managed service that exposes a service attachment:</p>
<figure aria-hidden="true">
  <img src="/integration-connectors/images/sa-non-exposed.png"
    alt="">
</figure>
<p>For an example of a managed service that exposes a service attachment, see <a href="/integration-connectors/docs/connectors/mongodb/configure-psc-mongodb">Private connectivity for a MongoDB Atlas cluster</a>.</p>
<h4>Create a load balancer with PSC NEG as the backend</h4>
<ol>
<li>Create a NEG to connect to a published service.</li>
<li>Add a backend to a regional internal proxy Network Load Balancer.</li></ol>
<p>
For more information, see <a href="/vpc/docs/access-apis-managed-services-private-service-connect-backends#create-neg">Create a Private Service Connect NEG</a>.
</p>
<h4>Create a service attachment</h4>
<ol>
<li>Create a subnet for PSC NAT.
<li>Create a firewall rule to allow request from PSC NAT to load balancer
<li>Create service attachment.</li></ol>
<p>
For more information, see <a href="/integration-connectors/docs/configure-psc#create-a-psc-service-attachment">Create a PSC service attachment</a>
</p>
<h4>Allow Private service Connect connection from Integration Connectors project</h4>
<p>
For information about allowlisting the Private service Connect connection from Integration Connectors project, see <a href="/integration-connectors/docs/network-connectivity-private#allowlist-the-integration-connectors-project-in-a-service-attachment">Allowlist the Integration Connectors</a>.
</p>
<h3>Create a service attachment for a managed service that exposes IP address</h3>
<p>If the managed service doesn't expose a service attachment, the traffic from
      {{product_name}} must be proxied through your project.</p>
      <p>The following image shows a managed service that doesn't expose a service attachment:</p>
      <figure aria-hidden="true">
        <img src="/integration-connectors/images/sa-exposed.png"
          alt="">
      </figure>
    <p>To configure private connectivity, do the following steps:</p>
    <ol>
      <li>Create a PSC service attachment.
        <ol>
          <li>Create <a href="/vpc/docs/special-configurations">Compute Engine VM instances</a> for running SOCKS5 proxy servers.
          <ol>
          <li>Create proxy instance 1.
          <pre class='prettyprint devsite-terminal'>gcloud compute instances create <var>PROXY_INSTANCE_1</var> \
            --project=<var>PROJECT_ID</var> \
            --network-interface=network-tier=PREMIUM,subnet=<var>SUBNET_NAME_2</var>,no-address
          </pre>
          </li>
        </ol>
        <p>Based on your requirement, you can create as many VM instances as required.</p>
        </li>
            
        <li>Create a firewall rule for allowing SSH to your VM instances.
            
                <pre class='prettyprint devsite-terminal'>gcloud compute firewall-rules create <var>FIREWALL_RULE_NAME_SSH</var> \
            --direction=INGRESS --priority=1000 --network=<var>VPC_NETWORK</var> --allow=tcp:22
            </pre>
            
              </li>
            
          <p>The VM instance will be used to proxy the traffic from {{product_name}}
            to the managed service. Install a <a href="https://en.wikipedia.org/wiki/SOCKS">SOCKS5 proxy</a>
             in the VM instance. The Cloud SQL Auth proxy supports
             chaining through a SOCKS5 proxy, which lets you
             forward encrypted traffic from the Cloud SQL Auth proxy to the destination Cloud SQL instance.
           Hence, you need SOCKS5 proxy servers to connect to a private Cloud SQL instance.</p>
            
            <p>Detailed steps to install and configure a SOCKS5 proxy server are outside the scope of this document, and you can install any SOCKS5 proxy of your choice. The
            following steps show how to install and configure the Dante
            SOCKS5 proxy server.</p>
            <ol>
              <li>SSH to your VM instance.
                    <pre class='prettyprint devsite-terminal'>gcloud compute ssh \
            --tunnel-through-iap \
            <var>PROXY_INSTANCE_1</var>
        </pre>
              </li>
              <li>Install the Dante SOCKS5 proxy server.
              <pre class='devsite-terminal'>sudo apt update
        sudo apt install dante-server</pre>
              </li>
              <li>Check the server interface.
              <pre class='devsite-terminal'>sudo ip a</pre>
              </li>
              <li>Create backup of the Dante configuration.
               <pre class='devsite-terminal'>sudo mv /etc/danted.conf /etc/danted.conf.bak</pre>
              </li>
              <li>Create a new Dante configuration file.
               <pre class='devsite-terminal'>sudo nano /etc/danted.conf</pre>
              </li>
              <li>Copy the following configuration to the config file:
              <pre class='prettyprint lang-json'>logoutput: /var/log/socks.log
        # Bind the server to the 0.0.0.0 IP address to allow traffic
        # traffic from the load balancer and the health check probes.
        internal: 0.0.0.0 port = 1080
        external: ens4
        clientmethod: none
        socksmethod: none
        user.privileged: root
        user.notprivileged: nobody
        client pass {
                from: 0.0.0.0/0 to: 0.0.0.0/0
                log: error connect disconnect
        }
        client block {
                from: 0.0.0.0/0 to: 0.0.0.0/0
                log: connect error
        }
        socks pass {
                from: 0.0.0.0/0 to: 0.0.0.0/0
                log: error connect disconnect
        }
        socks block {
                from: 0.0.0.0/0 to: 0.0.0.0/0
                log: connect error
        }</pre>
              </li>
              <li>Restart the Dante server and check the status.
              <pre class='devsite-terminal'>sudo systemctl restart danted
        sudo systemctl status danted</pre>
              </li>
        
              <li>Exit from the VM instance.
                <pre class='devsite-terminal'>exit</pre>
              </li>
        
            </ol>
          
          </li><!-- end create vm instance-->
          <li>Create a load balancer with the VM instance as the backend.
            <ol>
              <li>Create an <a href="compute/docs/instance-groups" class="external">unmanaged instance group</a>.
                
                 <pre class='prettyprint devsite-terminal'>gcloud compute instance-groups unmanaged create <var>INSTANCE_GROUP_NAME</var></pre>
            
                      <aside class="tip"><b>Note:</b> You can create a
                        <a href="/compute/docs/instance-groups">managed instance group</a> for better reliability.</aside>
            
                    <li>Add the VM instances created in step 3 to the group.
                      <pre class='prettyprint devsite-terminal'>gcloud compute instance-groups unmanaged add-instances <var>INSTANCE_GROUP_NAME</var> \
            --instances=<var>PROXY_INSTANCE_1</var></pre>
                    </li>
              </li><!--end create unmanaged instance group-->
              
              <li>Create a <a href="/load-balancing/docs/health-checks" class="external">health check probe</a> and allow the traffic from the probe.

                <ol>
                  <li>Create the health check probe.
                  <pre class='prettyprint devsite-terminal'>gcloud compute health-checks create tcp <var>HEALTH_CHECK_NAME</var> \
            --port <var>BACKEND_SERVER_PORT</var> --region=<var>REGION</var></pre>
                    <p>In this command, set <var>BACKEND_SERVER_PORT</var> to 1080 which is the default port on which the SOCKS5 proxy servers run.</p>
                  </li>
                  <li>Create a firewall rule to allow traffic from the probe.
                   <pre class='prettyprint devsite-terminal'>gcloud compute firewall-rules create <var>FIREWALL_RULE_NAME_HEALTHCHECK</var> \
            --direction=INGRESS --priority=1000 --network=<var>VPC_NETWORK</var> --allow=tcp:<var>BACKEND_SERVER_PORT</var> \
            --source-ranges=35.191.0.0/16,130.211.0.0/22</pre>
                  </li>
                </ol>
            
              </li><!--end health check probe -->
              
              <li>Create an <a href="/load-balancing/docs/internal/setting-up-internal" class="external">L4 internal load balancer</a> and allow traffic from the load balancer.
                <ol>
                  <li>Create a <a href="/load-balancing/docs/backend-service" class="external">backend service</a>.
                    <pre class='prettyprint devsite-terminal'>gcloud compute backend-services create <var>BACKEND_SERVICE</var> \
            --load-balancing-scheme=internal --protocol=tcp --health-checks=<var>HEALTH_CHECK_NAME</var> \
            --health-checks-region=<var>REGION</var> </pre>
                  </li>
                  <li>Add instance group to the backend service.
                            <pre class='prettyprint devsite-terminal'>gcloud compute backend-services add-backend <var>BACKEND_SERVICE</var> \
            --instance-group=<var>INSTANCE_GROUP_NAME</var> \
            --instance-group-zone=<var>ZONE</var></pre>
                  </li>
                  <li>Create a <a href="/load-balancing/docs/forwarding-rule-concepts" class="external">forwarding rule</a>.
                            <pre class='prettyprint devsite-terminal'>gcloud compute forwarding-rules create <var>FORWARDING_RULE_NAME</var> \
            --load-balancing-scheme=internal --network=<var>VPC_NETWORK</var> --subnet=<var>SUBNET_NAME_2</var> \
            --ip-protocol=TCP --ports=<var>BACKEND_SERVER_PORT</var> --backend-service=<var>BACKEND_SERVICE</var> \
            --backend-service-region=<var>REGION</var></pre>
                  </li>
                      <li>
                  Create a firewall rule to allow internal traffic from load-balancer to the instance group.
                      <pre class='prettyprint devsite-terminal'>gcloud compute firewall-rules create <var>FIREWALL_RULE_NAME_INTERNAL</var> \
            --direction=INGRESS --priority=1000 --network=<var>VPC_NETWORK</var> \
            --action=ALLOW --rules=all --source-ranges=<var>SUBNET_RANGE_2</var></pre>
                  </li>
                </ol>
              </li><!--end load balancer step-->


            <ol><!-- end create load balancer -->  
            
          </li><!-- end create service attachment-->
        </ol>
      </li><!-- end create psc service attachment-->

    </ol><!-- end main steps-->

<h2 id="create-endpoint-attachment">Create an endpoint attachment</h2>
    <p>After you create a service attachment for a managed service, you must create an endpoint attachment and then use it in your connection.</p>
    {{connectors_create_endpoint_attachment}}
    <p>Later, when you configure your connection to use the endpoint attachment, you can select this endpoint attachment.</p>

<h2 id="configure-connection">Configure a connection to use the endpoint attachment</h2>
    <p>Now that you have created an endpoint attachment, use the endpoint attachment in your connection. When you create a new connection or update an existing connection, in the Destinations section, select <b>Endpoint attachment</b> as the <b>Destination Type</b> and select the endpoint attachment that you created from the <b>Endpoint Attachment</b> list.</p>
    <p>If you created a managed zone, select <b>Host Address</b> as the <b>Destination Type</b> and use the A-record that you created while creating the managed zone.</p>

    <h2>Troubleshooting tips</h2>
<p>If you are having issues with private connectivity, follow the guidelines listed in this section to avoid common issues.</p>
<ul>
  <li>Ensure connector's tenant project is allowlisted in the service attachment.</li>
  <li>Ensure the following configuration for the firewall rules:
    <ul>
      <li>Traffic from the PSC service attachment's subnet must be allowed to reach your backend service.</li>
      
        {%  if connectivity_type == "gcvpc" %}
        <li>The load balancer must be able to send traffic to your backend service.
        <ul>
          <li><b>Pass-through load balancers (L4 TCP/UDP ILB)</b>
            Requests from the PSC service attachment's NAT IPs must be able to
            reach your backend. These NAT IPs are auto-allocated from the PSC NAT
            subnet range therefore, you must allow the entire NAT subnet's IP
            range in which your service attachment resides. To find the PSC NAT subnet,
            use the following command:
            <pre class='prettyprint devsite-terminal'>gcloud compute networks subnets list --project=<var>PROJECT_ID</var> --region=<var>REGION</var> --filter="purpose=PRIVATE_SERVICE_CONNECT"</pre>
          </li>
          <li><b>Proxy-based/HTTP(s) load balancers (L4 proxy ILB, L7 ILB)</b>
            Requests from a proxy load balancer originate from the proxy only subnet of the
            region. Therefore, your firewall rules need to be configured to allow requests
            from proxy only subnet ranges to reach your backend backend. To find the proxy
            only subnet, use the following command:
            <pre class='prettyprint devsite-terminal'>gcloud compute networks subnets list --project=<var>PROJECT_ID</var> --region=<var>REGION</var> --filter="purpose=REGIONAL_MANAGED_PROXY"</pre>
          </li>
          {% elif connectivity_type == "onprem" %}
            <li>The load balancer must be able to send traffic to your backend system. Hybrid NEGs are
              supported on proxy load balancers only. Requests from a proxy load balancer originate
              from the proxy only subnet of the region. Therefore, your firewall rules need to be configured
              to allow requests from proxy only subnet ranges to reach your backend.
            </li>
          {% endif %}
      </li>
      <li>The health check probe must be able to access your backend system. The Google Cloud
        health check probes have a fixed IP range (35.191.0.0/16, 130.211.0.0/22). So
         these IP addresses must be allowed to send traffic to your backend server.</li>
    </ul>
  </li>
 <li><a href="/network-intelligence-center/docs/connectivity-tests/concepts/overview">Google Cloud Connectivity test</a>
   can be used to identify any gaps in your network configuration. For more information, see
   <a href="/network-intelligence-center/docs/connectivity-tests/how-to/running-connectivity-tests" class="external">Create and run Connectivity Tests</a>.
</li>
{% if connectivity_type == "onprem" %}
<li>Ensure that firewall rules are updated in on-premises or other cloud environments to allow traffic
  from the Google Cloud region's <a href="/load-balancing/docs/proxy-only-subnets">proxy-only subnet</a>.</li>
{% endif %}
</ul>

{% endblock %}
