{% extends "integration-connectors/_base_non_preview.html" %}
{% block page_title %}Rate limiting connection traffic{% endblock %}
{% block body %}
<p>This page describes how {{product_name}} rate limits (controls) the incoming requests to your connection,
  and the various options available to you to address the rate limit conditions that may occur in your connection.</p>

<p>{{product_name}} intelligently manages a connection's traffic by
  throttling (smoothening traffic spikes) requests from a connection. So, suppose
  there is an increase in a connection's traffic; {{product_name}} automatically increases the number of
  nodes assigned to the connection, and conversely, if there is a drop in a connection's
  traffic, {{product_name}} automatically decreases the number of nodes assigned to the connection.
  This node autoscaling ensures that a connection's node allocation is always optimal.</p>

 <p>However, in some scenarios, it is possible that a connection uses all its available nodes
   and still requires additional nodes. In such a scenario, where a connection exceeds
   its throttling limits, {{product_name}} returns the <code>HTTP 429</code> response.</p>

<p>Your options for rate limiting a connection vary based on your user type (pay-as-you-go or subscription)
  as described in the following sections.</p>


<h2>Rate limiting for pay-as-you-go users</h2>

<table>
  <thead>
    <th>Scenario</th>
    <th></th>
    <th>Remediation</th>
  </thead>
  <tbody>
  <tr>
    <td rowspan="2">Are you anticipating or seeing a spike in your connection's traffic?</td>
    <td>Yes</td>
    <td>{{product_name}} autoscales the connection nodes till it reaches the configured maximum node limit. 
      However, based on your traffic pattern, you can proactively configure the required minimum and
      maximum nodes for the connection in the <a href="/integration-connectors/docs/editconnection">Edit connection page</a>. 
    </td>
  </tr>    
  <tr>
    <td>No</td>
    <td>No action required from you.</td>
  </tr>  
  <tr>
    <td rowspan="2">Are you getting the <code>HTTP 429</code> response for your connection?</td>
    <td>Yes</td>
    <td>Even though the connection nodes are autoscaled, you may have encountered the following scenarios:
      <ul>
          <li>There is a sudden spike in the connection's traffic which the existing nodes can't handle,
            and hence you are temporarily getting this error. In this case, increase the number of minimum nodes for the connection in the <a href="/integration-connectors/docs/editconnection">Edit connection page</a>.</li>
          <li>The maximum permissible node limit isn't fully utilized by the connection. In this case, increase
            the maximum nodes in the <a href="/integration-connectors/docs/editconnection">Edit connection page</a>.</li>
          <li>The maximum node limit is fully utilized by the connection. In this case, contact <a href="/integration-connectors/docs/getting-support">Integration Connectors support</a>.</li>
      </ul>

      <aside class="tip"><b>Tip</b>: You can re-run your integration by using any of the retry
        strategies. For more information, see <a href="/application-integration/docs/error-handling-strategy">Error handling strategies in Application Integration</a>.</aside>
    </td>
  </tr>    
  <tr>
    <td>No</td>
    <td>No action required from you.</td>
  </tr>    
</tbody> 
</table>

<h2>Rate limiting for subscription users</h2>

<table>
  <thead>
    <th>Scenario</th>
    <th></th>
    <th>Remediation</th>
  </thead>
  <tbody>
  <tr>
    <td rowspan="2">Are you anticipating or seeing a spike in your connection's traffic?</td>
    <td>Yes</td>
    <td>No action required from you. {{product_name}} autoscales the connection nodes which in turn takes care of throttling.</td>
  </tr>    
  <tr>
    <td>No</td>
    <td>No action required from you.</td>
  </tr>  
  <tr>
    <td rowspan="2">Are you getting the <code>HTTP 429</code> response for your connection?</td>
    <td>Yes</td>
    <td>Contact <a href="/integration-connectors/docs/getting-support">Integration Connectors support</a>.
      <aside class="tip"><b>Tip</b>: You can re-run your integration by using any of the retry
        strategies. For more information, see <a href="/application-integration/docs/error-handling-strategy">Error handling strategies in Application Integration</a>.</aside>
    </td>
  </tr>    
  <tr>
    <td>No</td>
    <td>No action required from you.</td>
  </tr>    
</tbody> 
</table>

{% endblock %}