{% extends "integration-connectors/_base_non_preview.html" %}
{% block page_title %}Workday{% endblock %}

{% block body %}  

{% block pagedescription %}
{% endblock %}
 
<p>The Workday connector lets you connect to a <a href="https://www.workday.com/">Workday</a> instance and
   access Workday data as a traditional database.</p>
{% include "/integration-connectors/docs/connectors/workday/_before_you_begin.html" %}
{% include "/integration-connectors/docs/connectors/workday/_create_connection.html"  %}

{{entities_operations_actions}}
{% include "/integration-connectors/docs/connectors/workday/_additional-info.html"  %}


{{get_community_help}}

{% endblock %}
