{% extends "integration-connectors/_base_non_preview.html" %}
{% block page_title %}Entity operations and actions{% endblock %}
{% block body %}

<p>This topic explains the following fundamental concepts which form the basis for a request
  originating from any connector:</p>

<ul>
  <li>Entity</li>
  <li>Operation</li>
  <li>Action</li>
</ul>

<p>
All the {{integration_connectors_name}} provide a layer of abstraction for the objects of
the connected application. You can access an application's objects only through
  this abstraction. The abstraction is exposed to you as entities, operations, and actions.</p>

<ul>
  <li><b>Entity: </b>An entity can be thought of as an object, or a collection of properties, in the
connected application or service. The definition of an entity differs from a connector to a
    connector. For example, in a database connector, tables are the entities, in a
    file server connector, folders are the entities, and in a messaging system connector,
    queues are the entities.

    <p>However, it is possible that a connector doesn't support or have any entities, in which case the
      <code>Entities</code> list will be empty. For example, the Pub/Sub connector
      doesn't have any entity, but only has the <code>publishMessage</code> action.</p>
</li>


  <li><b>Operation: </b>An operation is the activity that you can perform on an entity. You can perform
any of the following operations on an entity:

    <ul>
    <li>List</li>
    <li>Get</li>
    <li>Create</li>
    <li>Update</li>
    <li>Delete</li>
    </ul>

  <p>Selecting an entity from the available list, generates a list of
operations available for the entity. For a detailed description of the operations, see the Connectors task's
      <a href="/application-integration/docs/configure-connectors-task#config-prop">entity operations</a>.
    However, it is possible
    that a connector doesn't support any entity operations, in which case the <code>Operations</code> list will be empty.</p>
  </li>

  <li><b>Action: </b>An action is a first class function that is made available to the integration
through the connector interface. Actions let you make changes to an entity or entities, and
    vary from connector to connector. However, it is possible
    that a connector doesn't support any action, in which case the <code>Actions</code> list will be empty.
</li>
</ul>


{% endblock %}
