{% extends "integration-connectors/_base_non_preview.html" %}
{% block page_title %}View connections{% endblock %}
{% block body %}

<p>To view all the connections available within your Google Cloud project, go to the <b>{{integration_connectors_name}}</b> page in the <a href="{% dynamic print site_values.console_url %}">Cloud console</a> and select a Google Cloud project to open the <b>Connections</b> page.
      <p><a href="{% dynamic print site_values.console_url %}connectors/connections" target="console" class="button button-primary">
          Go to the Connections page</a></p>


<p>To view the details of a specific connection, you click on a connection name in the table of existing connections.
  You can also filter the list of available connections by connection name (for example, <code>my-connection-1</code>) or
  connector type (for example, <code>BigQuery</code>).</p>
<p>Selecting an individual connection opens the <b>Connection Details</b> page, which displays the following
  information about the connection instance:
  <ul>
    <li>Connector type</li>
    <li>Connector status</li>
    <li>Authentication type</li>
    <li>Location</li>
    <li>Connection details specific to the connector type</li>
    <li>Locked status</li>
</ul>

<h2>Connection status</h2>

<p>A connection can be in any of the following statuses:</p>

<ul>
  <li><b>Creating</b>: The connection is being provisioned.</li>
  <li><b>Active</b>: The connection is provisioned and is active.</li>
  <li><b>Refreshing schema</b>: The connection schema (for entities and actions) is being refreshed.</li>
  <li><b>Inactive</b>: The connection is inactive. The status will be inactive if you <a href="/integration-connectors/docs/suspend-resume-connection">suspend the connection</a>.</li>
  <li><b>Deleting</b>: The connection is getting deleted.</li>
  <li><b>Updating</b>: The connection is being updated.</li>
  <li><b>Error</b>: There is an error in the connection and it's not able to connect to the backend system. To identify the root cause, see
    the <a href="/integration-connectors/docs/view-connector-logs">{{product_name}} logs</a>.</li>
  <li><b>Authorization required</b>: The connection is created but the authorization is not configured.</li>

</ul>
<aside class="note"><b>Note:</b> Your connection might be reset when the underlying infrastructure is restarted or updated. We recommend that you configure error handling strategies to re-establish the connection. For information about how to configure error handling strategies for {{application_integration_name}} tasks, see <a href="/application-integration/docs/error-handling-strategy#configure-error-handling-strategies">Configure error handling</a>.</aside>

{% endblock %}
