{% extends "application-integration/_base.html" %}
{% block page_title %}Concat a string to a string array{% endblock %}
{% block body %}
<meta name="keywords" value="docType:Sample,product:CloudApplicationIntegration,language:json" />
<meta name="description" content="Use Data Mapping task to iterate through an array and apply transformation functions to concat a string value to all the array elements."/>
<p>
  Using the Data Mapping task, iterate through the elements of a string array and apply transformation functions to concat a string value to all the array elements.
</p>

<h2 id="code-sample">Code sample</h2>

{% include "_shared/widgets/_github_include.html" with project="application-integration-samples"
file="src/concat-string-array/concat-string-array.json"%}

<h3 id="flow">Sample integration flow</h3>

<p>The following image shows a sample layout of the integration editor for this integration code sample.</p>

<p>
  <img src="https://raw.githubusercontent.com/GoogleCloudPlatform/application-integration-samples/HEAD/src/concat-string-array/concat-string-array-flow.png" alt="image showing the sample integration flow"
      data-modal-dialog-id="flow1" class="screenshot">

<devsite-lightbox id="flow1">
  <img src="https://raw.githubusercontent.com/GoogleCloudPlatform/application-integration-samples/HEAD/src/concat-string-array/concat-string-array-flow.png" alt="image showing the sample integration flow">
</devsite-lightbox>
</p>

{{ code_sample_upload_run_steps }}

{% endblock %}