<devsite-expandable expanded id="actions-exp">

  <h2 class="showalways">Actions</h2>
  <p>This section lists all the actions supported by the Box connection.</p>
  <h3>DownloadFile action</h3>
  <p>This action lets you download a file from your Box instance.</p>
  <h4>Input parameters of the DownloadFile action</h4>

  <table>
  <tr>
  <th>Parameter Name</th>
  <th>Data Type</th>
  <th>Required</th>
  <th>Description</th>
  </tr>
  <tbody>
    <tr>
      <td>FileID</td>
<td>String</td>
<td>Yes</td>
<td>The ID of the file to download.</td>
  </tr>
  <tr>
<td>HasBytes</td>
<td>Boolean</td>
<td>Yes</td>
<td>Specifies whether do download the file as a string or as a Base64 encoded string.</td>
  </tr>
  </tbody>
  </table>
  <h4>Output parameters of the DownloadFile action</h4>
  <p>This action returns the status 200 (OK) with a response body indicating the results.</p>
  
  <table>
    <tr>
    <th>Parameter Name</th>
    <th>Data Type</th>
    <th>Description</th>
    </tr>
    <tbody>
  <tr>
 <td>Success</td>
  <td>String</td>
  <td>Specifies whether fhe file download was successful.</td>
    </tr>
    <tr>
  <td>ContentBytes</td>
  <td>String</td>
  <td>The file content as a Base64 encoded string.</td>
    </tr>
    </tbody>
    </table>
  
    
  <p>For example on how to configure the <code>DownloadFile</code> action,
  see <a href="#actionexamples-exp">Action examples</a>.</p>


  <h3>UploadFile action</h3>
  <p>This action lets you upload a file to your Box instance.</p>
  <h4>Input parameters of the UploadFile action</h4>

  <table>
  <tr>
  <th>Parameter Name</th>
  <th>Data Type</th>
  <th>Required</th>
  <th>Description</th>
  </tr>
  <tbody>
    <tr>
      <td>ParentID</td>
<td>String</td>
<td>Yes</td>
<td>ID of the folder in which you want to upload the file. If this parameter isn't specified,
  the file will be uploaded to the root of the Box account. The default value is 0.</td>
  </tr>
  <tr>
<td>Content</td>
<td>String</td>
<td>Yes</td>
<td>The file content to be uploaded.</td>
  </tr>
    
    
  </tbody>
  </table>
  <h4>Output parameters of the UploadFile action</h4>
  <p>This action returns the status 200 (OK) with a response body indicating the results.</p>
  
  <table>
    <tr>
    <th>Parameter Name</th>
    <th>Data Type</th>
    <th>Description</th>
    </tr>
    <tbody>
  <tr>
 <td>Success</td>
  <td>String</td>
  <td>Specifies whether fhe file upload was successful.</td>
    </tr>
    <tr>
  <td>ID</td>
  <td>String</td>
  <td>ID of the newly created file.</td>
    </tr>
		<tr>
      <td>VersionID</td>
<td>String</td>
<td>ID of a specific version of the file.</td>
  </tr>
<tr>
      <td>Hash</td>
<td>String</td>
<td>The <code>SHA1</code> hash of the file.</td>
  </tr>
<tr>
<td>Etag</td>
<td>String</td>
<td>Etag value of the file or the folder. The default value is 0.</td>
  </tr>
    </tbody>
    </table>
<p>For example on how to configure the <code>UploadFile</code> action,
  see <a href="#actionexamples-exp">Action examples</a>.</p>


  <h3>CopyFile action</h3>
  <p>This action lets you copy a file from your Box instance.</p>
  <h4>Input parameters of the CopyFile action</h4>

  <table>
  <tr>
  <th>Parameter Name</th>
  <th>Data Type</th>
  <th>Required</th>
  <th>Description</th>
  </tr>
  <tbody>
    <tr>
      <td>FileID</td>
<td>String</td>
<td>Yes</td>
<td>ID of the file you want to copy.</td>
  </tr>

  <tr>
    <td>DestinationFolderId</td>
<td>String</td>
<td>No</td>
<td>ID of the destination folder where you want to copy the file. If you don't specify
  any value, the latest version of the file is copied.</td>
</tr>
<tr>
<td>NewName</td>
<td>String</td>
<td>Yes</td>
<td>New file name for the copied file.</td>
</tr>

    
    
  </tbody>
  </table>
  <h4>Output parameters of the CopyFile action</h4>
  <p>This action returns the status 200 (OK) with a response body indicating the results.</p>
  
  <table>
    <tr>
    <th>Parameter Name</th>
    <th>Data Type</th>
    <th>Description</th>
    </tr>
    <tbody>
  <tr>
 <td>Success</td>
  <td>String</td>
  <td>Specifies whether fhe file copy was successful.</td>
    </tr>
    <tr>
  <td>ID</td>
  <td>String</td>
  <td>ID of the copied file.</td>
    </tr>
		
    </tbody>
    </table>
<p>For example on how to configure the <code>CopyFile</code> action,
  see <a href="#actionexamples-exp">Action examples</a>.</p>


  <h3>CopyFolder action</h3>
  <p>This action lets you copy an entire folder from your Box instance.</p>
  <h4>Input parameters of the CopyFolder action</h4>

  <table>
  <tr>
  <th>Parameter Name</th>
  <th>Data Type</th>
  <th>Required</th>
  <th>Description</th>
  </tr>
  <tbody>
    <tr>
      <td>FolderID</td>
<td>String</td>
<td>Yes</td>
<td>ID of the folder you want to copy.</td>
  </tr>

  <tr>
    <td>DestinationFolderId</td>
<td>String</td>
<td>Yes</td>
<td>ID of the destination folder where you want to copy the folder.</td>
</tr>
<tr>
    <td>NewName</td>
<td>String</td>
<td>No</td>
<td>New file name for the copied folder.</td>
</tr>

    
    
  </tbody>
  </table>
  <h4>Output parameters of the CopyFolder action</h4>
  <p>This action returns the status 200 (OK) with a response body indicating the results.</p>
  
  <table>
    <tr>
    <th>Parameter Name</th>
    <th>Data Type</th>
    <th>Description</th>
    </tr>
    <tbody>
  <tr>
 <td>Success</td>
  <td>String</td>
  <td>Specifies whether the folder copy was successful.</td>
    </tr>
    <tr>
  <td>ID</td>
  <td>String</td>
  <td>ID of the copied folder.</td>
    </tr>
		
    </tbody>
    </table>
<p>For example on how to configure the <code>CopyFolder</code> action,
  see <a href="#actionexamples-exp">Action examples</a>.</p>  


  </devsite-expandable>

<devsite-expandable expanded id="actionexamples-exp">
  <h2 class="showalways">Action examples</h2>
  <p>This section describes how to perform some of the actions in this connector.</p>
  
  <h3>Example - Download a file</h3>
  <ol>
  <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
  <li>Select the <code>DownloadFile</code> action, and then click <b>Done</b>.</li>
  <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
  <code>connectorInputPayload</code> and then enter a value similar to the following in the
  <code>Default Value</code> field:
  <pre class="prettyprint lang-json">{
"FileID": "1283194869422", 
"HasBytes": true
}</pre>
</li>
  <p>This example downloads a file as a Base64 encoded string. If the action is successful, your
  connector task's <code>connectorOutputPayload</code> response
  parameter will have a value similar to the following:</p>
  <pre class="prettyprint lang-json">[
{ "Success": "True"},
{"ContentBytes": "JVBERi0xLjQKJcfl9OXwCjIgMCBvYmoKJSBbMjRdIAo8PAovRmlsdGVy"}
]</pre>
  </ol>
<aside class="note"><b>Note: </b>If you want to download a non-binary file, set
  the <code>HasBytes</code> value to <code>false</code>.
</aside>
  

  <h3>Example - Upload a file</h3>
  <ol>
  <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
  <li>Select the <code>UploadFile</code> action, and then click <b>Done</b>.</li>
  <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
  <code>connectorInputPayload</code> and then enter a value similar to the following in the
  <code>Default Value</code> field:
  <pre class="prettyprint lang-json">{
"ParentId": "0",
"Content": "12345"
}</pre>
  </li>
  <p>This example uploads string content as a file. If the action is successful, your
  connector task's <code>connectorOutputPayload</code> response
  parameter will have a value similar to the following:</p>
  <pre class="prettyprint lang-json">[{
"Success": "true",
"ID": "1283902965389",
"VersionID": "1403546001389",
"Hash": "8cb2237d0679ca88db6464eac60da96345513964",
"Etag": "0"
}]</pre>
   </ol>

    <h3>Example - Copy a file</h3>
    <ol>
    <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
    <li>Select the <code>CopyFile</code> action, and then click <b>Done</b>.</li>
    <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
    <code>connectorInputPayload</code> and then enter a value similar to the following in the
    <code>Default Value</code> field:
    <pre class="prettyprint lang-json">{
"FileID": "1288751886061",
"DestinationFolderId": "219105724517", 
"NewName": "NewCopiedFile"
}</pre>
    </li>
    <p>This example copies the file with ID <code>1288751886061</code>
     to the folder with ID <code>219105724517</code>. If the action is successful, your
    connector task's <code>connectorOutputPayload</code> response
    parameter will have a value similar to the following:</p>
    <pre class="prettyprint lang-json">[{
"Success": "true",
"ID": "1308006018536"
}]</pre>
     </ol>

     <h3>Example - Copy a folder</h3>
     <ol>
     <li>In the <code>Configure connector task</code> dialog, click <code>Actions</code>.</li>
     <li>Select the <code>CopyFolder</code> action, and then click <b>Done</b>.</li>
     <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
     <code>connectorInputPayload</code> and then enter a value similar to the following in the
     <code>Default Value</code> field:
     <pre class="prettyprint lang-json">{
"FolderID": "218475301279",
"DestinationFolderId": "0", 
"NewName": "NewCopiedFolder"
}</pre>
     </li>
     <p>This example copies the folder with ID <code>218475301279</code>
      to the folder with ID <code>219105724517</code>. If the action is successful, your
     connector task's <code>connectorOutputPayload</code> response
     parameter will have a value similar to the following:</p>
     <pre class="prettyprint lang-json">[{
"Success": "true",
"ID": "226312444517"
}]</pre>
      </ol>
  </devsite-expandable>

  <devsite-expandable expanded  id="entity-operation-examples">
    <h2 class="showalways">Entity operation examples</h2>

<h3 id="examp">Example - List all the files</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Files from the <code>Entity</code> List.</li>
<li>Select the <code>LIST</code> operation, and then click
<b>Done</b>.</li>
</ol>
<p>You can perform the LIST operation on the following entities: Folders, TrashedItems, SharedItems, Collaborations, TaskAssignments, and Tasks</p>

<h3 id="examp_get">Example - Get the files</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Files from the <code>Entity</code> list.</li>
<li>Select the <code>GET</code> operation, and then click
<b>Done</b>.</li>
<li>Set the entity ID to 1262397830475 which is the Key is to be passed. To set the entity ID, in
the <b>Task Input</b> section of the <b>Connectors</b> task, click <b>EntityId</b> and
then enter <code>1262397830475</code> in the <b>Default Value</b> field.
</ol>

<p>The Value for Entity Id must be passed directly such as, 1262397830475. Where 1262397830475 is the unique primary key value.</p>
<p>You can perform the GET operation on the following entities: Folders, SharedItems, Collaborations, TaskAssignments, and Tasks</p>


<h3 id="examp_delete">Example - Delete files</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Files from the <code>Entity</code> list.</li>
<li>Select the <code>DELETE</code> operation, and then click
<b>Done</b>.</li>
<li>Set the entity ID to 1258725940971 which is the Key is to be passed.. To set the entity ID, in
the <b>Task Input</b> section of the <b>Connectors</b> task, click <b>EntityId</b> and
then enter <code>1258725940971</code> in the <b>Default Value</b> field.
<p>Alternately, if Entity has two Composite Business or Primary Keys instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>Id='1258725940971'</code>.</p></li>
</ol>
<p>You can perform the DELETE operation on the following entities: Folders, Tasks, Collaborations, SharedItems, and TaskAssignments</p>


<h3 id="examp_create">Example - Create folders</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Folders from the <code>Entity</code> list.</li>
<li>Select the <code>Create</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Name": "Google Cloud Platforms_created_folders",
"ParentId": "0"
}

</pre>
<p>If the integration is successful, the
<code>Folder</code> task's <code>connectorOutputPayload</code> response
parameter will have a value similar to the following:</p>
<pre class="prettyprint lang-json"> 
{
"Id": "222269371053"
} 
</pre>
</li>
</ol>
<h3 id="examp_create_collaborations">Example - Create collaborations</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Collaborations from the <code>Entity</code> list.</li>
<li>Select the <code>Create</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"ItemId": "216592737829",
"ItemType": "folder",
"AccessibleById": "27370766275",
"AccessibleByType": "user",
"AccessibleByLogin": "baklavainthebalkans@gmail.com",
"Role": "editor"
}

</pre>
<p>If the integration is successful, the
<code>Folder</code> task's <code>connectorOutputPayload</code> response
parameter will have a value similar to the :</p>
<pre class="prettyprint lang-json">
{
"Success": false
} 
</pre>
</li>
</ol>
<h3 id="examp_create_tasks">Example - Create tasks</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Tasks from the <code>Entity</code> list.</li>
<li>Select the <code>Create</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"ItemId": "1253997361112",
"ItemType": "file",
"Action": "review",
"Message": "Creating a task from Google Cloud Platform",
"DueAt": "2023-12-12 09:01:15.0",
"CompletionRule": "all_assignees"
}

</pre>
<p>If the integration is successful, the
<code>Folder</code> task's <code>connectorOutputPayload</code> response
parameter will have a value similar to the following:</p>
<pre class="prettyprint lang-json"> 
{
"Id": "1253997361112"
}
</pre>
</li>
</ol>
<h3 id="examp_create_taskassignments">Example - Create taskassignments</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select TaskAssignments from the <code>Entity</code> list.</li>
<li>Select the <code>Create</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"TaskId": "21507516872",
"AssignedToId": "27370766275"
}

</pre>
<p>If the integration is successful, the
<code>Folder</code> task's <code>connectorOutputPayload</code> response
parameter will have a value similar to the following:</p>
<pre class="prettyprint lang-json"> 
{
"Id": "50804351753"
}
</pre>
</li>
</ol>

<h3 id="examp_update">Example - Update Files</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Files from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Name": "Get Started with Box Files.pdf"
}
</pre>
<li>Set the entity ID to 1253997361112. To set the entity ID,
click <b>entityId</b> and then enter <code>1253997361112</code> in the <b>Default Value</b>
field.
<p>Alternately, instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>1253997361112</code>.</p>
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{
"Id": "1253997361112"
}
</pre>
</li>
</ol>
<p>You can perform the UPDATE operation on the following entities: Folders, Tasks, Collaborations, SharedItems, and TaskAssignments</p>


<h3 id="examp_update_folders">Example - Update folders</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Folders from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Name": "Demo Update"
}
</pre>
<li>Set the entity ID to 216457668125. To set the entity ID,
click <b>entityId</b> and then enter <code>216457668125</code> in the <b>Default Value</b>
field.
<p>Alternately, instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>216457668125</code>.</p>
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{
"Id": "216457668125"
} 
</pre>
</li>
</ol>
<h3 id="examp_update_collaborations">Example - Update collaborations</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Collaborations from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Role": "Viewer"
}
</pre>
<li>Set the entity ID to 46685648757. To set the entity ID,
click <b>entityId</b> and then enter <code>46685648757</code> in the <b>Default Value</b>
field.
<p>Alternately, instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>46685648757</code>.</p>
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{

}
</pre>
</li>
</ol>
<h3 id="examp_update_tasks">Example - Update tasks</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Tasks from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Message": "This is a new task is updated and assigned to you by me"
}
</pre>
<li>Set the entity ID to 21507516872. To set the entity ID,
click <b>entityId</b> and then enter <code>21507516872</code> in the <b>Default Value</b>
field.
<p>Alternately, instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>21507516872</code>.</p>
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{
"Id": "21507516872"
}
</pre>
</li>
</ol>
<h3 id="examp_update_taskassignments">Example - Update taskassignments</h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select TaskAssignments from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Message": "Looks good to me",
"ResolutionState": "completed"
}
</pre>
<li>Set the entity ID to 49542929469. To set the entity ID,
click <b>entityId</b> and then enter <code>49542929469</code> in the <b>Default Value</b>
field.
<p>Alternately, instead of specifying the <b>entityId</b>, you can also set the
<b>filterClause</b> to <code>49542929469</code>.</p>
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{
"Id": "49542929469"
} 
</pre>
</li>
</ol>
<h3 id="examp_transferfolders">Example - Update Transferfolders </h3>
<ol>
<li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
<li>Select Folders from the <code>Entity</code> list.</li>
<li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
<li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
<code>connectorInputPayload</code> and then enter a value similar to the following in the
<code>Default Value</code> field:
<pre class="prettyprint lang-json">
{
"Name": "Demo Update"
"ParentId": "216596059374"
}
</pre>
<li>Set the entity ID to 216457668125. To set the entity ID,
click <b>entityId</b> and then enter <code>216457668125</code> in the <b>Default Value</b>
field.
<p>Running this example, returns a response smiliar to the following in the Connector
task's <code>connectorOutputPayload</code> output variable:</p>
<pre class="prettyprint lang-json">
{
"Id": "216457668125"
}
</pre>
</li>
</ol>
  
  </devsite-expandable>

{% include "integration-connectors/docs/_terraform-create-connection.html" %}
{% include "integration-connectors/docs/connectors/box/_config_vars_terraform.html" %}