{% extends "application-integration/_base.html" %}
{% block page_title %}Use the canvas view{% endblock %}
{% block body %}

{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Canvas view{% dynamic endsetvar %}

<p>The canvas view provides an intuitive and user-friendly interface for managing your
  integration workflows.</p>

<h2>Benefits</h2>
<p>The canvas view offers the following benefits:</p>
<ul>
  <li><b>Improved responsiveness of the canvas interaction:</b> With the canvas view, you can
     smoothly move tasks and triggers, making it easier to create complex workflows.</li>
  <li><b>Clearer view of your integration:</b> The updated visual design provides a clearer view of your integration.</li>
  <li><b>Minimap view:</b> With the minimap view, you can see the viewport relative to the graph.</li>
  <li><b>Easier to build integrations:</b> The canvas view provides an intuitive method to add a new child task with a connecting edge or create a new edge to an existing task in your integration.
    <p><img src="/application-integration/images/canvas-view-add-task.png" alt="Canvas view add task"
      data-modal-dialog-id="ip_ui" class="screenshot" width="70%">

    <devsite-lightbox id="ip_ui">
    <img src="/application-integration/images/canvas-view-add-task.png" alt="Canvas view add task" width="70%">
    </devsite-lightbox>
    </p>
  </li>
  <li><b>Improved discoverability:</b> In the task configuration pane, you can configure the <i>Execution strategy for this task</i> and the <i>Execution policy for next tasks</i>. For more information about these policies, see <a href="/application-integration/docs/forks-joins">Forks and joins</a>.</li>
</ul>

<h2 id="use-canvas-view">Use the canvas view</h2>
<p>To use the canvas view, follow these steps:</p>
<ol>
  <li>Open the integration editor.</li>
  <li>In the navigation bar, the canvas view will automatically be active.
    Use the canvas to create your integration workflow.
  </li>
  <li>To add a task or an edge, click the <span class="material-icons">add_circle</span> <b>Add new task or edge to the existing task</b>.

    <p><img src="/application-integration/images/canvas-view-add-task-edge.png" alt="Canvas view add task"
      data-modal-dialog-id="ip_ui" class="screenshot" width="70%">

    <devsite-lightbox id="ip_ui">
    <img src="/application-integration/images/canvas-view-add-task-edge.png" alt="Canvas view add task" width="70%">
    </devsite-lightbox>
    </p>

  </li>
  <li>If you have multiple triggers in an integration, you can use the <i>Minimap view</i> to see the viewport relative to the graph.

    <p><img src="/application-integration/images/canvas-view-minimap.png" alt="Canvas view minimap"
      data-modal-dialog-id="ip_ui" class="screenshot" width="70%">

    <devsite-lightbox id="ip_ui">
    <img src="/application-integration/images/canvas-view-minimap.png" alt="Canvas view minimap" width="70%">
    </devsite-lightbox>
    </p>
  </li>
  <li>To configure an <a href="/application-integration/docs/edge-and-edge-conditions">edge</a>, click the <span class="material-icons">settings</span> <b>Configure edge</b>. If you have <a href="/application-integration/docs/build-integrations-gemini">enabled {{gemini_name}}</a>, then a pop-up menu, similar to the following image appears prompting you to provide an input.
  
    <p><img src="/application-integration/images/canvas-view-configure-edge.png" alt="Canvas view configure edge"
      data-modal-dialog-id="ip_ui" class="screenshot" width="70%">

    <devsite-lightbox id="ip_ui">
    <img src="/application-integration/images/canvas-view-configure-edge.png" alt="Canvas view configure edge" width="70%">
    </devsite-lightbox>
    </p>

  </li>

  <li>To add a <a href="/application-integration/docs/forks-joins">fork</a>, click the task and then in the <b>Task configuration</b> pane, expand the <b>Execution policy for next tasks</b>.
    <p><img src="/application-integration/images/canvas-view-add-fork.png" alt="Canvas view add fork"
      data-modal-dialog-id="ip_ui" class="screenshot" width="70%">

    <devsite-lightbox id="ip_ui">
    <img src="/application-integration/images/canvas-view-add-fork.png" alt="Canvas view add fork" width="70%">
    </devsite-lightbox>
    </p>

  </li>
  <li>Optionally, to use <a href="#hotkeys">hotkeys</a>, click a task or a trigger in the canvas view. Then, use hotkeys to update the integration workflow.</li>
</ol>

<h2>Hotkeys</h2>
<p>The following hotkeys are available in the canvas view:</p>
<table>
  <tr>
   <td style="background-color: #3c78d8">Key
   </td>
   <td style="background-color: #3c78d8">Function
   </td>
  </tr>
  <tr>
   <td>Ctrl + C
   </td>
   <td>Copy
   </td>
  </tr>
  <tr>
   <td>Ctrl + V
   </td>
   <td>Paste
   </td>
  </tr>
  <tr>
    <td>Ctrl + Z</td>
    <td>Undo</td>
   </tr>
  <tr>
    <td>Shift + Ctrl + Z</td>
    <td>Redo</td>
   </tr>
  <tr>
    <td>Delete</td>
    <td>Delete selected element</td>
  </tr>
</table>

<h2>What's next</h2>
<ul>
  <li>Learn about the <a href="/application-integration/docs/integration-designer-layout">{{apip_designer}} layout</a>.
  <li>Learn about <a href="/application-integration/docs/concepts">{{application_integration_name}} concepts</a>.</li>
</ul>

{% endblock %}
