{% extends "application-integration/_base.html" %}
{% block page_title %}View logs in {{logging_name}}{% endblock %}
{% block body %}


<p>In {{logging_name}}, you can view the Integration execution logs containing integration details, such as status, performance, integration version, request and response parameters, and the trigger and task configurations. For more information about execution logs in {{logging_name}}, see <a href="/application-integration/docs/introduction-logs#cloud-logs">Integration execution logs in {{logging_name}}</a>. For information about limitations and pricing, see <a href="#limitations">Limitations</a> and <a href="#pricing">Pricing</a>.

 <p>By default, {{logging_name}} is disabled for integrations. You can <a href="#before-you-begin">enable
  logging for an integration</a> by editing the unpublished version of the integration.
 </p>

  <h2 id="before-you-begin">Before you begin</h2>
   <p> To store integration execution logs in {{logging_name}}, you must first enable {{logging_name}} for your integration. To do so, follow these steps:</p>

    <ol>
      <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
        <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
        </li>
        <li>In the navigation menu, click <b>Integrations</b>.
          <p>The <b>Integrations</b> page appears listing all the integrations available in the {{gcp_name}} project.</p></li>
        <li>Select an existing integration or <a href="/application-integration/docs/create-integrations">create a new integration</a> for which you want to enable {{logging_name}}.
          <p>This opens the integration in the <i>integration editor</i>.</p></li>
          <li>Select the <code>DRAFT</code> version of your integration. You can't modify the settings for a published or an unpublished version that isn't in the draft mode. For a list of integration versions, see <a href="/application-integration/docs/integration-versions">Versions</a>.</li>
          <li>Click <span class="material-icons">settings</span> (<b>Integration summary</b>) in the designer toolbar. The integration summary page appears.</li>
          <ol>
          <li>In the <b>Log settings</b>, click the <b>Enable Cloud Logging</b> toggle and then from the <b>Severity</b> list, select the severity type of the logs that you want to store in {{logging_name}}:
          <ul>
              <li><b>Info</b>: Select this option to capture all execution statuses: <code>SUCCEEDED</code>, <code>FAILED</code>, <code>PROCESSING</code>, <code>PENDING</code>, <code>SUSPENDED</code>, <code>RETRY_ON_HOLD</code>, and <code>CANCELLED</code>.</li>
                </li>
              <li><b>Error</b>: Select this option to capture the following execution statuses: <code>FAILED</code> and <code>CANCELLED</code>.
                 </li>
                 <li><b>Warning</b>: Select this option to capture the following execution statuses: <code>FAILED</code> and <code>CANCELLED</code>.
                  <aside><b>Note:</b> Currently, both <b>Error</b> and <b>Warning</b> severity levels capture <code>FAILED</code> and <code>CANCELLED</code> execution states.</aside>
                   </li>
                   <p>For a list of integration execution states, see <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.executions#state">Execution states</a>.</p>
            </ul>
          </li>
        </li>
        <li>Click <b>Save</b>.
        </ol>
      </li>
    </ol>

  <h2>View logs</h2>

  <p>To view logs in {{logging_name}}, you must first <a href="before-you-begin">enable {{logging_name}}</a> and then follow these steps:</p>

  <ol>
    <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
      <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
      </li>
      <li>To view the integration execution logs in {{logging_name}}, use one of the following methods:
        <ul>
          <li>In the navigation menu, click <b>Logs</b>, and then, click <b>View Cloud Logs</b>.</li>
          <li>In the navigation menu, click <b>Logs</b>, and then in the <b>Cloud Logging</b> field, click <b>View</b>. If {{logging_name}} is enabled, this field provides a link to view logs in {{logging_name}}. If {{logging_name}} is not enabled, this field is set to <b>Disabled</b>.</li>
          <li>In the {{apip_designer}}, after you <a href="/application-integration/docs/test-publish-integrations">test an integration</a>, in the <b>Test integration</b> pane, click <b>View Cloud Logs</b>.</li>
        </ul>
      <p>The <b>Logs Explorer</b> page appears. Logs are displayed for the last three hours for the following default query:
        <pre>resource.type=integrations.googleapis.com/IntegrationVersion</pre>
      </li>
      <p>To understand the log format of <a href="/logging/docs/api/platform-logs#application_integration">{{integration}} logs</a>, see the <a href="https://github.com/googleapis/googleapis/blob/master/google/cloud/integrations/v1alpha/log_entries.proto"><code>log_entries</code> payload</a>.</p>
    </ol>
    <h2>Sample queries</h2>

    <p>You can use the following queries to view logs in {{logging_name}}:</p>

    <ul>
      <li><p>To view all integration execution logs:</p>
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
        </pre>
      </li>
    <li>
      <p>You can view integration execution logs for a specific execution ID:</p>
    <ul>
      <li>Searches only the parents executions with the given execution ID:
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
    jsonPayload.executionId="<var>EXECUTION_ID<var>"
        </pre>
      </li>
      <li>Searches for both parent and child executions launched from the given execution ID:
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
    "<var>EXECUTION_ID<var>"
    </pre>
      </li>
    </ul>
    </li>
    <li><p>To view integration execution logs for a specific integration:</p>
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion" 
    "<var>INTEGRATION_NAME</var>"</pre>
    Or
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
    jsonPayload.integration="<var>INTEGRATION_NAME<var>"
    </pre>
      </li>
      <li><p>To view failed integration executions for a specific integration:</p>
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
    jsonPayload.integrationExecutionDetails.integrationExecutionState="FAILED"
    jsonPayload.integration="<var>INTEGRATION_NAME<var>"
    </pre>
        </li>
        <li><p>To view logs with specific request param name. For example, the following query requests logs for the <code>requestUrl</code> parameter:</p>
    <pre class="devsite-click-to-copy">
    resource.type="integrations.googleapis.com/IntegrationVersion"
    "requestUrl"</pre>
          </li>
          <p>For more sample queries, see <a href="/logging/docs/view/query-library">{{logging_name}} sample queries</a>.</p>
    </ul>
    </p>

    <h2>Limitations</h2>

    <p>Integration logs in {{logging_name}} are subject to the following limitations:</p>
    <ul>
      <li>{{logging_name}} only supports log entries that are up to 256 KiB in size. If your logs exceed this limit, the request and response parameters are not shown in the logging details. For information about {{logging_name}} quotas and limits, see <a href="/logging/quotas">Quotas and limits</a>. To resolve this error, update the integration variables so that the value doesn't exceed the limit. Alternatively, you can also <a href="/application-integration/docs/integration-execution-logs">view these logs in {{integration}}</a>.</li>

      <li>If <a href="/application-integration/docs/local-logging">local logging</a> is disabled, the execution logs are not sent to {{logging_name}} even if {{logging_name}} is enabled.</li>
    </ul>

    <h2>Pricing</h2>
    <p>For information about pricing for {{logging_name}}, see <a href="/stackdriver/pricing#logging-costs">{{logging_name}} pricing</a>.
    </p>

  <h2>What's next</h2>
  <ul>
    <li>Learn about <a href="/application-integration/docs/introduction-logs#cloud-logs">execution logs in {{logging_name}}</a>.</li>
    <li>Learn how to <a href="/logging/docs/log-analytics">query and view logs</a>.</li>
    <li>Learn about <a href="/logging/docs/logs-based-metrics">log based metrics</a>.</li>
    <li>Learn how logs are stored, routed and how you can <a href="/logging/docs/routing/overview">export to different destinations</a>.</li>
    <li>Learn how to <a href="/logging/docs/logs-based-metrics/charts-and-alerts">create alerts on log-based metrics</a>.</li>
  </ul>




{% endblock %}
