{% extends "application-integration/_base.html" %}
{% block page_title %}Customer-managed encryption keys{% endblock %}
{% block body %}

{% include "_shared/kms/_cmek-overview.html" %}

<aside class="tip">
  <b>Tip:</b> When you use {{default_key_plural}} in {{integration}}, your tenant projects consumes {{kms_name_short}} cryptographic requests quotas. For more information about the quotas and limits, see <a href="/kms/quotas">Cloud KMS quotas</a>.
</aside>

<h2>Before you begin</h2>
<p>Ensure that the following tasks are completed before using CMEK for {{application_integration_name}}:</p>
<ol>
  <li>Enable the Cloud KMS API for the project that will store your encryption keys.
    <p>
    <a class="button button-primary" href="{% dynamic print site_values.console_url %}flows/enableapi?apiid=cloudkms.googleapis.com" target="console">Enable Cloud KMS API</a>
    <aside class="tip"><b>Tip:</b> You can run {{application_integration_name}} and {{kms_name}} in the same Google Cloud project, or in different projects.</aside>
    <ul> <li>If you use CMEK in a different project (shared or key-hosting project) than the one where you have set up {{integration}}:</li>
      <ol>
      <li>Enable the following API in the shared or key-hosting project:
        <ul>
        <li><a href="{% dynamic print site_values.console_url %}apis/library/cloudkms.googleapis.com">{{kms_name}} API</a></li>
        </ul></li>
      <li>Grant the following IAM role on the CMEK key to the {{integration}} <a href="/application-integration/docs/access-control-iam#sa">default service account</a> in the shared or key-hosting project:
       <ul>
        <li><a href="/iam/docs/roles-permissions/cloudkms">Cloud KMS CryptoKey Encrypter/Decrypter</a></li>
        </ul>
        <aside class="note"><b>Note:</b> To enable role assignment for the default service account, you must <a href="#enable-cmek">verify the CMEK key</a> at least once, even if the first attempt fails.</aside>
      </ol> </ul>
  <li>Assign the <b>Cloud KMS Admin</b> IAM role to the individuals managing the CMEK keys. Additionally, grant the following IAM permissions for the project that stores your encryption keys:
    <ul>
      <li><code>cloudkms.cryptoKeys.setIamPolicy</code></li>
      <li><code>cloudkms.keyRings.create</code></li>
      <li><code>cloudkms.cryptoKeys.create</code></li>
      <li><code>cloudkms.cryptoKeyVersions.useToEncrypt</code></li>
    </ul>
    <aside class="caution"><b>Caution: </b>The Cloud KMS Admin role contains permissions for key maintenance and key version destruction. To protect your Cloud KMS resources, this role should only be assigned to individuals responsible for key administration.</aside>
     <p>For information about granting additional roles or permissions, see <a href="/iam/docs/granting-changing-revoking-access">Granting, changing, and revoking access</a>.</p>
    </li>
  <li>Create a <a href="/kms/docs/creating-keys#create_a_key_ring">key ring</a> and a <a href="/kms/docs/creating-keys#create_a_key">key</a>.
    <aside class="note"><b>Note: </b>The key ring and CMEK key must be created in the same region where you have set up {{integration}}.</aside>
  </li>
</ol>

<h2>Add service account to CMEK key</h2>
<p>
In order to use a CMEK key in {{application_integration_name}}, you must ensure that your <a href="/application-integration/docs/access-control-iam#sa">default service account</a> is added and assigned with the <a href="/iam/docs/roles-permissions/cloudkms">CryptoKey Encrypter/Decrypter</a> IAM role for that CMEK key.
</p>
<ol>

  <li>In the {{console_name}}, go to the <b>Key Inventory</b> page.
    <p>
    <a class="button button-primary" href="{% dynamic print site_values.console_url %}security/kms/keys" target="console">Go to Key Inventory page</a>
  </li>
  <li>Select the checkbox for the desired CMEK key. 
    <p>The <b>Permissions</b> tab in the right window pane becomes available.
    </li>
  <li>Click <b>Add principal</b>, and enter the email address of the default service account.
  </li>
  <li>Click <b>Select a role</b> and select the <b>Cloud KMS CryptoKey Encrypter/Decrypter</b> role from the available dropdown list.
  </li>
  <li>Click <b>Save</b>.
  </li>
</ol>

<h2 id="enable-cmek">Enable CMEK encryption for an {{product_name}} region</h2>

<p>CMEK can be used to encrypt and decrypt <a href="/application-integration/docs/encryption#data">data stored</a> on PDs within the scope of the provisioned region. 
  <aside class="caution"><b>Caution: </b>Enabling CMEK encryption for an {{application_integration_name}} region cannot be undone. This also means that you can't change the encryption method for a region if CMEK is already enabled.
  </aside>
  To enable CMEK encryption for an {{application_integration_name}} region in your Google Cloud project, perform the following steps: 
<ol>
  <li>In the {{console_name}}, go to the <b>{{application_integration_name}}</b> page.
    <p>
    <a class="button button-primary" href="{% dynamic print site_values.console_url %}integrations" target="console">Go to {{application_integration_name}} </a>
  </li>
  <li>In the navigation menu, click <b>Regions</b>. 
    <p>The <b>Regions</b> page appears, listing the provisioned regions for {{application_integration_name}}.
    </li>
    <li>For the existing integration that you want to use CMEK, click <span class="material-icons"> more_vert</span> <b>Actions</b> and select <b>Edit encryption</b>.</li>
    <li>In the <b>Edit encryption pane</b>, expand the <b>Advanced settings</b> section.</li>
    <li>Select <b>Use a Customer-managed encryption key (CMEK)</b>, and do the following:
      <ol>
        <li>Select a CMEK key from the available drop-down list. The CMEK keys listed in the drop-down are based on the provisioned region. To create a new key, see <a href="#new-key">Create new CMEK key</a>.
        </li>
        <li>Click <b>Verify</b> to check if your default service account has cryptokey access to the selected CMEK key.</li>
        <li>If the verification for the selected CMEK key fails, click <b>Grant</b> to assign the <a href="/iam/docs/roles-permissions/cloudkms">CryptoKey Encrypter/Decrypter</a> IAM role to the default service account.
        </li>
      </ol>
    </li>
    <li>Click <b>Done</b>.</li>
  </ol>
 <h3 id="new-key">Create new CMEK</h3> 
  <p>
    You can create a new CMEK key if you don't want to use your existing key, or if you don't have a key in the specified region.
      <aside class="note">
        <b>Note: </b>You can only use a <a href="/kms/docs/algorithms#symmetric_encryption_algorithms">symmetric encryption key</a> in {{application_integration_name}}.
      </aside>
    To create a new symmetric encryption key, perform the following steps in the <b>Create a new key</b> dialog:
    <ol>
    <li>Select Key ring:
      <ol>
        <li>Click <b>Key ring</b> and choose an existing key ring in the specified region.</li>
        <li>If you want to create a new key ring for your key, click the <b>Create key ring</b> toggle and do the following steps: 
          <ol>
            <li>Click <b>Key ring name</b> and enter a name of your key ring.</li>
            <li>Click <b>Key ring location</b> and choose the regional location of your key ring.
              <aside class="note"><b>Note:</b> For CMEK encryption, your key ring must be created in the same region where you have set up {{application_integration_name}}.</aside>
            </li>
          </ol>
        </li>
        <li>Click <b>Continue</b>.</li>
      </ol>
    <li>Create Key:
      <ol>
        <li>Click <b>Key name</b> and enter a name for your new key.</li>
        <li>Click <b>Protection level</b> and select either <b>Software</b> or <b>HSM</b>.
          <p>For information about protection levels, see <a href="https://cloud.google.com/kms/docs/protection-levels">Cloud KMS protection levels</a>.
          </p>
        </li>
      </ol>
    </li>
    <li>Review your key and key ring details, and click <b>Continue</b>.</li>
    <li>Click <b>Create</b>.</li>
    </ol>
    <aside class="note"><b>Note:</b> You must enable CMEK in a region before creating or publishing integrations in that region. Failure to do so may result in errors.</aside>

    <h2>Encrypted data</h2>
    <p>
    The following table lists the data encrypted in {{application_integration_name}}:
    </p>

    <table id="data">
      <tr>
        <th>Resource</th>
        <th>Encrypted data</th>
      </tr>
      <tr>
        <td>Integration details </td>
        <td>
          <ul>
            <li>Task configuration parameters
            <li>Task configuration descriptions</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Integration execution information </td>
        <td>
          <ul>
            <li>Request parameters
            <li>Response parameters
            <li>Task execution details</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Authentication profile credentials</td>
        <td>
          <ul>
            <li>Username and passwords
            <li>API keys
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#oauth2-code">OAuth 2.0 authorization code</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#oauth2-client">OAuth 2.0 client credentials</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#oauth2-owner">OAuth 2.0 resource owner password credentials</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#auth-token">Auth tokens</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#jwt">JWT tokens</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#service-account">Service accounts</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#client-certificate">SSL/TLS client certificates</a>
            <li>
              <a href="https://cloud.google.com/application-integration/docs/configuring-auth-profile#googleOIDC">Google OIDC ID tokens</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Approval/Suspension task details</td>
        <td>Approval or suspension configurations </td>
      </tr>
    </table>

{% setvar cmek_heading %}h2{% endsetvar %}
{% setvar cmek_length %}long{% endsetvar %}
{% setvar cmek_example %}For example, CMEK keys can consume these quotas for each encryption and decryption call.{% endsetvar %}
{% include "_shared/kms/_cmek-quotas.md" %}

{% endblock %}
