{% extends "application-integration/_base.html"  %}
{% block page_title %}{{apip_task_cloudfunction }} task{% endblock %}
{% block body %}

<p>The <b>{{apip_task_cloudfunction}}</b> task lets you configure and run {{cloud_run_functions_name_short}} from your integration. {{cloud_run_functions_name_short}} represent the next evolution of {{function_name_old}}, offering an event-driven programming model with enhanced control and scalability, leveraging the {{cloud_run_name}} serverless platform. {{cloud_run_functions_name_short}} provide a single serverless solution for all workload types.</p>
<p>The {{apip_task_cloudfunction}} task supports the following versions of {{cloud_run_functions_name_short}}:</p>
  <ul>
    <li><a href="/functions/1stgendocs/concepts/overview">{{function_name_old}} (1st gen)</a></li>
    <li>{{cloud_run_functions_name_short}} created using the <a href="/functions/docs/reference/rest">{{function_name_old}} v2 API</a></li>
  </ul>

<p>For detailed information about the differences between {{cloud_run_functions_name_short}} versions, see the <a href="/run/docs/functions/comparison">Cloud Functions comparison</a> guide.</p>
<aside class="note"><b>Note:</b> This document uses the terms {{cloud_run_functions_name_short}} (1st gen), {{function_name_old}} (1st gen) and, {{function_name_old}} interchangeably.</aside>

<h2>Before you begin</h2>
<p>Ensure that you perform the following tasks in your Google Cloud project before configuring the <b>{{ apip_task_cloudfunction }}</b> task.</p>
<ol>
  <li>To connect to Cloud Function, ensure that you have either <a href="{{basehrefpath}}/configuring-auth-profile#createAuthProfile">created
    an OAuth 2.0 profile</a> or <a href="/application-integration/docs/access-control#add-service-account">attached a user-managed service account</a> to your integration:
</li>
    <ul>
      <li>
        If your integration has a service account attached, assign the <b>Cloud Function Invoker</b> {{iam_name_short}} role to that service account.
        <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
      </li>
      <li>The <b>{{apip_task_cloudfunction}}</b> task only supports authentication profiles of type <a href="{{basehrefpath}}/configuring-auth-profile#googleOIDC">Google OIDC ID Token</a>.
        Create an authentication profile of type <a href="{{basehrefpath}}/configuring-auth-profile#googleOIDC">Google OIDC ID Token</a> using the service account with the <b>Cloud Functions Invoker</b> {{iam_name_short}} role assigned.
        If your <b>{{apip_task_cloudfunction}}</b> task does not require authentication,
        the <b>Authentication profile</b> field in the task configuration pane can be left empty.
      </li>
    </ul>
 <p>If your integration has both OIDC ID profile and a user-managed service account configured, then by default the OIDC ID profile is used for authentication. If neither OIDC ID profile nor user-managed service account is configured, then the default service account (<code>{{shared_p4sa}}</code>) is used to call the <b>{{apip_task_cloudfunction}}</b> task.</p>

    <li>Ensure that <a href="/application-integration/docs/vpc-service-controls">{{vpcsvcctl_name}}</a> is <b>not</b> set up for {{integration}} in your {{gcp_name}} project.
      <aside class="caution">
        <b>Warning:</b> <b>{{ apip_task_cloudfunction }}</b> does not function, or stops functioning, if <a href="/application-integration/docs/vpc-service-controls">{{vpcsvcctl_name}}</a> is set up for {{integration}} in your {{gcp_name}} project.
      </aside></li>

</ol>

<h2>Configure the {{apip_task_cloudfunction}} task</h2>
<p>
  To configure the <b>{{apip_task_cloudfunction}}</b> task in your integration,
  perform the following steps:
</p>
<ol>
 <li>In the navigation menu, click <b>Integrations</b>.
    <p>
     This opens the list of available integrations in the
      {{integration}} UI.
    </p>
  </li>
  <li>Select an existing integration or click <b>Create integration</b>.
    <p>
      If you are creating a new integration, enter a name and description in
      the create dialog, and click <b>Create</b>.
    </p>
  </li>
  <li>From the <b>Tasks</b> drop-down, click <b>{{apip_task_cloudfunction}}</b> to place it in the
    integration editor.
  </li>
  <li>
    Click the <b>{{ apip_task_cloudfunction }}</b> element on the designer to
    open the configuration pane, then click
    <b>Configure Cloud Function</b>.
  </li>
    <li>
      If you are prompted to grant permissions to the service account, click
      <b>Grant</b>.
      <p>
        {{integration}} automatically grants the required permissions to the
        service account.
      </p>
  </li>
  <li>In the <b>Cloud Function configuration</b> pane, select one of the following options:
    <ul>
      <li><b>Link existing function:</b> Select this option to associate an existing function with your integration. You can link {{function_name_old}} (1st gen) and Cloud Functions created with the <a href="/functions/docs/reference/rest">{{function_name_old}} v2 API</a> from your integration.
        <ul>
          <li>In the <b>Cloud Function Trigger URL</b> field, enter the trigger URL of the existing function.
            <p>The URL should follow one of the following formats:</p>
            <pre class="prettyprint" suppresswarning># For Cloud Functions (1st gen)
https://<var>REGION_NAME</var>-<var>PROJECT_ID</var>.cloudfunctions.net/<var>FUNCTION_NAME</var>
</pre>
            <pre class="prettyprint" suppresswarning># For Cloud Run functions created using the Cloud Functions v2 API
https://<var>FUNCTION_NAME</var>-<var>PROJECT_ID</var>.<var>REGION_NAME</var>.run.app
</pre>
</p>
          </li>
        </ul>
        <aside class="note"><b>Important:</b> Ensure that the source files for the existing Cloud Function adhere to the format specified in the <a href="#format">Cloud Function template</a>.</aside>
      </li>
      <li><b>Create new function:</b> Select this option to create a new function for the integration.
        <ol>
          <li>In the <b>Function Name</b> field, enter a unique name for the new {{cloud_run_functions_name_short}}.</li>
          <li>From the <b>Region</b> drop-down, select the region where the {{cloud_run_functions_name_short}} is deployed.</li>
          <li>From the <b>Function Version</b> dropdown, select the desired {{cloud_run_functions_name_short}} version:
              <ul>
                <li><b>Cloud Functions (1st Gen):</b> This is the legacy version of {{cloud_run_functions_name_short}}, formerly known as {{function_name_old}} (1st gen), which uses the <code>.cloudfunctions.net</code> endpoint format.</li>
                <li><b>Cloud Functions (Latest Gen):</b> This is the latest version of {{cloud_run_functions_name_short}}, created using {{function_name_old}} v2 API. Built on Cloud Run and Eventarc, it supports extended request timeouts (up to 60 minutes), offers increased concurrency, and uses both <code>.cloudfunctions.net</code> and <code>.run.app</code> endpoint formats.</li>
            For more information about the differences between the two versions, see <a href="/functions/docs/concepts/version-comparison">Compare Cloud Functions</a>.
              </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
    <li>
    Click <b>Save</b>.
  </li>
  <p>
    Configuring a <b>{{apip_task_cloudfunction}}</b> task in {{integration}} creates a basic HTTP-
    triggered {{cloud_run_functions_name_short}} in your Google Cloud project.
  </p>
</ol>

<h3 id="format">Cloud function template</h3>
<p>The following samples show how to use the <b>{{ apip_task_cloudfunction }}</b> task in your integration for different languages.</p>
<devsite-selector>
 <section>
    <h3>Python</h3>
      <p>When configuring the {{ apip_task_cloudfunction }} using an existing {{cloud_run_functions_name_short}}, make sure that the function's <code>main.py</code>, <code>task.py</code>, and <code>requirements.txt</code> source files are in the following format:</p>
    <devsite-selector>
     <section>
        <h3>task.py</h3>
    <pre class="prettyprint lang-py">
      # Sample Code:
      # print(event.get('task_string_key'))
      # event.set('task_int_array_key', [456, 789]);
      # event.log('some logging')

      def run(event):
        """Actual cloud function custom logic.
        Args:
          event : event object in main.py that contains all parameters.
        """
        return
    </pre>
      </section>
      <section>
        <h3>main.py</h3>
    <pre class="prettyprint lang-py">
      """Un-editable platform wrapper which invokes user code."""
    import traceback

    from flask import json
    from flask import jsonify
    from task import run

    VALUE_NAME = [
        'stringValue', 'intValue', 'doubleValue', 'booleanValue', 'protoValue'
    ]
    ARRAY_VALUE_NAME = {
        'stringArray': 'stringValues',
        'intArray': 'intValues',
        'doubleArray': 'doubleValues',
        'booleanArray': 'booleanValues',
        'protoArray': 'protoValues'
    }
    VALUE_TYPE_URL = 'type.googleapis.com/google.protobuf.Value'
    CLOUD_FUNCTION_EXCEPTION_KEY = 'CloudFunctionException'
    CLOUD_FUNCTION_LOGGING_KEY = 'CloudFunctionLogging'


    class _Event(object):
      """Event object."""

      def __init__(self, json_payload):
        self._event_params = json_payload.get('eventParameters', dict())
        self._task_params = json_payload.get('taskParameters', dict())
        self._log = []
        print('Event param is ' + str(self._event_params))
        print('Task param is ' + str(self._task_params))

      def set(self, key, value):
        """Set the event parameters key-value.

        Args:
          key: parameter key.
          value: parameter value.
        """
        new_param = self._create_param(key, value)
        param = self._get_param_by_key(key)
        if param is None:
          if 'parameters' not in self._event_params:
            self._event_params['parameters'] = []
          self._event_params['parameters'].append(new_param)
        else:
          param['value'] = new_param['value']

      def _create_param(self, key, value):
        """Create a new parameter with given key value pair.

        Args:
          key: parameter key.
          value: parameter value.

        Returns:
          parameter.
        """
        new_param = {}
        new_param['key'] = key
        if isinstance(value, str):
          new_param['value'] = {'stringValue': value}
        elif isinstance(value, int):
          new_param['value'] = {'intValue': value}
        elif isinstance(value, float):
          new_param['value'] = {'doubleValue': value}
        elif isinstance(value, bool):
          new_param['value'] = {'booleanValue': value}
        elif isinstance(value, dict):
          if 'type@' in value:
            new_param['value'] = {'protoValue': value}
          else:
            new_param['value'] = {
                'protoValue': {
                    '@type': 'type.googleapis.com/google.protobuf.Value',
                    'value': value
                }
            }
        elif isinstance(value, list):
          if not value:
            raise RuntimeError('Cannot create a param with empty list')
          if any(not isinstance(val, type(value[0])) for val in value):
            print('Not all elements in the list have the same type')
            new_param['value'] = {
                'protoValue': {
                    '@type': 'type.googleapis.com/google.protobuf.Value',
                    'value': value
                }
            }
          elif isinstance(value[0], str):
            new_param['value'] = {'stringArray': {'stringValues': value}}
          elif isinstance(value[0], int):
            new_param['value'] = {'intArray': {'intValues': value}}
          elif isinstance(value[0], float):
            new_param['value'] = {'doubleArray': {'doubleValues': value}}
          elif isinstance(value[0], bool):
            new_param['value'] = {'booleanArray': {'booleanValues': value}}
          elif isinstance(value[0], dict):
            if all('@type' in val and val['@type'] == value[0]['@type']
                   for val in value):
              new_param['value'] = {'protoArray': {'protoValues': value}}
            else:
              new_param['value'] = {
                  'protoValue': {
                      '@type': 'type.googleapis.com/google.protobuf.Value',
                      'value': value
                  }
              }
          else:
            raise RuntimeError('The type ' + type(value[0]) +
                               ' in the list is not supported')
        else:
          raise RuntimeError('Value ' + str(value) + ' has the type ' +
                             type(value) + ' that is not supported')
        return new_param

      def get(self, key):
        """Get the event parameter value for specified key.

        Args:
          key: parameter key.

        Returns:
          Parameter value.
        """
        param = self._get_param_by_key(key)
        if param is None:
          raise RuntimeError('Can not find param with key ' + key)
        return self._get_param_value(param)

      def _get_param_by_key(self, key):
        """Get the parameter for specified key.

        Args:
          key: parameter key.

        Returns:
          Parameter.
        """
        param = self._get_param_by_key_from_params(key, self._task_params)
        if param is None:
          return self._get_param_by_key_from_params(key, self._event_params)
        value = self._get_param_value(param)
        if isinstance(value, str) and len(value) > 2 and value.startswith(
            '$') and value.endswith('$'):
          return self._get_param_by_key_from_params(value[1:-1], self._event_params)
        return param

      def _get_param_by_key_from_params(self, key, params):
        """Get the parameter for specified key from event parameters.

        Args:
          key: parameter key.
          params: event parameters.

        Returns:
          Parameter.
        """
        if not isinstance(params, dict) or 'parameters' not in params:
          return None
        for param in params['parameters']:
          if param['key'] == key:
            return param
        return None

      def _get_param_value(self, param):
        """Get the parameter value for specified parameter.

        Args:
          param: parameter.

        Returns:
          Parameter value.
        """
        value = param['value']
        if len(value) != 1:
          raise RuntimeError('param does not have size of 1')
        for value_name in VALUE_NAME:
          if value_name in value:
            if value_name == 'protoValue' and value[value_name][
                '@type'] == VALUE_TYPE_URL:
              return value[value_name]['value']
            return value[value_name]
        for array_value_name in ARRAY_VALUE_NAME:
          if array_value_name in value:
            return value[array_value_name][ARRAY_VALUE_NAME[array_value_name]]
        raise RuntimeError('Cannot get value from param ' + str(param))

      def set_error(self):
        """Set the cloud function error to event parameters in order for user to see on IP."""

        self.set(CLOUD_FUNCTION_EXCEPTION_KEY, traceback.format_exc())

      def log(self, message):
        self._log.append(str(message))

      def get_response(self):
        """Get the response that can be returned to IP.

        Returns:
          The response text or any set of values that can be turned into a
          Response object using
          `make_response
          &lt;http://flask.pocoo.org/docs/1.0/api/#flask.Flask.make_response&gt;`.
        """
        if self._log:
          self.set(CLOUD_FUNCTION_LOGGING_KEY, self._log)
        res = {
            'eventParameters': self._event_params,
        }
        return jsonify(res)


    def execute_function(request):
      """Entry point of the cloud function.

      Args:
        request (flask.Request): HTTP request object.

      Returns:
        The response text or any set of values that can be turned into a
        Response object using
        `make_response
        &lt;http://flask.pocoo.org/docs/1.0/api/#flask.Flask.make_response&gt;`.
      """
      try:
        request_json = request.get_json(silent=True)
        event = _Event(request_json)
        run(event)
      except:
        event.set_error()
      return event.get_response()

    </pre>
      </section>
      <section>
        <h3>requirements.txt</h3>
    <pre class="prettyprint lang-sh">
    # Function dependencies, for example:
    # package>=version
    </pre>
    </section>
    </devsite-selector>
    <p>For more information about response format, see <a href="/application-integration/docs/reference/rest/v1/ValueType">ValueType</a>.</p>
  </section>
  <section> 
    <h3>Java</h3>
    <p>The following sample shows how to use the <b>{{ apip_task_cloudfunction }}</b> task in your integration. Ensure that the response follows the supported JSON format as described in the sample:</p>

<pre class="devsite-terminal devsite-click-to-copy prettyprint lang-java">
private static final Gson gson = new Gson();

@Override
public void service(HttpRequest request, HttpResponse response) throws Exception {
  JsonObject body = gson.fromJson(request.getReader(), JsonObject.class);

  JsonArray resParams = new JsonArray();
  for (JsonElement param: body.getAsJsonObject("eventParameters").getAsJsonArray("parameters")) {
    if (param.getAsJsonObject().get("key").getAsString().equals("input")) {
      JsonObject newParam= new JsonObject();
      newParam.addProperty("key", "input");
      JsonObject value = new JsonObject();
      value.addProperty("stringValue","2");
      newParam.add("value", value);
      resParams.add(newParam);
    } else {
      resParams.add(param);
    }
  }
  JsonObject parameters = new JsonObject();
  parameters.add("parameters", resParams);
  JsonObject res = new JsonObject();
  res.add("eventParameters", parameters);
  System.out.println(res);
  BufferedWriter writer = response.getWriter();
  writer.write(res.toString());
}
</pre>
<p>For more information about response format, see <a href="/application-integration/docs/reference/rest/v1/ValueType">ValueType</a>.</p>
</p>
  </section>
  <section>
    <h3>Javascript</h3>
    <p>The following sample shows how to use the <b>{{ apip_task_cloudfunction }}</b> task in your integration. Ensure that the response follows the supported JSON format as described in the sample:</p>

<pre class="devsite-terminal devsite-click-to-copy prettyprint lang-js">
const functions = require('@google-cloud/functions-framework');

functions.http('execute_function', (req, res) => {
  console.log(JSON.stringify(req.body));
  let response = {"eventParameters":{"parameters":[{"key":"input","value":{"stringValue":"2"}}]}};
  res.send(JSON.stringify(response));
});
</pre>
<p>For more information about response format, see <a href="/application-integration/docs/reference/rest/v1/ValueType">ValueType</a>.</p>
  </section>
  <section>
    <h3>PHP</h3>
    <p>The following sample shows how to use the <b>{{ apip_task_cloudfunction }}</b> task in your integration. Ensure that the response follows the supported JSON format as described in the sample:</p>

<pre class="devsite-terminal devsite-click-to-copy prettyprint lang-php">
use Psr\Http\Message\ServerRequestInterface;
function execute_function(ServerRequestInterface $request)
{
  return '{"eventParameters":{"parameters":[{"key":"input","value":{"stringValue":"2"}}]}}';
}
</pre>
<p>For more information about response format, see <a href="/application-integration/docs/reference/rest/v1/ValueType">ValueType</a>.</p>
  </section>
</devsite-selector>

<h2>Edit a {{ apip_task_cloudfunction }} task</h2>
<p>Application Integration directs you to the appropriate {{console_name}} page to edit the {{cloud_run_functions_name_short}} based on the version type.</p>
<devsite-selector>
 <section>
   <h3 class="two-line-tab">Cloud Functions (1st gen)</h3>
   <p>To edit a Cloud Function task that is configured using the {{function_name_old}} (1st gen) version, perform the following steps:</p>
<ol>
 <li>In the task configuration pane, click <b>Open Cloud Function</b>.
 <p>
   You are directed to the <b>Cloud Functions (1st gen) &gt; Function details</b> page in your {% dynamic print site_values.console_name %}.
   </p></li>
 <li>Click <b>Edit</b>.</li>
 <li>On the <b>Edit function</b> page, the <b>Configuration</b> step lets you edit the default configuration settings of the Cloud Function.
   See <a href="https://cloud.google.com/functions/docs/configuring">Configuring Cloud Functions</a> for more information.</li>
 <li>Click <b>Next</b> to proceed to the <b>Code</b> step and edit the Cloud Function's source code.
 <p>
   By default, the Cloud Function contains the following source files:
   <ul>
     <li><i>main.py</i> : This file contains the initialization code to run the Cloud Function from your integration.
       <aside class="caution">
       <b>Caution:</b> Do not edit or modify the <i>main.py</i> file.
       </aside>
     </li>
     <li><i>task.py</i> : This file contains the executable code of the Cloud Function.
       Write your script inside the <code>run(event)</code> function. This function is called when the Cloud Function task executes.
       The <code>event</code> object from the <i>main.py</i> file contains all the task parameters.
       <p>
       See <a href="#access-var">Access integration variables</a> for information about how to use the variables defined at the integration level in your script.
       </p>
     </li>
     </ul>
 </p>
 </li>
<li>Click <b>Deploy</b>.</li>
</ol>
</section>
 <section>
   <h3>Cloud Run functions</h3>
   <p>To edit a Cloud Function task that is configured using the {{function_name_old}} (Latest Gen) version, perform the following steps:</p>
<ol>
 <li>In the task configuration pane, click <b>Open Cloud Function</b>.
 <p>
   You are redirected to the <b>Cloud Run functions &gt; Service details</b> page in your {% dynamic print site_values.console_name %}.
   </p>
 </li>
 <li>On the <b>Source</b> tab, click <b>Edit source</b> to edit the source code files of the Cloud Run functions.
<p>
   By default, the Cloud Run functions contain the following source files:
   <ul>
     <li><i>main.py</i> : This file contains the initialization code to run the Cloud Functions from your integration.
       <aside class="caution">
       <b>Caution:</b> Do not edit or modify the <i>main.py</i> file.
       </aside>
     </li>
     <li><i>task.py</i>: This file contains the executable code of the Cloud Functions.
       Write your script inside the <code>run(event)</code> function. This function is called when the Cloud Run functions task executes.
       The <code>event</code> object from the <i>main.py</i> file contains all the task parameters.
       <p>
       See <a href="#access-var">Access integration variables</a> for information about how to use the variables defined at the integration level in your script.
       </p>
</li>
     </ul>
 </p>
 </li>
<li>Click <b>Save and redeploy</b>.</li>
</ol>
</section>
</devsite-selector>


<h2 id="access-var">Access integration variables</h2>
<p>
To access an integration variable in your Cloud Function, pass the variable as
  task parameter to the <b>{{ apip_task_cloudfunction }}</b> task. The task parameter is a key-value pair where <b>Key</b> is the name of the reference variable used in your Cloud Function source file and the <b>Value</b> is the corresponding integration variable name that the reference variable points to.
  You can add one or more task parameters in the <b>Task parameters</b> section of the task configuration pane.
</p>
<p>
  The following methods are used to access integration variables from your Cloud Function:
<ul>
  <li><b>set</b>: Writes the value to a variable.</li>
  <li><b>get</b>: Reads the value of a variable.</li>
</ul>
</p>
<p>
  For example, if you have an integration variable named <var>EmployeeName</var> that you want to use in your Cloud Function source file, define the following task parameters:
  <ul>
    <li><b>Key</b>: <var>EmployeeKey</var></li> 
    <li><b>Value</b>: <var>EmployeeName</var></li>
</ul>
</p>

<p>
  The following sample script shows the usage of set and get functions to access the defined integration variables.
</p>
<pre class="prettyprint" suppresswarning=true>
def run(event):  
  # Read the integration variable <var>EmployeeName</var> using the reference variable <var>EmployeeKey</var>
  value = event.get('<var>EmployeeKey</var>');
  # Change the integration variable <var>EmployeeName</var> value using the reference variable <var>EmployeeKey</var>
  event.set('<var>EmployeeKey</var>' , '<var>XYZ</var>');
  # The new value of the integration variable is retained throughout the Cloud Function task.
  return
</pre>

{% include "application-integration/docs/_shared/_retry_on_failure.html" %}

<h2>SLA exclusions</h2>

<p>The {{apip_task_cloudfunction}} task has a dependency on
  the <a href="/functions/docs/concepts/overview">Google Cloud Functions</a> product.
  Because this dependency is external to {{product_name}}, all executions of
 <code>active</code> integrations that fail because of the failure in
  the {{apip_task_cloudfunction}} task are excluded from
   the <a href="https://cloud.google.com/application-integration/sla">{{product_name}}
      Service Level Agreement (SLA)</a> terms and conditions.</p>


<h2>Quotas and limits</h2>
    <p>For information about quotas and limits for both Cloud Run functions and {{function_name_old}} (1st gen), see <a href="/run/docs/functions/comparison#configuration">Configuration Comparison</a>.</p>
<h2>What's next</h2>
    <ul>
      <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
      <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
      <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
      <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
 </ul>

{% endblock %}
