{% extends "application-integration/_base.html"  %}
{% block page_title %}Azure AD trigger{% endblock %}

{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Azure AD trigger{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>The <b>Azure AD trigger</b> is a <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a> that lets you invoke an integration based on the <a href="#events">Azure AD events</a> that you've subscribed to in your Azure AD connection.</p>

<aside class="note"><b>Important:</b> Integration Connectors is a billable component of Google Cloud. For information about the costs and charges of using Integration Connectors, see <a href="/integration-connectors/docs/pricing">Integration Connectors pricing</a>.</aside>

<h2 id="iam">Before you begin</h2>
<p>If you plan to create or configure a new connection for the <b>Azure AD trigger</b>, make sure that you have the following IAM role on the project:</p>
<ul>
  <li>Connector Admin (<code>roles/connectors.admin</code>) </li>
  <p>For information about granting roles, see <a href="/iam/docs/granting-changing-revoking-access">Manage access</a>.</p>
</ul>

<p>Grant the following IAM roles to the service account that you want to use for the <b>Azure AD trigger</b>:</p>
<ul>
  <li>Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>) </li>
  <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
</ul>

<h2>Add the Azure AD trigger</h2>

<p>
To add a <b>Azure AD trigger</b> to your integration, perform the following steps:
</p>

<ol>
  {{apip_apigee_steps_trigger}}
  {{ apip_sa_steps_trigger }}
<li>Click and place the <b>Azure AD trigger</b> element in the integration editor.</li>
<p>To configure the <b>Azure AD trigger</b>, you can either use an existing Azure AD connection available in Integration Connectors, or create a new Azure AD connection using the inline connection creation option.</p>
</ol>

<h2>Configure Azure AD trigger using an existing connection</h2>

<p>
  You can configure the <b>Azure AD trigger</b> using an existing Azure AD connection in Integration Connectors. Note that the <b>Azure AD trigger</b> is an <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a>, therefore you can only use an Azure AD connection with event subscription enabled to configure the trigger. 
</p>
<p>For information about how to configure a <b>Azure AD trigger</b> using a new Azure AD connection, See <a href="#create">Configure Azure AD trigger using a new connection</a></p>
<p>To configure a <b>Azure AD trigger</b> using an existing Azure AD connection, perform the following steps:</p>

<ol>
  <li>Click the <b>Azure AD trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Provide the following configuration details in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li><b>Region:</b> Select the region of your Azure AD connection.</li>
      <li><b>Connection:</b> Select the Azure AD connection that you want to use.
      <p>{{integration}} only displays those Azure AD connections that are active and have an event subscription enabled. 
      </p>
    </li>
      <li><b>Event subscription type:</b> Select the type of event subscription that triggers the integration. For information about the supported event subscription types for this trigger, see <a href="#events">Supported event subscription types</a>.</li> 
      <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the Azure AD trigger.</li>
    </ol>
  </li>
  <li>Click <b>Done</b> to complete the trigger configuration and close the page.</li>
</ol>


<h2 id="create">Configure Azure AD trigger using a new connection</h2>


<p>To configure the <b>Azure AD trigger</b> using a new Azure AD connection, perform the following steps:</p>
<ol>
  <li>Click the <b>Azure AD trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Skip the <b>Region</b> field.</li>
  <li>Click <b>Connection</b> and select the <b>Create Connection</b> option from the drop-down menu.</li>
  <li>Complete the following steps in the <b>Create Connection</b> pane:
  <ol>
    <li>In the <b>Location</b> step, choose the location for the new Azure AD connection:
      <ol>
        <li><b>Region:</b> Select a region from the drop-down list.
        </li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>
  
    <li>In the <b>Connection Details</b> step, provide details about the new Azure AD connection:
      <ol>
        <li><b>Connector version:</b> Choose an available version of the Azure AD connector from the drop-down list.
        </li>
        <li><b>Connection Name:</b> Enter a name for the Azure AD connection.
          <aside class="note"><b>Note:</b> Connection names must meet the following criteria:
          <ul>
            <li>Connection names can use letters, numbers, or hyphens.</li>
            <li>Letters must be lower-case.</li>
            <li>Connection names must begin with a letter and end with a letter or number.</li>
            <li>Connection names cannot exceed 49 characters.</li>
          </ul>
        </aside>
        </li>
        <li>(Optional) <b>Description: </b> Enter a description for the connection.</li>
        <li>(Optional) <b>Enable Cloud Logging:</b> Select this checkbox to store all log data of the connection.</li>
        <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the Azure AD connection.</li>
        <li><b>Enable event subscription:</b> Select to create and enable a new event subscription for the Azure AD connection. You can either enable only event subscriptions or also include connection <a href="/integration-connectors/docs/entities-operation-action">entities, operations, and actions</a>.
        <aside class="note"><b>Note:</b> The following additional connection configuration steps are required if you choose to enable <a href="/integration-connectors/docs/entities-operation-action">entities, operations, and actions</a> for the connection:
          <ul>
            <li>
              <b>Azure Tenant</b>: The Microsoft Online tenant being used to access data. If you don't specify a tenant, your default tenant is used.
            </li>
            <li><a href="#destination">Destinations</a></li>
            <li><a href="#auth">Authentication</a></li>
          </ul>
        </aside>
      </li>
        <li>(Optional) Expand <b>Advanced settings</b> to configure the connection node settings.
          <p>
            For more information about the connection node settings for Azure AD, see the <a href="/integration-connectors/docs/connectors/azuread/configure">Azure AD connection</a> documentation.
          </p></li>
        <li>(Optional) Click <b>+ Add label</b> to add a label to the connection in the form of a key-value pair.</li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>

  <li id="destination">
    In the <b>Destinations</b> step, provide the Azure AD instance details: 
    <ol>
      <li><b>Destination Type:</b>  Select <b>Host address</b>.</li>
      <li><b>Host:</b> Enter the hostname or IP address of your Azure AD instance.</li>
      <li>Click <b>Next</b>.</li>
    </ol>
  </li> 

  <li id="auth">
    In the <b>Authentication</b> step, provide the authentication details for the Azure AD instance: 
    <ol>
      <li>Select your desired authentication type and enter the relevant details.
        <p>To understand how to configure these authentication types, see <a href="/integration-connectors/docs/connectors/azuread/configure#configure-auth">Configure authentication</a>.</p>
      </li>
      <li>Click <b>Next</b>.</li>
    </ol>
  </li> 

    <li>
      In the <b>Event subscription details</b> step, provide details of the Azure AD instance where the event subscriptions will be created.
      <ol>
        <li><b>Client ID</b>: The client ID used for requesting access tokens.</li>
        <li><b>Client secret</b>: The client secret used for requesting access tokens.</li>
        <li><b>Secret version:</b> Select a secret version.</li>
        <li><b>Client state</b>: The Secret Manager Secret containing the client state. This is used for change notifications authentication.</li>
        <li>
          <b>Azure Tenant</b>: The Microsoft Online tenant being used to access data. If you don't specify a tenant, your default tenant is used.
        </li>
        <li>Optionally, select <b>Enable data enrichment</b> if you want additional information
          to be appended to the backend system's response.
            <p>The additional information is specific to the entity for which you have configured the event. For more information,
              see <a href="/integration-connectors/docs/eventsubscription#data-enrichment-in-event-notifications">Data enrichment in event notifications</a>.
            </p>
          <aside class="note"><b>Note:</b> If you have configured this connection for only event subscription, you can't
            enable this option. To enable data enrichment, you must configure the connection for
            both event subscription and connector operations (entities and actions).</aside>
          </li>
        </ol>
          {{connector_psc_eventing_step}}
          {{connector_dead_letter_config_step}}
          {{connector_eventing_proxy_step}}
         
        <li>Click <b>Next</b>.</li>
      </ol>
    </li> 
    <li><b>Review</b>: Review the provided Azure AD connection details.</li>
  <li>Click <b>Create</b> to complete creating a new Azure AD connection.</li>
 
  </li>
  <li><b>Event type ID:</b> Select the type of event subscription that triggers the integration. For information about the supported event subscription types for this trigger, see <a href="#events">Supported event subscription types</a>.</li> 
  <li>Click <b>Done</b> and close the page.</li>
  </ol>


<h2 id="output">Trigger output</h2>
<p>The <b>Azure AD trigger</b> takes a couple of minutes to complete the event subscription configuration. You can view the status of your event subscription in the trigger configuration pane under <b>Event Subscription details</b>.</p>
<p>The <b>Azure AD trigger</b> indicates the status of an event subscription using the following states:</p>
  <ul>
    <li><span class="material-icons">
      restart_alt
      </span><code>Creating</code>: Indicates that the trigger is subscribing to the event subscription.
    <li><span class="material-icons">
      check_circle
      </span><code>Active</code>: Indicates that the trigger is successfully subscribed to an event subscription.</li>
    <li><span class="material-icons">
      error
      </span><code>Error</code>: Indicates that the there is an issue with the configured event subscription. </li>
</ul>
<p>In addition to the event subscription status, the <b>Event Subscription details</b> section also displays other details such as connection region, connection name, event subscription name, and more.</p>

<h3>Trigger output variable</h3>
<p>
  For each event, the <b>Azure AD trigger</b> generates a <code>ConnectorEventPayload</code> output variable which you can use in your downstream tasks. The output variable is in JSON format containing the output Azure AD payload schema.
</p>
<devsite-expandable>
<h4 class="showalways">Example 1: Output payload for the Azure AD event: <b>User updated</b></h4>

<pre class="prettyprint lang-json devsite-click-to-copy">
  {
    "type": "object",
    "properties": {
      "changeType": {
        "type": "string"
      },
      "clientState": {
        "type": "string"
      },
      "resource": {
        "type": "string"
      },
      "resourceData": {
        "type": "object",
        "properties": {}
      },
      "subscriptionExpirationDateTime": {
        "type": "string"
      },
      "subscriptionId": {
        "type": "string"
      },
      "tenantId": {
        "type": "string"
      }
    }
  }
</pre>
</devsite-expandable>

<devsite-expandable>
  <h4 class="showalways">Example 2: Data enriched output payload for the Azure AD event: <b>User updated</b></h4>
  <pre class="prettyprint lang-json devsite-click-to-copy">
    {
      "type": "object",
      "properties": {
        "changeType": {
          "type": "string"
        },
        "clientState": {
          "type": "string"
        },
        "context-data": {
          "type": "object",
          "properties": {}
        },
        "resource": {
          "type": "string"
        },
        "resourceData": {
          "type": "object",
          "properties": {}
        },
        "subscriptionExpirationDateTime": {
          "type": "string"
        },
        "subscriptionId": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        }
      }
    }
  </pre>
  <p>The <code>context-data</code> field contains enriched data about the entity.</p>
  </devsite-expandable>

  <h3>View event subscriptions</h3>
<p>To view and manage all the event subscriptions associated with a connection in Integration Connectors, do the following:</p>

<ol>
  <li>Go to <b>Integration Connectors > Connections</b> page.
      <p><a href="{% dynamic print site_values.console_url %}connectors/connections" target="console" class="button button-primary">
          Go to the Connections page</a></p></li>
  <li>Click the connection for which you want to view the subscriptions.</li>
  <li>Click the <b>Event subscriptions</b> tab.
  <p>This displays all the event subscriptions for the connection.</p>
  </li>
</ol>

  <h2>Edit Azure AD trigger</h2>
  <p>You can edit a <b>Azure AD trigger</b> to change or update the connection configuration and event subscription details.</p>
  <aside class="note"><b>Important:</b> When you edit or modify an Azure AD trigger, you can either retain the previously configured event subscription that is attached to the trigger, or you can delete it. Deleting an event subscription will affect all the published integrations using that event subscription. </aside>
  <p>To edit an Azure AD trigger, perform the following steps:</p>
  <ol>
  <li>Click the <b>Azure AD trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure Azure AD trigger</b>.</li>
  <li>Do the following in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li>To retain the previously configured event subscription, click <b>Retain</b>, else click <b>Delete</b>.
      <aside class="warning"><b>Warning:</b> Deleting an event subscription will affect all the published integrations using the event subscription. This task cannot be undone.</aside>
    </li>
    <li>Update the connection configuration and event subscription details as desired.</li>
    <li>Click <b>Done</b>.</li>
  </ol>
  </li>
  <p>You can view the updated connection and event subscription details in the trigger configuration pane under <b>Event Subscription details</b>.</p>
  </ol> 

<h2 id="events">Supported event subscription types</h2>
  <p>You can use the <b>Azure AD trigger</b> to invoke an integration for the following event subscription types:</p>
  <devsite-filter>
    <input type="text" placeholder="Type a keyword here to find the right event subscription type">
  <table>
    <thead>
      <tr>
        <th width="30%">Event subscription types</th>
        <th width="70%">Description</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr>
        <td><code>Userprofiles</code>
        </td>
        <td>A user is added, deleted, updated or permanently deleted.
        </td>
       </tr>
       <tr>
        <td><code>Users.updated</code>
        </td>
        <td>A user is created, updated or soft-deleted. Creation and deletion of users triggers an <code>updated</code> event type.
        </td>
       </tr>
       <tr>
        <td><code>Users.deleted</code>
        </td>
        <td>A user is permanently deleted.
        </td>
       </tr>
    </tbody>
  </table>
</devsite-filter>

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>
{% endblock %}
