{% extends "application-integration/_base.html"  %}
{% block page_title %}{{ apip_task_approval }} Task{% endblock %}
{% block body %}

<p>The <strong>{{ apip_task_approval }}</strong> task lets you configure approval-based integrations. It also lets you control the flow of an integration. </p>

<p>
You can use the <strong>{{ apip_task_approval }}</strong> task to send approval request emails to one or more integration users. The email includes a link to the integration where the users can manually approve or reject the request.
</p>

<p>During an integration execution, when the control reaches the <strong>{{ apip_task_approval }}</strong> task, execution is halted, and all tasks after the <strong>{{ apip_task_approval }}</strong> task are suspended.
  The integration resumes the execution only when a user manually approves or rejects the approval request.
</p>

<p>
  An <strong>{{ apip_task_approval }}</strong> task can be used for the following purposes:</p>
  <ul>
    <li>To suspend and branch an integration based on user approval or rejection.</li>
    <li>To suspend an integration until a specified duration. </li>
    <li>To use as a breakpoint to debug the integration.</li>
</ul>

{% include "application-integration/docs/_shared/_task_suspend_timer_compare.html" %}

<h2>Configure the {{ apip_task_approval }} task</h2>

<p>To configure the <strong>{{ apip_task_approval }}</strong> task:
<ol>
  {{apip_apigee_steps}}
  {{ apip_sa_steps }}
  <li>Click and place the <strong>{{ apip_task_approval }}</strong> task element in the integration editor.</li>
   <li>Click the <strong>{{ apip_task_approval }}</strong> task element on the designer to view the {{ apip_task_approval }} task
     configuration pane.</li>
  <li>Configure the displayed fields using the <a href="#params">Configuration properties</a> for the task
as detailed in the table below.
  <p>
    All changes to the properties are saved automatically.
    </p></li>
</ol>


<h2 id="params">Configuration properties</h2>

<p>
The following table describes the configuration properties of the <strong>{{ apip_task_approval }}</strong> task.
</p>

<table>
  <tr>
   <td><strong>Property</strong>
   </td>
   <td><strong>Data type</strong>
   </td>
   <td><strong>Description</strong>
   </td>
  </tr>
 <tr id="recipients">
    <td><code><strong>Recipients</strong></code>
   </td>
   <td>String Array
   </td>
   <td>Email addresses to which notification is sent when the task is suspended. Enter multiple
     email addresses separated by a comma.
<aside class="note"><b>Note:</b> In your Google Cloud project, you must grant the <b>{{integration}} Approver</b> IAM role to all the email addresses provided in the <b>Recipients</b> field. For information on granting IAM roles, see <a href="/iam/docs/granting-changing-revoking-access">Granting, changing, and revoking access</a>.
     </aside>
   </td>
  </tr>
  <tr>
    <td><code><strong>Custom notification message</strong></code>
   </td>
   <td>String
   </td>
   <td>Custom message to include in the email notification when the task is suspended. The value
     can be a literal or a variable. If the custom message is available in a variable,
     click <code>VAR</code> and select the variable.
   </td>
  </tr>
  <tr>
    <td><code><strong>Reminder frequency (in hours)</strong></code>
   </td>
   <td>Integer
   </td>
   <td>Frequency of reminder notifications.
<p>
If the suspension is in an unresolved state, you can send reminder email notifications requesting authorized users to resolve the suspension.
   </td>
  </tr>
  <tr>
    <td><code><strong>Time until expiration (in hours)</strong></code>
   </td>
   <td>Integer
   </td>
   <td>Time period of the suspension.
<p>
If the suspension is not resolved within the time limit, the suspension is rejected by default.
   </td>
  </tr>
  <tr>
    <td><code><strong>On expiration</strong></code>
   </td>
   <td>Boolean
   </td>
   <td>Action to be taken after the suspension has expired.
<p>
You can choose either to reject the suspension or lift the suspension. By default the suspension is rejected.
   </td>
  </tr>

   <tr>
   <td><code><strong>isApproved (Approval)</strong></code>
   </td>
   <td>Boolean
   </td>
   <td>Output variable which has the status of the suspension after resolution.
<p>
The <code>isApproved</code> variable is set to <code>True</code> if the suspension is approved and set to <code>False</code> if the
  suspension is rejected.

  <aside class="tip">
  <b>Tip:</b> Use the <code>isApproved</code> variable when specifying edge conditions for subsequent tasks to control the flow of the integration.
    For more information about edge conditions, see <a href="{{basehrefpath}}/edge-overview#edge_condition">Edges conditions</a>.
    <p>
    Following is a sample edge condition configured using the <code>isApproved</code> variable:
    </p>

<pre>
$<var>TASK_ID</var>_isApproved$ = TRUE
</pre>
</aside>
   </td>
  </tr>

</table>

{% include "application-integration/docs/_shared/_retry_on_failure.html" %}
<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>
{% endblock %}