{% extends "application-integration/_base.html"  %}
{% block page_title %}{{apip_trigger_pubsub}}{% endblock %}
{% block body %}


<p>
The <b>{{apip_trigger_pubsub}}</b> lets you run your integration based on the events in
your <b>{{pubsub_name}}</b> middleware.
</p>

<p>
  Using this trigger, you can execute an integration whenever a publisher writes a message
  to your chosen topic. The topic can exist in the same {{gcp_name}} project as the integration, or
  in a different {{gcp_name}} project. When this trigger executes, it also writes the published message to
    the <code>CloudPubSubMessage</code> output variable. Based on your requirements,
    you can use this variable in your downstream triggers or tasks.
  </p>
  <p>To learn how to create a sample integration using {{integration}} and the {{apip_trigger_pubsub}} trigger, see <a href="/application-integration/docs/listen-pub-sub-topic-send-email">Listen to Cloud Pub/Sub topic and send an email</a>.</p>

<p>
  Using this trigger, you can execute an integration whenever a publisher writes a message
  to your chosen topic. When this trigger executes, it also writes the published message to
    the <b>CloudPubSubMessage</b> output variable. Based on your requirements,
    you can use this variable in your downstream triggers or tasks.
  </p>
  <!--Note and prereq for IP SA TBD-->
  <aside>
  <b>Note</b>: The topic that you configure for the trigger must be available in the same {{gcp_name}} project as your integration.
    {{shared_product_name}} does not support <b>{{apip_trigger_pubsub}}</b> executions across different {{gcp_name}} projects.
  </aside>

<h2>Before you begin</h2>
<p>
Ensure that you perform the following tasks in your {{gcp_name}} project before configuring the <b>{{apip_trigger_pubsub}}</b>.
</p>
<ul>
  <li>Assign the <a href="/iam/docs/roles-permissions/resourcemanager#resourcemanager.projectIamAdmin">Project IAM Admin</a> (<code>roles/resourcemanager.projectIamAdmin</code>) 
  to the user creating this trigger.</li>
  <li>Enable the <a href="{{console_url}}/marketplace/product/google/pubsub.googleapis.com">{{pubsub_name}} API</a>
     for the {{gcp_name}} project that has your integration.</li>
     <p>
  If the {{pubsub_name}} API is protected by a service perimeter, ensure that you define the following <a href="/vpc-service-controls/docs/access-control">IAM roles</a> to manage these service perimeters:</p>
     <ul><li>Access Context Manager Admin</a> (<code>roles/accesscontextmanager.policyAdmin</code>)</li>
      <li>Access Context Manager Editor</a> (<code>roles/accesscontextmanager.policyEditor</code>)</li>
      <li>Access Context Manager Reader</a> (<code>roles/accesscontextmanager.policyReader</code>)</li> </ul>
    <p>

  <li>Confirm that you have a {{pubsub_name}} topic. To create a new {{pubsub_name}} topic:
      <ol>
        <li>Go to the {{pubsub_name}} topics page in the <a href="{{console_url}}">Cloud console</a>.
        <p><a href="{{console_url}}/cloudpubsub/topicList" target="console" class="button button-primary">
          Go to the {{pubsub_name}} topics page</a></p></li>
        <li> Click <b>Create a topic</b>.</li>
        <li>In the <b>Topic ID</b> field, provide a unique topic name.</li>
        <li>Click <b>Save</b>.</li>
      </ol>
      <aside id="pubsubt-billing" class="note"><b>Note:</b>  You don't have to create a subscription for the trigger to work.
         {{product_name}} automatically creates a subscription for a topic when you publish your integration, and you can view all your
        subscriptions in the <a href="{{console_url}}/cloudpubsub/subscription">{{pubsub_name}} subscription page</a>.

        <p>Starting with the {{product_name}}
          <a href="/application-integration/docs/release-notes#December_01_2023">December 01 2023 release</a>, you will be
           billed for your subscriptions as per the <a href="/pubsub/pricing">{{pubsub_name}} billing rates</a>. Subscriptions 
          for your existing {{apip_trigger_pubsub}} will continue to work as before, and they aren't billed. However, if you
        update the topic of an existing {{apip_trigger_pubsub}}, {{pubsub_name}} billing will be applied to the updated {{apip_trigger_pubsub}}.</p> 
        </aside>
    </li>
</ul>

For more information about managing access using IAM roles, see
      <a href="{{manage_access_link}}">Access control</a>.
</p>
<p>
  For information on granting roles to principals, see <a href="/iam/docs/granting-changing-revoking-access">Granting, changing, and revoking access</a>.
</p>

<h2 id="add_trigger">Add a {{apip_trigger_pubsub}}</h2>

To add a <b>{{apip_trigger_pubsub}}</b> to a new or existing integration, follow the steps below:
<ol>
  {{apip_apigee_steps_trigger}}
  {{ apip_sa_steps_trigger }}
  <li>Click and place the <b>{{apip_trigger_pubsub}}</b> element to the designer.</li>
</ol>

<h2>Configure a {{apip_trigger_pubsub}}</h2>

<p>Click the <b>{{apip_trigger_pubsub}}</b> element in the integration editor to view the trigger configuration
  pane, and then do the following tasks:</p>

<ol>
  <li>Specify the topic the trigger should listen to in the <b>{{pubsub_name}} topic</b> field in the following format:
    <pre class="prettyprint" suppresswarning=true>projects/<var>PROJECT_ID</var>/topics/<var>TOPIC_ID</var></pre>
    <p>To view all the available topics in your {{gcp_name}} project, see the <b>Topic name</b> column in
      <a href="{{console_url}}/cloudpubsub/topic/list">Topics</a>. You can also select a topic from a different {{gcp_name}} project.
    </p>
  Replace the following:
  <ul>
    <li><code><var>PROJECT_ID</var></code>: the {{gcp_name}} project where your topic is created.</li>
    <li><code><var>TOPIC_ID</var></code>: the ID of your {{pubsub_name}} topic. The topic can be in the same {{gcp_name}} project as 
    that of your integration, or can be present in a different {{gcp_name}} project.</li>
    </ul>
  </li>
  <li>Select the service account which you want to use to invoke the integration. You can also choose a <a href="/application-integration/docs/variables#config_var">config variable</a> that you have created in the integration. The value of the config variable must be a service account email address with the following format: <code><var>SERVICE_ACCOUNT_NAME</var>@<var>project-id</var>.{% dynamic print variables.domains.sa_iam_domain %}</code>. For example, <code>application-integration-invoke@project123.{% dynamic print variables.domains.sa_iam_domain %}</code>. 
   <p>For information about how to create a config variable, see <a href="/application-integration/docs/variables#create-a-variable">create a variable</a>, and about how to create a service account, see <a href="/iam/docs/service-accounts-create#creating">Creating a service account</a>.</p>
    <p>If you choose a config variable, you must grant the required roles to the service account that the config variable refers to. For more information about how to grant roles, see <a href="#iam-roles">Required IAM roles</a>.</p>
    <p>If there are no service accounts, create a service account by clicking <b>Create new</b>
      in the <b>Service account</b> list.</p>
    <aside class="note"><b>Note: </b>Starting with the {{product_name}}
       <a href="/application-integration/docs/release-notes#December_01_2023">December 01 2023 release</a>,
        when you configure the {{apip_trigger_pubsub}}, you must specify a service account
      for the trigger. Your existing {{pubsub_name}} triggers, that don't have any service
       account associated with them, will continue to work as before. However, if you
      want to modify any of the existing {{pubsub_name}} triggers, you must configure a
       service account to continue using those triggers.</aside>
  </li>
</ol>

<p>By default, the <a href="/pubsub/docs/subscription-properties#expiration_periods">expiration period option</a> for subscriptions is set to <code>never expire</code>. If you want to set the expiration to another value, in the {{console_name}}, go to the <a href="{{console_url}}cloudpubsub/subscription">{{pubsub_name}} subscription page</a> and edit the subscription.</p>

<h3 id="iam-roles">IAM roles required for service accounts</h3>
<p>Clicking <b>Grant</b> when selecting a service account, automatically provides the following roles to the various service accounts.</p>

<table>
  <thead>
  <tr>
   <th>Service account</th>
   <th>IAM role granted</th>
  </tr>
  </thead>
 <tbody>
     <tr>
       <td>Application Integration's default service account: <code>{{shared_p4sa}}</code></td>
       <td>
         <ul>
           <li>{{pubsub_name}} Editor (<code>roles/pubsub.editor</code>)</li>
           <li>Service Account User (<code>roles/iam.serviceAccountUser</code>)</li>
         </ul>
         <p>If the {{pubsub_name}} topic's {{gcp_name}} project is different from the integration's {{gcp_name}}
           project, the default service account needs {{pubsub_name}} Editor role in the topic's {{gcp_name}} project.
        </p> 
      </td>
    <tr>
      <td>Service account that you select for this trigger</td>
      <td>
        Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>)
     </td>
    </tr>
</tbody>
</table>


<h2>Trigger Output</h2>
<p>For each event, the <b>{{apip_trigger_pubsub}}</b> generates a <code>CloudPubSubMessage</code> output variable
    which you can use in your downstream tasks. The variable is in JSON format and has the
    <a href="https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage"><code>PubsubMessage</code></a>
    structure.
  </p>

<h2>Create subscription with filter for your integration</h2>
  <p>If you want to set a filter for the {{pubsub_name}} subscription to process specific events in your integration, follow these steps:</p>
  <ol>
    <li>Publish the integration with the {{apip_trigger_pubsub}} configured. This step creates the subscription in the integration project.</li>
    <li>In the {{console_name_short}}, go to the <b>Subscriptions</b> page.
<p>
      <a href="{{ console_url}}cloudpubsub/subscription" class="button button-primary" track-type="docs" track-metadata-position="10" track-name="consoleLink"  track-metadata-end-goal="enableAPI">Go to Subscriptions</a></p>
    </li>
      <li>Open the subscription and copy all the details including the subscription name.</li>
    <li>Delete the existing subscription.</li>
    <li>Create a new subscription with all the details of the deleted subscription–including the subscription name–that you copied in step 3 and also <a href="/pubsub/docs/subscription-message-filter#creating_subscriptions_with_filters">add a filter in the new subscription</a>.
    <p>The newly created subscription triggers the integration with filtered messages.</p></li>
  </ol>

<h2>SLA exclusions</h2>
<p>The {{apip_trigger_pubsub}} is dependent on the <a href="/pubsub/docs/overview">{{pubsub_name}}</a>
   product. As this dependency is external to the {{product_name}}, the <a href="https://cloud.google.com/application-integration/sla">{{product_name}}
    Service Level Agreement (SLA)</a> terms and conditions are applicable only when the 
    {{apip_trigger_pubsub}} successfully starts the execution of an <code>active</code> integration.</p>  


<h2>Use {{pubsub_name}} triggers with {{vpcsvcctl_name}}</h2>
<p>When you configure a {{pubsub_name}} trigger in {{integration}} and attempt to publish the integration, the creation of the required {{pubsub_name}} subscription fails if the {{pubsub_name}} API is protected by a <a href="/vpc-service-controls/docs/service-perimeters">service perimeter</a> in {{vpcsvcctl_name}}.</p>
<p>Service perimeters enforce security boundaries around your {{gcp_name}} resources, and these policies can prevent {{integration}} from creating the necessary {{pubsub_name}} subscription during integration publishing.</p>
<p>To successfully configure and publish a {{pubsub_name}} trigger in these scenarios, perform the following steps:</p>
<ol>
<li>Temporarily remove the {{pubsub_name}} API from the service perimeter:
    <ol>
      <li>In the {{gcp_name}} console, go to the <b>{{vpcsvcctl_name}}</b> page.
        <p><a href="{{console_url}}security/service-perimeter" target="console" class="button button-primary" track-type="task" track-name="consoleLink">Go to VPC Service Controls</a></p>
       </li>
      <li>Select the {{gcp_name}} project that contains the {{pubsub_name}} topic to be used in the integration.</li>
      <li>(Optional) If no access policy is configured for the selected project, the message <b>No VPC Service Perimeters found in current scope</b> will appear. In this case, click <b>Switch to organization scope</b> to navigate to the organization level.</li>
      <li>On the <b>{{vpcsvcctl_name}}</b> page, in the table, click the name of the service perimeter that you want to modify.</li>
      <li>On the <b>Service perimeter details</b> page, click <b>Edit</b>.</li>
      <li>In the <b>Restricted services</b> pane, filter and select the <code>pubsub.googleapis.com</code> service.</li>
      <li>Click <span class="material-icons">delete</span> <b>Remove Selected</b>.</li>
      <li>Click <b>Save</b>. In the confirmation dialog, click <b>Confirm</b> to remove the {{pubsub_name}} API from your {{vpcsvcctl_name}} service perimeter.</li>
    </ol>
</li>
<li><a href="#add_trigger">Add and configure the {{pubsub_name}} trigger</a> in your integration.</li>
<li><a href="/application-integration/docs/test-publish-integrations">Publish the integration</a>.</li>
<li>Add the {{pubsub_name}} API back to the service perimeter:
      <ol>
      <li>Go to the <b>{{vpcsvcctl_name}}</b> page.
          <p><a href="{{console_url}}security/service-perimeter" target="console" class="button button-primary" track-type="task" track-name="consoleLink">Go to VPC Service Controls</a></p>
         </li>
      <li>On the <b>{{vpcsvcctl_name}}</b> page, in the table, click the same service perimeter that you modified earlier.</li>
      <li>On the <b>Service perimeter details</b> page, click <b>Edit</b>.</li>
      <li>In the <b>Restricted services</b> pane, click <span class="material-icons">add</span> <b>Add services</b>.</li>
      <li>Filter and select the <code>pubsub.googleapis.com</code> service.</li>
      <li>Click <b>Add selected services</b>.</li>
      <li>Click <b>Save</b>. In the confirmation dialog, click <b>Confirm</b> to add the {{pubsub_name}} API back to your {{vpcsvcctl_name}} service perimeter.</li>
      </ol>
</li>
</ol>

{% include "application-integration/docs/_shared/_pricing-trigger.html" %}

<h2>Considerations</h2>

<ul>
  <li>The maximum size of a {{pubsub_name}} message is 10 MB. To understand all the limitations of {{pubsub_name}},
  see <a href="/pubsub/quotas">{{pubsub_name}} quotas and limits</a>.</li>

  <li>It is possible that {{pubsub_name}} writes the same message more than once to a topic. To understand
    this behavior of {{pubsub_name}},
    see <a href="/pubsub/docs/subscriber#at-least-once-delivery">At-Least-Once delivery</a>.
    Therefore, you must design your integration to be idempotent so that it doesn't allow
    a message to be written more than once to a topic.

    <p>The <code>message_id</code> field in the message header uniquely identifies a {{pubsub_name}} message.</p>

  </li>
  <li>
    {{product_name}} now lets you publish messages to {{pubsub_name}} topics. You can use ordering keys to achieve First-In, First-Out (FIFO) message processing. When you set an ordering key in the <b>Publish Pub/Sub Message</b> task, messages are received in the correct order. This improves reliability for integrations that need ordered message processing. To learn more about how to use ordering keys when you publish messages, see <a href="https://cloud.google.com/pubsub/docs/publisher#using-ordering-keys">Using ordering keys</a>.
  </li>
  <li>If you unpublish an integration, the {{pubsub_name}} subscription is not deleted to prevent loss of messages. However, if you delete the published version or all the integration versions of an integration, then the {{pubsub_name}} subscription is also deleted.</li>

</ul>

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>


{% endblock %}