{% extends "application-integration/_base.html"  %}
{% block page_title %}HL7 trigger{% endblock %}

{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}HL7 trigger{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>The <b>HL7 trigger</b> is a <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a> that lets you invoke an integration based on
  the HL7 events that you've subscribed to in your HL7 connection.</p>

<aside class="note"><b>Important:</b> Integration Connectors is a billable component of Google Cloud. For information about the costs and charges of using Integration Connectors, see <a href="/integration-connectors/docs/pricing">Integration Connectors pricing</a>.</aside>

<h2 id="iam">Before you begin</h2>
<ul>
 <li>Create a <a href="https://cloud.google.com/pubsub/docs/create-topic">Pub/Sub topic</a>.</li>
 <li>Create an <a href="https://cloud.google.com/healthcare-api/docs/how-tos/hl7v2">HL7 store</a>.</li>
<li><p>To receive HL7 messages over TCP/IP connections using the minimal lower layer protocol (MLLP), you must configure an MLLP adapter. You don't need to configure an MLLP adapter if you receive HL7 messages over REST (Google Cloud HealthCare API). To run the adapter, do the following:</p>
<ol>
 <li>Set the project and region in the gcloud CLI:
<pre>gcloud config set project <var>PROJECT_ID</var> \
gcloud config set compute/region <var>LOCATION</var></pre>
        <p>For more information, see <a href="https://cloud.google.com/sdk/gcloud/reference/config/set">Set properties</a>.</p></li>
 <li>Create a <a href="https://cloud.google.com/compute/docs/access/create-enable-service-accounts-for-instances#using">VM instance</a>.
 
   <pre class="devsite-click-to-copy">
   gcloud compute instances create VM_NAME \
       --service-account=SERVICE_ACCOUNT_EMAIL \
       --scopes=https://www.googleapis.com/auth/cloud-platform
   </pre>
   <p>Replace the following:</p>
   <ul>
     <li><code>SERVICE_ACCOUNT_EMAIL</code>: the email address for the service account that you created.</li>
     <li><code>VM_NAME</code>: The name of the VM instance.</li>
   </ul>
 </li>
 <li>Add a <a href="https://cloud.google.com/vpc/docs/add-remove-network-tags#adding_new_tags_to_vm_instances">tag</a> to the newly created VM instance.
 
 <pre class="devsite-click-to-copy">
   gcloud compute instances add-tags INSTANCE_NAME \
   --zone ZONE \
   --tags TAGS
   </pre>
   <p>Replace the following:</p>
   <ul>
     <li><code>INSTANCE_NAME</code>: The name of the VM instance.</li>
     <li><code>ZONE</code>: The zone of the VM instance.</li>
     <li><code>TAGS</code>: The tags to add to the VM instance.</li>
   </ul>
 </li>
 <li>Add a <a href="https://cloud.google.com/firewall/docs/using-firewalls#common-use-cases-allow-internal">firewall rule</a> to expose the port on which the MLLP adapter is running.
   
<pre class="devsite-click-to-copy">
   gcloud compute firewall-rules create <var>FIREWALL_RULE</var> \
   --action=ALLOW \
   --direction=INGRESS \
   --priority=1000 \
   --rules=tcp:PORT\
   --network=default \
   --source-ranges=0.0.0.0/0
</pre>
   <p>Replace the following:</p>
   <ul>
     <li><code>FIREWALL_RULE</code>: The name of the firewall rule.</li>
     <li><code>PORT</code>: The port on which the MLLP adapter is running.</li>
   </ul>
   </li>
 <li><a href="https://cloud.google.com/compute/docs/connect/standard-ssh#gcloud">SSH</a> into the VM instance.
 <pre class="devsite-click-to-copy">
   gcloud compute ssh VM_NAME --zone ZONE
 </pre>
 <p>Replace the following:</p>
   <ul>
     <li><code>VM_NAME</code>: The name of the VM instance.</li>
     <li><code>ZONE</code>: The zone of the VM instance.</li>
   </ul>
 </li>
 <li>Install the docker in the VM using the following command:
 <pre class="devsite-click-to-copy">
   sudo apt-get update && sudo apt-get install -y docker.io
   </pre>
 </li>
 <li>Start the docker service by running the following commands:
 <pre class="devsite-click-to-copy">
   sudo systemctl start docker
   sudo systemctl enable docker
   </pre>
 </li>
 <li>Pull the <a href="https://cloud.google.com/healthcare-api/docs/how-tos/mllp-adapter#pulling_the_pre-built_docker_image">docker image</a> in the container registry.
 <pre class="devsite-click-to-copy">
   docker pull gcr.io/cloud-healthcare-containers/mllp-adapter:latest
   </pre>

 </li>
 <li><a href="https://cloud.google.com/healthcare-api/docs/how-tos/mllp-adapter#testing_the_mllp_adapter_locally_as_a_receiver">Run MLLP adapter</a> on the VM instance.
 <pre class="devsite-click-to-copy">
   docker run \
   --network=host \
   -v ~/.config:/root/.config \
   gcr.io/cloud-healthcare-containers/mllp-adapter \
   /usr/mllp_adapter/mllp_adapter \
   --hl7_v2_project_id=PROJECT_ID \
   --hl7_v2_location_id=LOCATION \
   --hl7_v2_dataset_id=DATASET_ID \
   --hl7_v2_store_id=HL7V2_STORE_ID \
   --export_stats=false \
   --receiver_ip=0.0.0.0 \
   --port=PORT \
   --api_addr_prefix=https://healthcare.googleapis.com:443/v1 \
   --logtostderr
 </pre>
 <p>Replace the following:</p>
   <ul>
     <li><code>PROJECT_ID</code>: The project ID of the Google Cloud project.</li>
     <li><code>LOCATION</code>: The location of the HL7 store.</li>
     <li><code>DATASET_ID</code>: The ID of the dataset that holds the HL7 store.</li>
     <li><code>HL7V2_STORE_ID</code>: The ID of the HL7 store.</li>
     <li><code>PORT</code>: The port on which the MLLP adapter is running.</li>
   </ul>
 </li>
 <li>Run the following command to ensure that the container is running:
 <pre class="devsite-click-to-copy">
   sudo docker ps
   </pre>
 </li>
 <li>To check the container logs, run the following command:
 <pre class="devsite-click-to-copy">
   sudo docker logs CONTAINER_ID
   </pre>
 </li>
 </ol>
</li>
</ul>

<h2>Required roles</h2>
<p>If you plan to create or configure a new connection for the <b>HL7 trigger</b>, make sure that you have the following IAM role on the project:</p>
<ul>
 <li>Connector Admin (<code>roles/connectors.admin</code>) </li>
 <p>For information about granting roles, see <a href="/iam/docs/granting-changing-revoking-access">Manage access</a>.</p>
</ul>

<p>Grant the following IAM roles or Permissions to the service account that you want to use for the <b>HL7 trigger</b>:</p>
<ul>
 <li>Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>) </li>
 <li>Healthcare HL7v2 Message Consumer (<code>roles/healthcare.hl7V2Consumer</code>) </li>
 <li>Healthcare HL7v2 Message Ingest (<code>roles/healthcare.hl7V2Ingest</code>) </li>
 <li>Permission (<code>healthcare.hl7V2Stores.update</code>) </li>
 <li>Pub/Sub Editor (<code>roles/pubsub.editor</code>) </li>
 <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
</ul>


<h2>Add the HL7 trigger</h2>

<p>
To add a <b>HL7 trigger</b> to your integration, perform the following steps:
</p>

<ol>
 {{apip_apigee_steps_trigger}}
 {{ apip_sa_steps_trigger }}
<li>Click and place the <b>HL7 trigger</b> element in the integration editor.</li>
<p>To configure the <b>HL7 trigger</b>, you can either use an existing HL7 connection with REST (Cloud HealthCare API) as the destination protocol available in Integration Connectors, or create a new HL7 REST(Google Cloud HealthCare API) connection using the inline connection creation option.</p>
</ol>

<h2>Configure HL7 trigger using an existing connection</h2>

<p>
 You can configure the <b>HL7 trigger</b> using an existing HL7 connection with REST (Cloud HealthCare API) as the destination protocol in Integration Connectors. The <b>HL7 trigger</b> is an <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a>, therefore you can only use a HL7 REST(Google Cloud HealthCare API) connection with event subscription enabled to configure the trigger. 
</p> 
<p>For information about how to configure a <b>HL7 trigger</b> using a new HL7 REST(Google Cloud HealthCare API) connection, see <a href="#create">Configure HL7 trigger using a new HL7 REST(Google Cloud HealthCare API) connection</a>.</p>
<p>To configure a <b>HL7 trigger</b> using an existing HL7 connection with REST (Cloud HealthCare API) as the destination protocol, perform the following steps:</p>

<ol>
 <li>Click the <b>HL7 trigger</b> element in the integration editor to open the trigger configuration pane.</li>
 <li>Click <b>Configure trigger</b>.</li>
 <li>Provide the following configuration details in the <b>Connector Event Trigger Editor</b> page:
   <ol>
     <li><b>Region:</b> Select the region of your HL7 REST(Google Cloud HealthCare API) connection.</li>
     <li><b>Connection:</b> Select the HL7 REST(Google Cloud HealthCare API) connection that you want to use.
     <p>{{integration}} only displays those HL7 REST(Google Cloud HealthCare API) connections that are active and have an event subscription enabled. 
     </p></li>
     <li>Select <b>HL7 Message Content Type</b>: text or bytes from the dropdown menu.</li> 
     <li>Enter the HL7 message type. For example, <code>ADT_A01</code> or <code>ADT_02</code>.</li>
   </ol>
 </li>
 <li>Click <b>Done</b> to complete the trigger configuration and close the page.</li>
</ol>


<h2 id="create">Configure HL7 trigger using a new connection</h2>


<p>To configure the <b>HL7 trigger</b> using a new HL7 REST(Google Cloud HealthCare API) connection, perform the following steps:</p>
<ol>
 <li>Click the <b>HL7 trigger</b> element in the integration editor to open the trigger configuration pane.</li>
 <li>Click <b>Configure trigger</b>.</li>
 <li>Select the <b>Region</b> for the HL7 trigger.</li>
 <li>Click <b>Connection</b> and select the <b>Create Connection</b> option from the drop-down menu.</li>
 <li>Complete the following steps in the <b>Create Connection</b> pane:</li>
   <li>In the <b>Connection Details</b> step, provide details about the new HL7 connection:
     <ol>
       <li><b>Connector version:</b> Choose an available version of the HL7 connector from the drop-down list.
       </li>
       <li><b>Connection Name:</b> Enter a name for the HL7 connection.
         <aside class="note"><b>Note:</b> Connection names must meet the following criteria:
         <ul>
           <li>Connection names can use letters, numbers, or hyphens.</li>
           <li>Letters must be lower-case.</li>
           <li>Connection names must begin with a letter and end with a letter or number.</li>
           <li>Connection names cannot exceed 49 characters.</li>
         </ul>
       </aside>
       </li>
       <li>(Optional) <b>Description: </b> Enter a description for the connection.</li>
       {{connector_cloud_logging}}
       <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the HL7 connection.</li>
       <li><b>Enable event subscription:</b> Select this option to enable the event subscription for the HL7 connection.
         <aside class="note"><b>Note: </b>This connector doesn't support the
            <code>Enable only event subscription</code> option.</aside>
       </li>
       <li>(Optional) Enter <b>Receive Timeout</b>: The SO_TIMEOUT value (in milliseconds) is used when waiting for the start of an  frame. The default value is 15000 milliseconds.</li>
       <li><b>Destination Protocol</b>: Select HL7 REST(Google Cloud HealthCare API) destination protocol and then specify the following:
         <ol>
           <li>
             <b>Project ID</b>: The Google Cloud project ID where the HL7 store is located.
           </li>
           <li><b>Location</b>: The location of your dataset and the HL7v2 store.</li>
           <li><b>Dataset ID</b>: The ID for the dataset that holds the HL7v2 store.</li>
           <li>
             <b>HL7 Store ID</b>: The ID for the HL7v2 store where you store the HL7v2 message.
           </li>
         </ol>
       </li>
       {{connector_node_config}}
       <li>
         Optionally, click <b>+ Add label</b> to add a label to the Connection in the form of a
         key/value pair.
       </li>
       {{connectors_ssl_config_ibm_rabbit}}
       <li>Click <b>Next</b>.</li>
     </ol>
   </li>
   <li>
     Skip the <b>Destinations</b> section.
       </li>
       <li>Click <b>Next</b>.</li>
   </li>
   <li>
     In the <b>Authentication</b> section, you don't need to specify any authentication details because the HL7 connection doesn't require any authentication.
   </li>
   <li>In the <b>Event Subscription Details</b> section, configure the event related details. 
     <ul>
       <li><b>Project Name</b>: The Google Cloud project where the Pub/Sub instance resides.</li>
       <li><b>Pub/Sub Topic Name</b>: The Pub/Sub topic name to be associated with the HL7v2 store to which the notification messages will be sent.</li>
     </ul>
   <li><b>Review</b>: Review your connection and authentication details.</li>
   <li>Click <b>Create</b>.</li>
 </ol>

 {{connector_ssl_supported_cipher}}

<h2 id="output">Trigger output</h2>
<p>The <b>HL7 trigger</b> takes a couple of minutes to complete the event subscription configuration. You can view the status
  of your event subscription in the trigger configuration pane under <b>Event Subscription details</b>.</p>
<p>The <b>HL7 trigger</b> indicates the status of an event subscription using the following states:</p>
 <ul>
   <li><span class="material-icons">
     restart_alt
     </span><code>Creating</code>: Indicates that the trigger is subscribing to the event subscription.
   <li><span class="material-icons">
     check_circle
     </span><code>Active</code>: Indicates that the trigger is successfully subscribed to an event subscription.</li>
   <li><span class="material-icons">
     error
     </span><code>Error</code>: Indicates that the there is an issue with the configured event subscription. </li>
</ul>
<p>In addition to the event subscription status, the <b>Event Subscription details</b> section also
  displays other details such as connection region, connection name, and event subscription name.</p>

<h3>Trigger output variable</h3>
<p>
 For each event, the <b>HL7 trigger</b> generates a <code>ConnectorEventPayload</code>
  output variable (in JSON format) which you can use in your downstream tasks. The output 
 variable will have the payload from your HL7 event. For example:
</p>
<pre class="prettyprint lang-json devsite-click-to-copy"> {
 "messageType": "ADT_A01",
 "message": "MSH|^~\\&|SendingApp|SendingFacility|ReceivingApp|ReceivingFacility|20240209120000||ADT^A01|123456789|P|2.3|||NE|AL|||||\rEVN|A02222221|20240209120000|||\rPID|1||123456789|^^^Hospital^MR||Doe^John^^^Mr.||19800101|M|||123 Main St^^New York^NY^10001^USA||(555)555-1234|(555)555-1235\rPV1|1|I|2000^2012^01||||123^Doe^John|||SUR||||ADM|A0||\r",
 "contentType": "text/plain"
}</pre>


 <h3>View event subscriptions</h3>
<p>To view and manage all the event subscriptions associated with a connection in Integration Connectors, do the following:</p>

<ol>
 <li>Go to <b>Integration Connectors > Connections</b> page.
     <p><a href="{% dynamic print site_values.console_url %}connectors/connections" target="console" class="button button-primary">
         Go to the Connections page</a></p></li>
 <li>Click the connection for which you want to view the subscriptions.</li>
 <li>Click the <b>Event subscriptions</b> tab.
 <p>This displays all the event subscriptions for the connection.</p>
 </li>
</ol>

 <h2>Edit HL7 trigger</h2>
 <p>You can edit a <b>HL7 trigger</b> to change or update the connection configuration and event subscription details.</p>
 <aside class="note"><b>Important:</b> When you edit or modify a HL7 trigger, you can either retain the previously configured event subscription that is attached to the trigger, or you can delete it. Deleting an event subscription will affect all the published integrations using that event subscription. </aside>
 <p>To edit a HL7 trigger, perform the following steps:</p>
 <ol>
 <li>Click the <b>HL7 trigger</b> element in the integration editor to open the trigger configuration pane.</li>
 <li>Click <b>Configure HL7 trigger</b>.</li>
 <li>Do the following in the <b>Connector Event Trigger Editor</b> page:
   <ol>
     <li>To retain the previously configured event subscription, click <b>Retain</b>, else click <b>Delete</b>.
     <aside class="warning"><b>Warning:</b> Deleting an event subscription will affect all the published integrations using the event subscription. This task cannot be undone.</aside>
   </li>
   <li>Update the connection configuration and event subscription details as desired.</li>
   <li>Click <b>Done</b>.</li>
 </ol>
 </li>
 <p>You can view the updated connection and event subscription details in the trigger configuration pane under <b>Event Subscription details</b>.</p>
 </ol> 

 <h2>Quotas and limits</h2>
 <p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>
 
 <h2>What's next</h2>
 <ul>
   <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
   <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
     <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
   <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
 </ul>

{% endblock %}
