{% extends "application-integration/_base.html"  %}
{% block page_title %}HubSpot trigger{% endblock %}

{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}HubSpot trigger{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>The <b>HubSpot trigger</b> is a <a href="/application-integration/docs/triggers#event-triggers">Connector Event trigger</a> that lets you invoke an integration based on the custom HubSpot events that you've defined in your HubSpot instance.</p>

<aside class="note"><b>Important:</b> {{integration_connectors_name}} is a billable component of {{gcp_name}}. For information about the costs and charges of using {{integration_connectors_name}}, see <a href="/integration-connectors/docs/pricing">{{integration_connectors_name}} pricing</a>.</aside>

<h2 id="iam">Before you begin</h2>
<p>If you plan to create or configure a new connection for the <b>HubSpot trigger</b>, make sure that you have the following {{iam_name_first_mention}} role on the project:</p>
<ul>
  <li>Connector Admin (<code>roles/connectors.admin</code>) </li>
  <p>For information about granting roles, see <a href="/iam/docs/granting-changing-revoking-access">Manage access</a>.</p>
</ul>

<p>Grant the following {{iam_name_short}} roles to the service account that you want to use for the <b>HubSpot trigger</b>:</p>
<ul>
  <li>Application Integration Invoker (<code>roles/integrations.integrationInvoker</code>) </li>
  <p>For information about granting roles to a service account, see <a href="/iam/docs/manage-access-service-accounts">Manage access to service accounts</a>.</p>
</ul>

<h2 id="supported-event-types">Supported event types</h2>
<p>With webhook subscriptions you can select which events your app would receive. The following subscription types are supported:</p>
<ul>
  <li><code>deal.creation</code></li>
  <li><code>deal.propertyChange</code></li>
  <li><code>deal.deletion</code></li>
  <li><code>contact.creation</code></li>
  <li><code>contact.propertyChange</code></li>
  <li><code>contact.deletion</code></li>
</ul>

<h2>Add the HubSpot trigger</h2>

<p>
To add a <b>HubSpot trigger</b> to your integration, follow these steps:
</p>

<ol>
  {{apip_apigee_steps_trigger}}
  {{ apip_sa_steps_trigger }}
<li>Click and place the <b>HubSpot trigger</b> element in the integration editor.</li>
<p>To configure the <b>HubSpot trigger</b>, you can either use an existing HubSpot connection available in Integration Connectors, or create a new HubSpot connection using the inline connection creation option.</p>
</ol>

<h2>Configure HubSpot trigger using an existing connection</h2>

<p>
  You can configure the <b>HubSpot trigger</b> using an existing HubSpot connection in Integration Connectors. The <b>HubSpot trigger</b> is an <a href="/application-integration/docs/triggers#event-triggers">connector event trigger</a>, therefore you can only use a HubSpot connection with event subscription enabled to configure the trigger. 
</p>
<p>For information about how to configure a <b>HubSpot trigger</b> using a new HubSpot connection, see <a href="#create">Configure HubSpot trigger using a new connection</a></p>
<p>To configure a <b>HubSpot trigger</b> using an existing HubSpot connection, follow these steps:</p>

<ol>
  <li>Click the <b>HubSpot trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Provide the following configuration details in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li><b>Region:</b> Select the region of your HubSpot connection.</li>
      <li><b>Connection:</b> Select the HubSpot connection that you want to use.
      <p>{{integration}} only displays those HubSpot connections that are active and have an <a href="/integration-connectors/docs/eventsubscription">event subscription</a> enabled. 
      </p>
    </li>
      <li><b>Event type:</b> Select the type of event that you want to use to trigger the integration. For a list of supported event types, see <a href="#supported-event-types">supported event types</a>.</li> 
      <li><b>Service Account</b>: Select a service account with the <a href="#iam">required IAM roles</a> for the HubSpot trigger.</li>
    </ol>
  </li>
  <li>Click <b>Done</b> to complete the trigger configuration and close the page.</li>
</ol>


<h2 id="create">Configure HubSpot trigger using a new connection</h2>


<p>To configure the <b>HubSpot trigger</b> using a new HubSpot connection, follow these steps:</p>
<ol>
  <li>Click the <b>HubSpot trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure trigger</b>.</li>
  <li>Skip the <b>Region</b> field.</li>
  <li>Click <b>Connection</b> and select the <b>Create Connection</b> option from the drop-down menu.</li>
  <li>Complete the following steps in the <b>Create Connection</b> pane:
  <ol>
    <li>In the <b>Location</b> step, choose the location for the new HubSpot connection:
      <ol>
        <li><b>Region:</b> Select a region from the drop-down list.
        </li>
        <li>Click <b>Next</b>.</li>
      </ol>
    </li>
    {{hubspot_configure_new_connection}}
  </ol>
</ol>

<h3 id="rule">Create and edit webhook subscriptions</h3>
<p>To complete the event subscription configuration, you must register the webhook URL with
  your HubSpot application. Therefore, after the connection creation is successful,
  perform the following additional steps:</p>
<ol>
  <li>Go the connection details page of the newly created connection, and copy the webhook URL for event subscription. The webhook URL is required when you create a webhook subscription in the next step.
    <p>The following image shows the <b>Events listener endpoint</b> field in the HubSpot connection details page:</p>
<img src="{{baseimagepath}}/images/hubspot-webhook-url.png" alt="image showing HubSpot connection details page"
      data-modal-dialog-id="jira_ui" class="screenshot">

<devsite-lightbox id="jira_ui">
  <img src="{{baseimagepath}}/images/hubspot-webhook-url.png" alt="image showing HubSpot connection details page">
</devsite-lightbox>
  </li>
  <li>Follow the steps to <a href="https://developers.hubspot.com/docs/api/create-and-edit-webhook-subscriptions-in-private-apps">create and edit webhook subscriptions</a> in HubSpot.</li>
  </ol>

<h2 id="output">Trigger output</h2>
<p>The <b>HubSpot trigger</b> takes a couple of minutes to complete the event subscription configuration. You can view the status of your event subscription in the trigger configuration pane under <b>Event Subscription details</b>.</p>
<p>The <b>HubSpot trigger</b> indicates the status of an event subscription using the following states:</p>
<ul>
  <li><span class="material-icons">
    restart_alt
    </span><code>Creating</code>: Indicates that the trigger is subscribing to the event subscription.
  <li><span class="material-icons">
    check_circle
    </span><code>Active</code>: Indicates that the trigger is successfully subscribed to an event subscription.</li>
  <li><span class="material-icons">
    error
    </span><code>Error</code>: Indicates that the there is an issue with the configured event subscription. </li>
</ul>
<p>In addition to the event subscription status, the <b>Event Subscription details</b> section also displays other details such as connection region, connection name, event subscription name, and more.</p>
<p>The following image shows a sample layout of the HubSpot trigger configuration pane:</p>
<img src="{{baseimagepath}}/images/hubspot_trigger.png" alt="image showing HubSpot trigger configuration pane"
      data-modal-dialog-id="jira_ui" class="screenshot">

<devsite-lightbox id="jira_ui">
  <img src="{{baseimagepath}}/images/hubspot_trigger.png" alt="image showing HubSpot trigger configuration pane">
</devsite-lightbox>

<h3>Trigger output variable</h3>
<p>
  For each event, the <b>HubSpot trigger</b> generates a <code>ConnectorEventPayload</code> output variable which you can use in your downstream tasks. The output variable is in JSON format containing the output HubSpot payload schema.
</p>

<h3>View event subscriptions</h3>
<p>To view and manage all the event subscriptions associated with a connection in Integration Connectors, do the following:</p>

<ol>
  <li>Go to <b>Integration Connectors > Connections</b> page.
      <p><a href="{% dynamic print site_values.console_url %}connectors/connections" target="console" class="button button-primary">
          Go to the Connections page</a></p></li>
  <li>Click the connection for which you want to view the subscriptions.</li>
  <li>Click the <b>Event subscriptions</b> tab.
  <p>This displays all the event subscriptions for the connection.</p>
  </li>
</ol>

  <h2>Edit HubSpot trigger</h2>
  <p>You can edit a <b>HubSpot trigger</b> to change or update the connection configuration and event subscription details.</p>
  <aside class="note"><b>Important:</b> When you edit or modify a HubSpot trigger, you can either retain the previously configured event subscription that is attached to the trigger, or you can delete it. Deleting an event subscription will affect all the published integrations using that event subscription. </aside>
  <p>To edit a HubSpot trigger, follow these steps:</p>
  <ol>
  <li>Click the <b>HubSpot trigger</b> element in the integration editor to open the trigger configuration pane.</li>
  <li>Click <b>Configure HubSpot trigger</b>.</li>
  <li>Do the following in the <b>Connector Event Trigger Editor</b> page:
    <ol>
      <li>To retain the previously configured event subscription, click <b>Retain</b>, else click <b>Delete</b>.
      <aside class="warning"><b>Warning:</b> Deleting an event subscription will affect all the published integrations using the event subscription. This task cannot be undone.</aside>
    </li>
    <li>Update the connection configuration and event subscription details as desired.</li>
    <li>Click <b>Done</b>.</li>
  </ol>
  </li>
  <p>You can view the updated connection and event subscription details in the trigger configuration pane under <b>Event Subscription details</b>.</p>
  </ol> 

  <h2>Quotas and limits</h2>
  <p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>
  
  <h2>What's next</h2>
  <ul>
    <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
    <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
      <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
    <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
  </ul>

{% endblock %}
