{% extends "application-integration/_base.html"  %}
{% block page_title %}{{apip_task_whileloop}} task{% endblock %}
{% block body %}


<p>The <b>{{ apip_task_whileloop }}</b> task lets you make repeated calls to a {{sub_int}} from
  your current (main) integration until a specified condition is met.</p>

<p>The <b>API Trigger ID</b> and the <b>Integration name</b> identifies the {{sub_int}} you
  want to run.</p>

<p>The task also lets you collect the response from each {{ sub_int }} run and store the value in your
  current integration for use in downstream tasks. You can use any of the following approach to collect the responses:</p>
<ul>
<li>Collate the response of each run in an array variable, where each element of the array has the
  response from one particular run. To collate the responses, configure
  the <code>Collect values from {{ sub_int }} output(s)</code> property.
  </li>
<li>Aggregate the responses of all the runs in a single variable. To aggregate the responses, configure
  the <code>Override values from {{ sub_int }} output(s)</code> property.</li>
</ul>

<aside class="note"><strong>Note</strong>:
  <ul>
    <li>The <b>{{apip_task_whileloop}}</b> task can run
  a maximum of 8000 iterations. This constraint holds good even if the configured condition results in an
infinte loop.</li>
    <li>The cumulative size of the data collected from each {{ sub_int }} run cannot exceed
      <code>50 MB</code>. If the size exceeds <code>50 MB</code>, the integration fails, and
      the downstream tasks are not run.</li>
  </ul>
  </aside>

  <h2>Before you begin</h2>
  <ul>
    {{configure_byosa}}
  </ul>

<h2 id="params">Configuration properties</h2>

<p>
The following table describes the configuration properties of the <b>{{apip_task_whileloop}}</b> task.

</p>

<table>
  <tr>
   <td><b>Property</b>
   </td>
   <td><b>Data type</b>
   </td>
   <td><b>Description</b>
   </td>
  </tr>

    <tr>
   <td><code>API Trigger ID</code>
   </td>
   <td>String
   </td>
   <td>Trigger ID of the {{ sub_int }} to run.
      <p>
  This value is available in the <b>Trigger ID</b> field of the <b>API Trigger</b>
  in the {{ sub_int }}.
<p></td>
  </tr>

  <tr>
   <td><code>Integration name</code> </td>
   <td>String
   </td>
   <td>Name of the {{ sub_int }} to run.</td>
  </tr>
 <tr>
   <td><code>While loop condition</code>
   </td>
   <td>N/A</td>
   <td>Condition to terminate the loop. The {{ sub_int }} runs till the condition is met. For example, <code>$loopMetadata.current_iteration_count$&lt; 10</code>.</td>

  </tr>


  <tr>
   <td><code>Map to {{ sub_int }} input(s)</code>
   </td>
   <td>N/A
   </td>
    <td>Values to pass from the current integration to the {{ sub_int }}.
      <p>
The values of this property are in the form of key-value pairs, where the key is a variable
      in the current integration, and the value is the corresponding input variable in the
      {{ sub_int }}. For example, suppose your main integration has the <code>productID</code>
      variable, which you want to map to the
  <code>subIntProductID</code> {{ sub_int }} variable; you would
  select <code>productID</code> from the <b>Integration variable to map from</b>
  drop-down and enter <code>subIntProductID</code> in the <b>Sub-Integration input
  to map to</b> field.
      </p></td>
  </tr>

  <tr>
   <td><code>Collect values from {{ sub_int }} output(s)</code>
   </td>
   <td>N/A
   </td>
    <td>Collate the results of the {{ sub_int }} runs.

      <p>
      Every time the {{ sub_int }} runs,
      you can store the output of the {{ sub_int }} in an array variable of the current integration. Enter the
   {{ sub_int }}'s output variable in the <b>Sub-Integration output to collect from</b>
   field and select the array variable in current integration from the
   <b>Integration variable to collect into</b> drop-down. Each element of the array has the response from a
        particular {{ sub_int }} run. For example, if the array variable is <code>resultsArray</code>,
        <code>resultsArray[0]</code> has the response from the first run and <code>resultsArray[1]</code> has
        the response from the second run.
      </p>

    </td>
  </tr>


  <tr>
   <td><code>Override values from {{ sub_int }} output(s)</code>
   </td>
   <td>N/A
   </td>
    <td>Read the output variable of a {{ sub_int }} run and store it in a variable of
    the current integration.
           <p>
        Select the {{ sub_int }}'s output variable from the <b>Sub-integration output to map from</b>
   drop-down, and select the corresponding variable in the current integration from the
   <b>Integration variable to override</b> drop-down. You can send the overridden variable in the current integration
        to the next {{ sub_int }} run by mapping the variable in the <b>Map to additional {{ sub_int }}
      input(s)</b> property. As a result, you can cumulatively aggregate the responses from the
      {{ sub_int }} runs.</p>


</td>
  </tr>


  <tr>
   <td><code>Loop metadata</code></td>
   <td>JSON array
   </td>
   <td>The output variable that has the execution details of the {{ sub_int }} runs like the
     {{ sub_int }} execution ID, errors messages, and variable values passed during execution. Loop metadata contains variables including the following output variables: <code>current_iteration_count</code>, <code>sub_integration_execution_ids</code>, <code>failure_location</code>, <code>current_element</code>, <code>iteration_element</code>, and <code>failure_message</code>.

     {% include "application-integration/docs/_shared/_loop-metadata-warning.html" %}
    </td>
  </tr>

</table>

<h2>Best practices</h2>

<p>For information about the usage limits that apply to the <b>{{ apip_task_whileloop }}</b> task, see <a href="/application-integration/docs/quotas#usage-limits"> Usage limits</a>.
</p>

{% include "application-integration/docs/_shared/_retry_on_failure.html" %}



<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>
{% endblock %}