{% extends "application-integration/_base.html"  %}
{% block page_title %}{{apip_task_foreachloop}} task{% endblock %}
{% block body %}


<p>The <strong>{{ apip_task_foreachloop }}</strong> task lets you make repeated calls to a {{sub_int}} from
  your current (main) integration. The task iterates over the configured array variable and calls
  the {{sub_int}} for each element in the array. The number of times
  the {{sub_int}} is called is equal to the size of the array variable.</p>

<p>The <b>API Trigger ID</b> and the <b>Integration name</b> identifies the {{sub_int}} you
  want to run.</p>

<p>The task also lets you collect the response from each {{ sub_int }} run and store the value in your
  current integration for use in downstream tasks. You can use any of the following approach to collect the responses:</p>
<ul>
<li>Collate the response of each run in an array variable, where each element of the array has the
  response from one particular run. To collate the responses, configure
  the <code>Collect values from {{ sub_int }} output(s)</code> property.
  </li>
<li>Aggregate the responses of all the runs in a single variable. To aggregate the responses, configure
  the <code>Response parameter override mapping</code> property.</li>
</ul>

<aside class="note"><strong>Note</strong>:
  <ul>
    <li>A <b>{{apip_task_foreachloop}}</b> task can run a maximum of 8000 iterations.</li>
    <li>The cumulative size of the data collected from each {{ sub_int }} run cannot exceed
      <code>50 MB</code>. If the size exceeds <code>50 MB</code>, the integration fails, and
      the downstream tasks are not run.</li>
    <li>If an integration in the <b>{{apip_task_foreachloop}}</b> task fails, then the entire task fails, and
      the downstream tasks are not run. To prevent failure of the entire integration you can specify an <b>Execution strategy</b> for the task in its <i>Join configuration pane</i>. See <a href="{{basehrefpath}}/forks-joins#join">Join</a> for more details. </li>
  </ul>
  </aside>

<h2>Before you begin</h2>
<ul>
  {{configure_byosa}}
</ul>

<h2 id="params">Configuration properties</h2>

<p>
The following table describes the configuration properties of the <b>{{apip_task_foreachloop}}</b> task.

</p>

<table>
  <tr>
   <td><b>Property</b>
   </td>
   <td><b>Data type</b>
   </td>
   <td><b>Description</b>
   </td>
  </tr>

    <tr>
   <td><code>API Trigger ID</code>
   </td>
   <td>String
   </td>
   <td>Trigger ID of the {{ sub_int }} to run.
      <p>
  This value is available in the <b>Trigger ID</b> field of the <b>API Trigger</b>
  in the {{ sub_int }}.
<p></td>
  </tr>

  <tr>
   <td><code>Integration name</code> </td>
   <td>String
   </td>
   <td>Name of the {{ sub_int }} to run.</td>
  </tr>
 <tr>
   <td><code>List to iterate</code>
   </td>
   <td>An array of type Boolean, String, Integer, Double, or JSON.
   </td>
   <td>List of values for which the {{ sub_int }} should run. The
     {{ sub_int }} runs for each value in the list, one after the other.
<p>
  You can pass the iterated value to the {{ sub_int }} by setting the
  <b>Iteration element {{ sub_int }} mapping</b> property. In this property, specify
  the variable in the {{ sub_int }} to which the iterated value must be mapped.</p>

</td>

  </tr>

  <tr>
   <td><code>Iteration element {{ sub_int }} mapping</code></td>
   <td>N/A
   </td>
   <td>Variable in the {{ sub_int }} for which the current iterated element must be assigned.</td>
  </tr>


  <tr>
   <td><code>Map to additional {{ sub_int }} input(s)</code>
   </td>
   <td>N/A
   </td>
    <td>Additional values to pass from the current integration to the {{ sub_int }}.

      <p>
        The values of this property are in the form of key-value pairs, where the key is a variable
      in the current integration, and the value is the corresponding input variable in the
      {{ sub_int }}. For example, suppose
  your main integration has the <code>productID</code> variable, which you want to map to the
  <code>subIntProductID</code> {{ sub_int }} variable; you would
  select <code>productID</code> from the <b>Integration variable to map from</b>
  drop-down and select <code>subIntProductID</code> in the <b>Subintegration input
  to map to</b> drop-down.
      </p></td>
  </tr>

  <tr>
   <td><code>Collect values from {{ sub_int }} output(s)</code>
   </td>
   <td>N/A
   </td>
    <td>Collate the results of the {{ sub_int }} runs.

      <p>Every time the {{ sub_int }} runs,
      you can store the output of the {{ sub_int }} in an array variable of the current integration.
        Select the {{ sub_int }}'s output variable from the <b>Sub-integration output to collect from</b>
   drop-down and the array variable in current integration from the
        <b>Integration variable to collect into</b> drop-down. Each element of the array has the response from a
        particular {{ sub_int }} run. For example, if the array variable is <code>resultsArray</code>,
        <code>resultsArray[0]</code> has the response from the first run and <code>resultsArray[1]</code> has
        the response from the second run.</p>
</td>
  </tr>


  <tr>
   <td><code>Response parameter override mapping</code>
   </td>
   <td>N/A
   </td>
    <td>Read the output variable of a {{ sub_int }} run and store it in a variable of
    the current integration.
      <p>
        Select the {{ sub_int }}'s output variable from the <b>Sub-integration output to map from</b>
   drop-down, and select the corresponding variable in the current integration from the
   <b>Integration variable to override</b> drop-down. You can send the overridden variable in the current integration
        to the next {{ sub_int }} run by mapping the variable in the <b>Map to additional {{ sub_int }}
      input(s)</b> property. As a result, you can cumulatively aggregate the responses from the
      {{ sub_int }} runs.</p>

</td>
  </tr>


  <tr>
   <td><code>Loop metadata</code></td>
   <td>JSON array
   </td>
   <td>The output variable that has the execution details of the {{ sub_int }}s like {{ sub_int }}
     execution ID, errors messages, and variable values passed during execution. Loop metadata contains variables including the following output variables: <code>current_iteration_count</code>, <code>sub_integration_execution_ids</code>, <code>failure_location</code>, <code>current_element</code>, <code>iteration_element</code>, and <code>failure_message</code>.

     {% include "application-integration/docs/_shared/_loop-metadata-warning.html" %}
  </td>
  </tr>

</table>

<h2>Examples</h2>

<p>The following sections provide detailed examples of how to configure and use the <b>{{ apip_task_foreachloop }}</b> task for specific scenarios. These examples illustrate the configuration steps for different use cases:</p>

<ul>
    <li><a href="#iterate-and-pass">Iterate and pass each element</a></li>
    <li><a href="#collect-sub-integration-outputs">Collect sub-integration outputs</a></li>
    <li><a href="#aggregate-results">Aggregate results with response override</a></li>
    <li><a href="#pass-additional-inputs">Pass additional inputs</a></li>
  </ul>

<h3 id="iterate-and-pass">Iterate and pass each element</h3>
 <p>Assume you have a main integration with an array variable named <code>productIds</code> containing values like <code>["P1", "P2", "P3"]</code>. To call a sub-integration named <code>GetProductDetails</code> for each product ID, configure the <b>{{ apip_task_foreachloop }}</b> task as follows:</p>
 <ul>
      <li>Set <b>List to iterate</b> to <code>productIds</code>.</li>
      <li>Set <b>Iteration element {{ sub_int }} mapping</b> to map the current element of <code>productIds</code> to a variable in <code>GetProductDetails</code>, for example, <code>subIntProductId</code>.</li>
    </ul>
 <p>Each execution of <code>GetProductDetails</code> then receives one product ID from <code>productIds</code>.</p>

<h3 id="collect-sub-integration-outputs">Collect sub-integration outputs</h3>
 <p>As in the previous example, assume <code>GetProductDetails</code> returns a JSON object in an output variable called <code>productInfo</code>.</p>
 <p>To collect all <code>productInfo</code> outputs from each sub-integration execution and store them as elements in an array variable within the main integration:</p>
 <ul>
      <li>Configure <b>Collect values from {{ sub_int }} output(s)</b></a>.</li>
      <li>Select <code>productInfo</code> from <b>Sub-integration output to collect from</b>.
      <li>Select an array variable in the main integration, for example, <code>allProductDetails</code>, from <b>Integration variable to collect into</b>.</li>
    </ul>
 <p>After the loop completes, <code>allProductDetails</code> is an array where each element is the <code>productInfo</code> JSON from one sub-integration execution.</p>

<h3 id="aggregate-results">Aggregate results with response override</h3>
 <p>Assume you have a main integration that calls a sub-integration (for example, <code>GetProductDetails</code>) for each item in a list, and you want to calculate the total price of all items. To sum up a numeric value returned by each sub-integration execution:</p>
 <ul>
      <li>Ensure the sub-integration returns a value in an output variable <code>itemPrice</code>.</li>
      <li>Initialize the <code>totalPrice</code> variable to <code>0</code> in the main integration.</li>
      <li>Configure <b>Response parameter override mapping</b>:
        <ul>
          <li>Map <code>itemPrice</code> (from sub-integration) to <code>totalPrice</code> (in main integration).</li>
        </ul>
      </li>
      <li>In the <b>Map to additional {{ sub_int }} input(s)</b> section:
        <ul>
          <li>Map <code>totalPrice</code> (from main integration) to an input variable in the sub-integration, for example, <code>currentTotal</code>.</li>
        </ul>
      </li>
      <li>In the sub-integration's logic, add the current item's price to the <code>currentTotal</code> received from the main integration. Then, return this new sum in the output variable named <code>itemPrice</code>. This process creates a cumulative aggregation.</li>
    </ul>

<h3 id="pass-additional-inputs">Pass additional inputs</h3>
 <p>If your sub-integration <code>GetProductDetails</code> needs a <code>currency</code> code from the main integration, then:</p>
 <ul>
      <li>In the <b>Map to additional {{ sub_int }} input(s)</b> section:
        <ul>
          <li>Map the main integration variable <code>currencyCode</code> to the sub-integration input variable <code>subIntCurrency</code>.</li>
        </ul>
      </li>
      <li>This <code>currencyCode</code> is passed to every execution of the sub-integration.</li>
    </ul>

<p>Explore the following sample integrations for practical, step-by-step guides and executable examples of the concepts discussed in the preceding sections:</p>
<ul>
  <li><a href="/application-integration/docs/invoke-sub-int-for-each-loop">Invoke a sub-integration using a For Each Loop task</a></li>
  <li><a href="/application-integration/docs/samples/ecom-order-processing">Ecommerce sample integration</a></li>
</ul>

<h2>Best practices</h2>

<p>For information about the usage limits that apply to the <b>{{ apip_task_foreachloop }}</b> task, see <a href="/application-integration/docs/quotas#usage-limits"> Usage limits</a>.
</p>

{% include "application-integration/docs/_shared/_retry_on_failure.html" %}


<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>
{% endblock %}
