{% extends "application-integration/_base.html" %}
{% block page_title %}Manage authentication profiles{% endblock %}
{% block body %}

<p>The tasks in your {{ integration }} may require connection to an external application,
  service, or data source. An authentication profile lets you configure and store the
  authentication details for the connection in {{ integration }}. You can configure the task to use the stored
  authentication profile. Creating an authentication profile is a one-time activity, and
  you can reuse the same profile in multiple integrations.
</p>

<h2>Required roles</h2>

{% setvar action %}manage authentication profiles{% endsetvar %}
{% setvar resource %}an integration{% endsetvar %}
{% setvar role_list %}
* All: Application Integration Admin  (<code>roles/integrations.integrationAdmin</code>)
* Create authentication profiles: Application Integration Editor (<code>roles/integrations.integrationEditor</code>)
* Edit authentication profiles: Application Integration Editor (<code>roles/integrations.integrationEditor</code>)
* Delete authentication profiles: Application Integration Admin  (<code>roles/integrations.integrationAdmin</code>)
{% endsetvar %}
{% include "_shared/_required_roles.html" %}


<h2 id="create-oauth">Create OAuth 2.0 client ID</h2>
<p>A client ID is used to identify a single application to Google's OAuth servers. If your application runs on multiple platforms, then each will need its own client ID. 
  To use OAuth 2.0 in your application, you need an OAuth 2.0 client ID, which your application uses when requesting an OAuth 2.0 access token.

  <p>To create an OAuth 2.0 client ID, do the following steps:
    <ol>
      <li>In the {{console_name}}, go to <b>APIs &amp; Services > Credentials</b>.
        <p>
          <a class="button button-primary" href="{{console_url}}apis/credentials ">Go to Credentials</a>
        </p>
      </li>
      <li>Click <b>+ Create Credentials</b> and select <b>OAuth client ID</b> from the list of available options.
      <p>
        The <b>Create OAuth client ID</b> page appears.
        </p></li>
      <li><b>Application type:</b> Select <b>Web Application</b> from the drop-down list.</li>
      <li><b>Name:</b> Enter a name for your OAuth 2.0 client to identify the client in the Cloud console.</li>
      <li>Under <b>Authorized redirect URIs</b>, click <b>+Add URI</b> and enter the following:
      <pre class="prettyprint" suppresswarning=true> {{console_url}}integrations/callback/locations/<var>AUTH_PROFILE_REGION</var></pre>
      </li>
      <li>Click <b>Create</b>.
      <p>An OAuth 2.0 client ID is created successfully.</p></li>
</ol>

<h2 id="createAuthProfile">Create a new authentication profile</h2>

<p>To create a new authentication profile, select one of the following options:
  <div>
  <devsite-selector>
    <section>
      <h3>Console</h3>
      <ol>
   <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
        <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
   </li>
   <li>In the navigation menu, click <b>Auth Profiles</b>.
   </li>
  <p>
    The <b>Authentication Profiles</b> page appears.
  </p></li>
<li>Click <b>Create</b> and enter the following details:
  <ul>
    <li>In the <b>Profile name</b> field, enter the name of the authentication profile to be displayed in the integration editor.</li>
    <li>From the <b>Region</b> list, select a region for the authentication profile.</li>
    <p>The region you select here must be the same as the <code><var>AUTH_PROFILE_REGION</var></code> used in the <b>Authorized redirect URIs</b> when you created the OAuth 2.0 client ID.</p>
    <li>In the <b>Description</b> field, enter a description for the authentication profile.</li>
    <li>Click <b>Continue</b>.
      <li>From the <b>Authentication type</b> list, select the authentication type and enter the required details.
        Based on your selection, the dialog displays additional fields required for the
        authentication credentials. You can select any of the following authentication types:
        <ul>
          <li><a href="#auth-token">Auth token</a></li>
          <li><a href="#googleOIDC">Google OIDC ID Token</a></li>
          <li><a href="#jwt">JSON Web Token (JWT)</a></li>
          <li><a href="#oauth2-code">OAuth 2.0 authorization code</a></li>
          <li><a href="#oauth2-client">OAuth 2.0 client credentials</a></li>
          <li><a href="#oauth2-owner">OAuth 2.0 resource owner password credentials</a></li>
          <li><a href="#client-certificate">SSL/TLS client certification only</a></li>
          <li><a href="#service-account">Service account</a></li>
      <!--
          <li><a href="#username-pwd">Username and password</a></li>
       -->
        </ul>
        </li>
        <li>Optionally, you can add SSL/TLS client certificates that are used by the server to validate a client's identity. You can enter the following field:
          <ol>
            <li><b>SSL certificate</b></li>
            <li><b>Private key</b></li>
            <li><b>Private key passphrase</b></li>
          </ol> 
        </li>
 </ul>
  </li>
<li>Click <b>Create</b>.</li>
</ol>
    </section>
    <section>
      <h3>Terraform</h3>
      <p>
        Use the <code><a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/integrations_client">google_integrations_client</a></code>
        resource.
    
        You can use terraform to create the following authentication profiles:
        <ul>
          <li><a href="#terraform-create-auth-token">Auth token</a></li>
          <li><a href="#terraform-client-certificate">SSL/TLS client certification only</a></li>
          <li><a href="#terraform-jwt">JSON Web Token (JWT)</a></li>
          <li><a href="#terraform-oauth2-code">OAuth 2.0 authorization code</a></li>
          <li><a href="#terraform-oauth2-client">OAuth 2.0 client credentials</a></li>
          <li><a href="#terraform-oidc-token">OIDC ID token</a></li>
          <li><a href="#terraform-service-account">Service account</a></li>
        </ul>

        <p id="terraform-create-auth-token"><b>Auth token</b></p>
        <p>The following example creates a <a href="#auth-token">Auth token authentication type</a> in the <code>us-central1</code> region:</p>
    
        {% include "_shared/widgets/_github_include.html" with lang="terraform" account="terraform-google-modules" project="terraform-docs-samples" file="application_integration/create_auth_config/main.tf" region_tag="application_integration_create_auth_config_auth_token" noprettyprint=true %}

        <p id="terraform-client-certificate"><b>SSL/TLS client certification</b></p>
        <p>The following example creates a <a href="#client-certificate">SSL/TLS client certification authentication type</a> in the <code>us-central1</code> region:</p>
    
        {% include "_shared/widgets/_github_include.html" with lang="terraform" account="terraform-google-modules" project="terraform-docs-samples" file="application_integration/create_auth_config/main.tf" region_tag="application_integration_create_auth_config_certificate" noprettyprint=true %}

        <p id="terraform-jwt"><b>JSON Web Token (JWT)</b></p>
        <p>The following example creates a <a href="#jwt">JSON Web Token (JWT) authentication type</a> in the <code>us-central1</code> region:</p>
    
        {% include "_shared/widgets/_github_include.html" with lang="terraform" account="terraform-google-modules" project="terraform-docs-samples" file="application_integration/create_auth_config/main.tf" region_tag="application_integration_create_auth_config_jwt" noprettyprint=true %}

        <p id="terraform-oauth2-code"><b>OAuth 2.0 authorization code</b></p>
        <p>The following example creates a <a href="#client-certificate">SSL/TLS client certification authentication type</a> in the <code>us-central1</code> region:</p>
    
        {% include "_shared/widgets/_github_include.html" with lang="terraform" account="terraform-google-modules" project="terraform-docs-samples" file="application_integration/create_auth_config/main.tf" region_tag="application_integration_create_auth_config_oauth2_authorization_code" noprettyprint=true %}

        <p id="terraform-oauth2-client"><b>OAuth 2.0 client credentials</b></p>
        <p>The following example creates a <a href="#oauth2-client">OAuth 2.0 client credentials authentication type</a> in the <code>us-central1</code> region:</p>
    
        {% include "_shared/widgets/_github_include.html" with lang="terraform" account="terraform-google-modules" project="terraform-docs-samples" file="application_integration/create_auth_config/main.tf" region_tag="application_integration_create_auth_config_oauth2_client_credentials" noprettyprint=true %}

        <p id="#terraform-oidc-token"><b>Google OIDC ID token</b></p>
        <p>The following example creates a <a href="#googleOIDC">Google OIDC ID token authentication type</a> in the <code>us-central1</code> region:</p>

<pre>
resource "random_id" "default" {
  byte_length = 8
}

resource "google_service_account" "service_account" {
  account_id   = "sa-${random_id.default.hex}"
  display_name = "Service Account"
}

resource "google_integrations_auth_config" "auth_config_oidc_token" {
  location     = "us-central1"
  display_name = "tf-oidc-token"
  description  = "Test auth config created via terraform"
  decrypted_credential {
    credential_type = "OIDC_TOKEN"
    oidc_token {
      service_account_email = google_service_account.service_account.email
      audience = "https://us-central1-project.cloudfunctions.net/functionA 1234987819200.apps.googleusercontent.com"
    }
  }
depends_on = [google_service_account.service_account, google_integrations_client.client]
}
</pre>

        <p id="#terraform-service-account"><b>Service account</b></p>
        <p>The following example creates a <a href="#service-account">service account authentication type</a> in the <code>us-central1</code> region:</p>

<pre>
resource "random_id" "default" {
  byte_length = 8
}
  
resource "google_service_account" "service_account" {
  account_id   = "sa-${random_id.default.hex}"
  display_name = "Service Account"
}
resource "google_integrations_auth_config" "auth_config_service_account" {
  location     = "us-central1"
  display_name = "tf-service-account"
  description  = "Test auth config created via terraform"
  decrypted_credential {
    credential_type = "SERVICE_ACCOUNT"
    service_account_credentials {
    service_account = google_service_account.service_account.email
    scope = "https://www.googleapis.com/auth/cloud-platform https://www.googleapis.com/auth/adexchange.buyer https://www.googleapis.com/auth/admob.readonly"
    }
  }
depends_on = [google_service_account.service_account, google_integrations_client.client]
}
</pre>

    </section>
  </devsite-selector>
</div>

<p>After you save, the new authentication profile is available as an
  option in the <b>Authorization profile to use</b> drop-down of any task requiring authentication.
</p>
<p><i>Optional</i>. If you have not created an authentication profile prior to configuring an integration task, you can access
  the profile creation dialog by selecting <b>+ Add new authentication profile</b> from the
<b>Authorization profile to use</b> drop-down in the task configuration pane. Follow the
  preceding steps to create a new authentication profile.</p>

<aside class="note"><b>Note:</b> When you associate a newly created or an updated authentication profile with a task in a draft integration, you must <a href="/application-integration/docs/test-publish-integrations">publish the integration</a> for the changes to take effect during testing or execution. If you test the integration without publishing, the integration will continue to use the previously published authentication profile associated with the task.</aside>

<h2 id="edit-auth-profiles">Edit authentication profiles</h2>
<p>To edit an authentication profile, follow these steps:</p>

<ol>
     <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
          <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
     </li>
     <li>In the navigation menu, click <b>Auth Profiles</b>.
     </li>
    <p>
      The <b>Authentication Profiles</b> page appears.
    </p></li>
    <li>Select a <b>Region</b> for the authentication profile using the drop-down menu in the <b>Authentication Profiles</b> page.</li>
    <li>Click <span class="material-icons">
      more_vert
      </span> (Actions menu) and click <b>Edit</b>.
      <p>
        The <b>Authentication Profiles</b> dialog appears.
      </p></li>
    <li>Edit the details and click <b>Save</b>.
    </li>
</ol>

<p>When you edit an authentication profile, consider the following:</p>
<ul>
  <li>If you edit an authentication profile that is used by a task in a draft integration, <a href="/application-integration/docs/test-publish-integrations">publish the integration</a> for the changes to take effect. When you test a draft integration, it will still use the authentication profile from the last published version.</li>
  <li>If a task in an integration with a retry mechanism uses an authentication profile, <a href="/application-integration/docs/test-publish-integrations">publish the integration</a> after updating the profile to ensure the task uses the updated profile.</li>
</ul>

<h2 id="delete-auth-profiles">Delete authentication profiles</h2>
<p>To delete an authentication profile, follow these steps:</p>

<ol>
     <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
          <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
     </li>
     <li>In the navigation menu, click <b>Auth Profiles</b>.
     </li>
    <p>
      The <b>Authentication Profiles</b> page appears.
    </p></li>
    <li>Select a <b>Region</b> for the authentication profile using the drop-down menu in the <b>Authentication Profiles</b> page.</li>
  <li>Click <b>Delete</b>.</li></ol>

<h2 id="auth-types">Authentication types</h2>

<p>The authentication type required to complete an integration task depends on the authentication configured in the authorization server.
  The authorization server can be a standalone server or an API that issues credentials to the
  calling client. {{ integration }} supports the following authentication types:
</p>
<ul>
   <li><a href="#auth-token">Auth token</a></li>
  <li><a href="#googleOIDC">Google OIDC ID Token</a></li>
    <li><a href="#jwt">JSON Web Token (JWT)</a></li>
    <li><a href="#oauth2-code">OAuth 2.0 authorization code</a></li>
    <li><a href="#oauth2-client">OAuth 2.0 client credentials</a></li>
    <li><a href="#oauth2-owner">OAuth 2.0 resource owner password credentials</a></li>
    <li><a href="#client-certificate">SSL/TLS client certification only</a></li>
    <li><a href="#service-account">Service account</a></li>
<!--
    <li><a href="#username-pwd">Username and password</a></li>
 -->
</ul>

<p>The following sections describe the configuration properties of the authentication types.</p>

<h3 id="auth-token">Auth token</h3>

The <b>Auth token</b> authentication type uses a token (credentials) for authentication.
The credentials are sent to the server in the HTTP <code>Authorization</code> request header in the
<code>Authorization: <var>TYPE</var> <var>CREDENTIALS</var></code> format. To configure this
authentication type, set the following properties:

<ul>
  <li><b>Type</b>: Authentication type such as <code>Basic</code>, <code>Bearer</code>,
    or <code>MAC</code>.</li>
  <li><b>Token</b>: Credentials for the authentication type.</li>
</ul>

<p>If the authentication server requires an SSL/TLS certificate, upload the certificate and the
  private key.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

<h3 id="googleOIDC">Google OIDC ID Token</h3>

The <b>Google OIDC ID Token</b> authentication type uses JSON Web Tokens (JWT) for authentication.
The Google OpenID Connect (OIDC) provider, <i>accounts.google.com</i>, signs and issues these JWTs for authentication using a service account.
To configure this authentication type, set the following properties:
<ul>
  <li><b>Service account</b>: Service account (principal) in your {{gcp_name}} project with permission to access your API.
  <aside class="note">
  <b>Note:</b> Assign the <b>Service Account Token Creator</b> IAM role to the
    <code>{{shared_p4sa}}</code>
    service account. For more information about assigning IAM roles, see
      <a href="{{basehrefpath}}/integrations-access-permissions"
        >IAM roles and permissions</a>.
</aside>
    </li>
  <li><b>Audience</b>: The audience for the OIDC token (this identifies the recipients that the JWT is intended for). For example, <i>Trigger URL</i> is the audience for the <b>Cloud Function</b> task.
  </li>
</ul>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

<h3 id="jwt">JSON Web Token (JWT)</h3>

The <b>JWT</b> authentication type uses JSON Web Token (JWT) for authentication. For more information about
JWT, see <a href="https://tools.ietf.org/html/rfc7519">RFC7519</a>. To configure this
authentication type, set the following properties:


<ul><li><b>JWT header</b>: Algorithm used to generate the signature.
  <p><b>Note</b>: You can only specify the HS256 algorithm.</p>
  </li>
  <li><b>JWT payload</b>: A set of claims. You can use registered, public, or custom claims.</li>
<li><b>Secret</b>: Shared key between the client and the authentication server.</li>
</ul>

<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase .
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.


<h3 id="oauth2-code">OAuth 2.0 authorization code</h3>

<p>The <b>OAuth 2.0 authorization code</b> authentication type uses an <code>OAuth 2.0</code>
authorization token for authentication. To configure this
authentication type, set the following properties:

<ul>
<li><b>Authentication endpoint</b>: Endpoint to the application's authentication endpoint. You
  will be redirected to this URL to review the access permissions for the application. The token will
  only be generated after access is granted.
</li>

<li><b>Token endpoint</b>: Endpoint that grants or refreshes the access token.</li>

<li><b>Client ID</b>: A unique string provided by the authentication server to the registered client. The <b>Client ID</b> is not a secret, and it is exposed to the resource owner. Use this field along with a client secret.</li>
<li><b>Secret</b>:  Shared secret key between the client (integration) and the
  authentication server.</li>
<li><b>Scope(s)</b>: Scope of the access token. Scopes let you specify access permissions
  for users. You can specify multiple scopes separated by a single space (" "). For more information, see
    <a href="https://developers.google.com/identity/protocols/oauth2/scopes">OAuth 2.0 Scopes for Google APIs</a>.</li>
</ul>


<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase in the available field, if required.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

<h3 id="oauth2-client">OAuth 2.0 client credentials</h3>

<p>The <b>OAuth 2.0 client credentials</b> authentication type uses an <code>OAuth 2.0</code>
authorization token for authentication. This authentication first requests an access token using the
client credentials and then uses the token to access the protected resources. To configure this
authentication type, set the following properties:

<ul>
  <li><b>Token endpoint</b>: Endpoint that grants or refreshes the access token.</li>
  <li><b>Client ID</b>: A unique string provided by the authentication server to the registered client.
  The <b>Client ID</b> is not a secret, and it is exposed to the resource owner. Use
    this field along with a client secret.</li>
<li><b>Secret</b>:  Shared secret key between the client (integration) and the
  authentication server.</li>
<li><b>Scope(s)</b>: Scope of the access token. Scopes let you specify access permissions
  for users. You can specify multiple scopes separated by a single space (" "). For more information, see
    <a href="https://developers.google.com/identity/protocols/oauth2/scopes">OAuth 2.0 Scopes for Google APIs</a>.</li>
  <li><b>Request types</b>: Mechanisms to send the request parameters to the
    authentication server for fetching the access token. You can specify any of the following
    request types:
    <p>
      <ul>
    <li><b>Encoder header</b>: Encodes the <code>CLIENT ID</code> and
      <code>CLIENT SECRET</code> in <code>Base64</code> format and sends the encoded string in the
      HTTP authorization header. The remaining request parameters are sent in the HTTP request body.
     </li>
    <li><b>Query parameters</b>: Sends the request parameters in a query string.</li>
    <li><b>Request body</b>: Sends the request parameters by using the
      <code>application/x-www-form-urlencoded</code> content type and <code>UTF-8</code>
      charset in the <code>entity-body</code> of the HTTP request. </li>
    <li><b>Unspecified</b></li>
  </ul>
 </li>
  <li><b>Token parameters</b>: Request parameters required to get the token. Specify
    the values in key-value format where <code>Key</code> is the parameter name and
    <code>Value</code> is the corresponding parameter value.</li>
</ul>

<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase in the available field, if required.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.


<h3 id="oauth2-owner">OAuth 2.0 resource owner password credentials</h3>

<p>The <b>OAuth 2.0 resource owner password credentials</b> authentication type uses an <code>OAuth 2.0</code>
authorization token for authentication. This authentication first requests an access token using the
resource owner credentials (Username and Password) and then uses the token to access the protected resources. To configure this
authentication type, set the following properties based on the instance type that you connect to:

<ul>
  <li><b>Token endpoint</b>: Endpoint that grants or refreshes the access token.</li>
  <li><b>Client ID</b>: A unique string provided by the authentication server to the registered client.
  The <b>Client ID</b> is not a secret, and it is exposed to the resource owner. Use
    this field along with a client secret.</li>
  <li><b>Secret</b>:  Shared secret key between the client (integration) and the
  authentication server.</li>
  <li><b>Scope(s)</b>: Scope of the access token. Scopes let you specify access permissions
  for users. You can specify multiple scopes separated by a single space (" "). For more information, see
    <a href="https://developers.google.com/identity/protocols/oauth2/scopes">OAuth 2.0 Scopes for Google APIs</a>.</li>
  <li><b>Username</b>: Username of the resource owner.</li>
  <li><b>Password</b>: User password.</li>
  <li><b>Request types</b>: Mechanisms to send the request parameters to the
    authentication server for fetching the access token. You can specify any of the following
    request types:
    <p>
      <ul>
    <li><b>Encoder header</b>: Encodes the <code>CLIENT ID</code> and
      <code>CLIENT SECRET</code> in <code>Base64</code> format and sends the encoded string in the
      HTTP authorization header. Sends the remaining request parameters in the HTTP request body.
     </li>
    <li><b>Query parameters</b>: Sends the request parameters in a query string.</li>
    <li><b>Request body</b>: Sends the request parameters by using the
      <code>application/x-www-form-urlencoded</code> content type and <code>UTF-8</code>
      charset in the <code>entity-body</code> of the HTTP request. </li>
  </ul>
  </li>
  <li><b>Token parameters</b>: Request parameters required to get the token. Specify
    the values in key-value format where <code>Key</code> is the parameter name and
    <code>Value</code> is the corresponding parameter value.</li>
</ul>

<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase in the available field, if required.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.



<h3 id="client-certificate">SSL/TLS client certificate only</h3>

The <b>SSL/TLS client certificate only</b> authentication type uses only the SSL/TLS certificate for authentication.
Upload the required certificate and the private key. To configure this
authentication type, upload the following files:
<ul><li><b>SSL certificate</b>: Certificate encoded in PEM format.</li>
<li><b>Private key</b>: Certificate's private key file encoded in PEM format.
 <p>If the private key requires a <code>passphrase</code>, enter the <b>Private key passphrase</b>.</p>
  </li>
</ul>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

<h3 id="service-account">Service account</h3>

<p>The <b>Service account</b> authentication type uses the credentials of a
{{gcp_name}} project's service account for authentication. To configure this
authentication type, set the following properties:

<ul>
  <li><b>Service account</b>: Service account (principal) in your Google Cloud project with permission to access
    your API.
    <aside class="note"><b>Note:</b> Assign the <b>Service Account Token Creator</b> IAM role to
    the <code>{{shared_p4sa}}</code>
      service account. For more information about assigning IAM roles, see
      <a href="{{basehrefpath}}/integrations-access-permissions">IAM roles and permissions</a>. </aside>
  </li>
  <li><b>Scope(s)</b>: Scope of the access permissions granted to users. You can specify multiple scopes
    separated by a single space (" "). For more information, see
    <a href="https://developers.google.com/identity/protocols/oauth2/scopes">OAuth 2.0 Scopes for Google APIs</a>.</li>

</ul>

<p>To learn about best practices for creating and managing service accounts, read the <a href="/iam/docs/best-practices-service-accounts">Best practices for working with service accounts documentation</a>.</p>

<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase in the available field, if required.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

<!--
<h3 id="username-pwd">Username and password</h3>

<p>The <b>Username and password</b> authentication type uses a
username and password for authentication. To configure this
authentication type, set the following properties:

<ul>
<li><b>Username</b>: Username for authentication.</li>
<li><b>Password</b>: User password.</li>
</ul>

<p>If the authentication server requires an SSL certificate, upload the certificate and the
  private key using the file picker.  Enter the private key passphrase in the available field, if required.
</p>

To find out which tasks support this authentication type, see
<a href="#compatibleTasks">Compatibility of authentication types with tasks</a>.

-->


<h2 id="compatibleTasks">Compatibility of authentication types with tasks</h2>

<p>The following table lists the authentication types and the corresponding compatible tasks. You
can use this information to decide which authentication type to use for a task.</p>

<table>
  <thead>
  <tr>
   <th>Authentication type
   </th>
   <th>Compatible tasks and triggers
   </th>
    </tr>
  </thead>
  <tr>
    <td><a href="#auth-token">Auth token</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
      </ul>
   </td>
 </tr>
   <tr>
    <td><a href="#auth-token">Google OIDC ID Token</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
        <li><a href="{{basehrefpath}}/run-cloud-function-task">Cloud Function</a></li>
      </ul>
   </td>
 </tr>
 <tr>
    <td><a href="#jwt">JSON Web Token (JWT)</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
      </ul>
   </td>
 </tr>

  <tr>
    <td><a href="#oauth2-code">OAuth 2.0 authorization code</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
        <li><a href="{{basehrefpath}}/run-apps-script-task">Run Apps Script</a></li>
        <li><a href="{{basehrefpath}}/configure-cloud-function-task">{{function_name}} task</a></li>
      </ul>
   </td>
 </tr>

  <tr>
    <td><a href="#oauth2-client">OAuth 2.0 client credentials</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
      </ul>
   </td>
 </tr>

  <tr>
  <td><a href="#oauth2-owner">OAuth 2.0 resource owner password credentials</a>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
        <li><a href="{{basehrefpath}}/configuring-salesforce-cdc-trigger">Salesforce Trigger</a></li>
      </ul>
    </td>
  </tr>

<tr>
    <td><a href="#client-certificate">SSL/TLS client certificate only</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
      </ul>
   </td>
 </tr>

  <tr>
    <td><a href="#service-account">Service account</a></td>
    <td>
      <ul>
        <li><a href="{{basehrefpath}}/call-rest-endpoint-task">Call REST Endpoint</a></li>
        <li><a href="{{basehrefpath}}/configure-connectors-task">Connectors task</a></li>
        <li><a href="{{basehrefpath}}/configure-call-integration-task">Call Integration task</a></li>
        <li><a href="{{basehrefpath}}/configure-cloud-function-task">{{function_name}} task</a></li>
      </ul>
   </td>
 </tr>
</table>

<h2 id="authentication-rule">Authentication rules</h2>
<p>If your integration has both OAuth 2.0 profile and a user-managed service account configured, then by default the OAuth 2.0 profile is used for authentication. If neither OAuth 2.0 profile nor user-managed service account is configured, then the default service account (<code>{{shared_p4sa}}</code>) is used. If the task does not use the default service account, the execution fails.</p>

{% endblock %}
