{% extends "application-integration/_base_experimental.html" %}
{% block page_title %}Data Transformer functions{% endblock %}
{% block body %}

<p>This page describes the additional set of predefined Jsonnet functions for <a href="/application-integration/docs/configure-data-transformer-script-task">Data Transformer Script</a> task available in {{integration}}. 
</p>
<p>
To use the following predefined functions, you must import the <code>functions</code> library in your script. Importing the <code>functions</code> library lets you use both the standard Jsonnet functions and the predefined <b>Data Transformer</b> functions.
</p>
<p>
  {{integration}} supports Jsonnet functions library v0.20.0. For information about the Jsonnet standard functions, see <a href="https://jsonnet.org/ref/stdlib.html">Jsonnet Standard Library</a>.
</p>

<h2>Jsonnet usage reference</h2>

<p>Jsonnet is a purely functional language and its programs are composed of expressions. For information about how to form these expressions, see <a href="https://jsonnet.org/ref/language.html#expressions">Jsonnet Expressions</a>.</p>

<h2>Functions</h2>

The following table lists the predefined functions available in {{integration}}:
<table>
  <thead>
    <tr>
      <th>Functions</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/array-functions-reference">Array functions</a></td>
      <td>Functions that operate on arrays.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/aggregate-functions-reference">Aggregate functions</a></td>
      <td>Functions that operate on multiple values.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/hash-functions-reference">Hash functions</a></td>
      <td>Functions that compute hash values.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/json-functions-reference">JSON functions</a></td>
      <td>Functions that operate on JSON values.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/mathematical-functions-reference">Mathematical functions</a></td>
      <td>Functions that perform mathematical operations.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/string-functions-reference">String functions</a></td>
      <td>Functions that operate on string values.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/timestamp-functions-reference">Timestamp functions</a></td>
      <td>Functions that operate on timestamp values.</td>
      </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/utility-functions-reference">Utility functions</a></td>
      <td>Functions that perform utility operations.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/xml-functions-reference">XML functions</a></td>
      <td>Functions that perform XML operations.</td>
    </tr>
    <tr>
      <td><a href="/application-integration/docs/reference/data-transformer-reference/miscellaneous-functions-reference">Miscellaneous functions</a></td>
      <td>Functions that perform miscellaneous operations.</td>
    </tr>
  </tbody>
</table>



<h2>Recommendation</h2>
<ul>
  <li>Lean how to add and configure a <a href="/application-integration/docs/configure-data-transformer-script-task">Data Transformer Script task</a> (<a href="https://cloud.google.com/terms/service-terms#1">Preview</a>)</li>
</ul>

{% endblock %}