{% extends "application-integration/_base.html" %}
{% block page_title %}Forks and joins{% endblock %}
{% block body %}


<p>Forks and joins are control points in an integration that
  let you specify the behaviour of a task (also known as the task's execution strategy) based on the
  task's incoming and outgoing conditions.</p>
<p>If you have enabled the <a href="{{basehrefpath}}/canvas-view.html">canvas view</a>, you can
    configure the fork and join execution policies directly in the task configuration pane.</p>
</aside>

<h2>Fork</h2>
<p>A fork is a control point for the <i>outgoing</i> <a href="{{basehrefpath}}/edge-overview.html">edges</a> of a task. It lets you specify the
  execution strategy for the immediate next tasks. You can click on a fork to open the <b>Fork configuration pane</b> and configure any one of the following
  execution strategies for a task:
</p><ul>

<li><strong>Run all match</strong>: Runs all the immediate next tasks whose edge conditions
  evaluate to true.
<li><strong>Run first match</strong>: Runs the immediate next task (in no specific order) whose
  edge conditions evaluate to true. For example, if there are three immediate next tasks
  and the edge conditions for any task (in no specific order) evaluate to true, then that
  task is run.</li></ul>
  <p>The following image shows how to configure fork for a task in the old canvas view:</p>
<img src="{{baseimagepath}}/images/integrations_fork.png" alt="image showing highlighted fork"
      data-modal-dialog-id="fork_ui" class="screenshot">

<devsite-lightbox id="fork_ui_new_canvas">
  <img src="{{baseimagepath}}/images/integrations_fork.png" alt="image showing highlighted fork">
</devsite-lightbox>
<p>If you have enabled the <a href="{{basehrefpath}}/canvas-view.html">canvas view</a>, you can
  configure the fork execution policy directly in the task configuration pane.
</p>
<img src="/application-integration/images/configure-fork.png" alt="Configure fork in the canvas"
      data-modal-dialog-id="fork_ui" class="screenshot">

<devsite-lightbox id="fork_ui_canvas">
  <img src="/application-integration/images/configure-fork.png" alt="Configure fork in the canvas">
</devsite-lightbox>

<h2>Join</h2>

<p>A join is a control point for the <i>incoming <a href="{{basehrefpath}}/edge-overview.html">edges</a></i> of a task. It lets you
  specify the execution strategy for the current task. When there are multiple incoming edges
  for a task, you can specify the conditions for which the task runs. You can click on a join to open the <b>Join configuration pane</b> and configure any one of the following
  execution strategies for a task:
</p><ul>
<li><strong>When all tasks and conditions succeed</strong>: Runs the task when all tasks and
  conditions are met, that is, all the upstream dependent tasks run successfully and the edge conditions of all tasks evaluate to true. If any of the upstream tasks or edge conditions fail, the task is not run.</li>
<li><strong>When all succeed</strong>: Runs the task if all its prerequisites are
  met, that is, all the upstream dependent tasks run successfully. If any of the
  upstream tasks fail, the task is not run.
<li><strong>When any succeed</strong>: Runs the task if any one of its prerequisites
  are met, that is, at least one of the dependent tasks runs successfully. If all of the
  previous tasks fail, the task is not run.</li></ul>
  <p>The following image shows how to configure edge for a task in the old canvas view:</p>
<img src="{{baseimagepath}}/images/integrations_join.png" alt="image showing highlighted join"
     data-modal-dialog-id="join_ui" class="screenshot">

<devsite-lightbox id="join_ui">
  <img src="{{baseimagepath}}/images/integrations_join.png" alt="image showing highlighted join">
</devsite-lightbox>
<p>If you have enabled the <a href="{{basehrefpath}}/canvas-view.html">canvas view</a>, you can
  configure the edge execution strategy directly in the task configuration pane.
</p>
<img src="/application-integration/images/configure-edge.png" alt="Configure edge in the canvas"
      data-modal-dialog-id="fork_ui" class="screenshot">

<devsite-lightbox id="fork_ui_new_canvas">
  <img src="/application-integration/images/configure-edge.png" alt="Configure edge in the canvas">
</devsite-lightbox>

<!--
<p>
The <strong>Join</strong> icon is available on the top side of the task's boundary.
  Click the <strong>Join</strong> icon to view or edit the join's properties.
</p>
-->



<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>

{% endblock %}
