{% extends "application-integration/_base.html" %}
{% block page_title %}Import and download templates{% endblock %}
{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}templates{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>You can download your project templates as a JSON file and save it in your local system. As a result, your entire template is available in a file, which you can import in another integration project without any modifications. <a href="/application-integration/docs/import-download-templates#import-templates">Importing a project template</a> creates a new template with the same configuration as the downloaded template file.</p>

<h2>Before you begin</h2>
<ol>
  <li>{% setvar action %}import and download templates{% endsetvar %}
    {% setvar resource %}the project{% endsetvar %}
    {% setvar role_list %}
    * All: Application Integration Editor (`roles/integrations.integrationEditor`)
    {% endsetvar %}
    {% include "_shared/_required_roles.html" %}</li>
  </ol>
<h2>Download templates</h2>
<p>To download a template, do the following:</p>
<ol>
  <li>In the {{console_name}}, go to the <b>{{integration}}</b> page.
    <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to {{integration}}</a></p>
    </li>
    <li>In the navigation menu, click <b>Templates</b>.
    <p>The <b>Templates</b> page appears listing all the templates (global, shared, and project) available in your Google Cloud project.</p>
  </li>
    <li>
      To download a global template, click the template that you want to download from the <b>Global templates</b> tab.
      <p>To download a shared template, click the template that you want to download from the <b>Shared templates</b> tab.</p>
      <p>To download a project template, click the template that you want to download from the <b>Project templates</b> tab.</p>
    </li>
    </li>
    <li>Click the template that you want to download from the respective tab selected.</li>
    <li>In the template details page, click <span class="google-symbols">download</span> <b>Download template</b>.
      <p>The <var>TEMPLATE_NAME</var>.json file is automatically saved in your web browser's default download folder.</p>
    </li>
</ol>

<h2 id="import-templates">Import templates</h2>
<p>To import a template, do the following:</p>
<ol>
  <li>In the {{console_name}}, go to the <b>Templates</b> page.
    <p><a class="button button-primary" href="{{console_url}}integrations/templates" target="console">Go to Templates</a></p>
    </li>
    <li>Click <b>Import to project templates</b>, and select the template JSON file that you want to import from your local system.
    <p>The <b>Upload template - Preview</b> page appears.</p>
    <p>
      <img src="{{baseimagepath}}/images/import-template.png" alt="Import template pane"
            data-modal-dialog-id="dialog" class="screenshot" >
            <devsite-lightbox id="dialog">
            <img src="{{baseimagepath}}/images/import-template.png" alt="Import template pane">
            </devsite-lightbox>
    </p></li>
    <li>Review the rendered template details, and click <b>Upload</b>.
      <p>The template is imported to your project and is available in the <b>Project templates</b> tab.</p>
    </li>
    
</ol>

<h2>What's next</h2>
<ul>
  <li>Learn how to use templates to create an integration, see <a href="/application-integration/docs/create-integration-from-templates">Create integrations from templates</a>.</li>
 <li>Learn how to create templates, see <a href="/application-integration/docs/create-templates">create templates</a>.</li>
  <li>Learn how to share templates, see <a href="/application-integration/docs/share-templates">share templates</a>.</li>
  <li>Learn how to manage templates, see <a href="/application-integration/docs/manage-templates">manage templates</a>.</li>
</ul>
{% endblock %}