{% extends "application-integration/_base.html" %}
{% block page_title %}Explore the {{ apip_designer }} layout{% endblock %}
{% block body %}


<p>The <i>{{ apip_designer }}</i> is a drag-and-drop interface that lets you design and develop your entire integration flow
  with little or no code. You can create, modify, and run all your integrations in the <i>{{ apip_designer }}</i>. Overall, you can think of the <i>{{ apip_designer }}</i> as a unified workspace for managing your integration.
</p>
<p>
  {{integration}} provides out-of-the-box
  <a href="{{basehrefpath}}/trigger-overview.html">triggers</a> and
  <a href="{{basehrefpath}}/task-overview.html">tasks</a> to further assist you in rapid
  development of your integration. Every task or trigger element is connected using an
  <a href="{{basehrefpath}}/edge-overview.html">edge</a> along with its respective
  <a href="{{basehrefpath}}/forks-joins.html">fork and join</a>.
  Edges also indicate the flow of control from one task/trigger to another. For information on specifying conditions for edges and tasks, see
  <a href="{{basehrefpath}}/edge-overview#edge_condition">Edge conditions</a>.
</p>
<h2>Open integration editor</h2>
<p>
  To open your integration in the <i>{{ apip_designer }}</i>, do the following:
  <ol>
    {{apip_common_steps}}
     <li>Select an existing integration or create a new integration by clicking <b>Create integration</b>.<p>
       If you are creating a new integration:
       <ol>
         <li>Enter a name and description in the <b>Create Integration</b> dialog.</li>
                <li>Select a region for the integration.        <aside class="note"><b>Note:</b> The <b>Regions</b> dropdown only lists the regions provisioned in your Google Cloud project. To provision a new region, Click <b>Enable Region</b>. See <a href="/application-integration/docs/enable-new-region">Enable new region</a> for more information. </aside>      </li>
         <li>Click <b>Create</b>. The newly created integration opens in the <i>integration editor</i>.</li>
       </ol>
       <p>
  
  </p>
       </li>
  </ol>

<h2>Explore integration editor layout</h2>

<p>The following figure shows a sample layout of the <i>{{ apip_designer }}</i>.</p>

<p><img alt="Integrations designer layout" src="{{baseimagepath}}/images/integrations_editor_layout.png"
         data-modal-dialog-id="ip_ui" class="screenshot">

<devsite-lightbox id="ip_ui">
  <img src="{{baseimagepath}}/images/integrations_editor_layout.png" alt="Integrations editor layout">
</devsite-lightbox>
</p>

<p>The following table describes the different sections that comprise the integration editor:</p>

<table>
  <tr>
    <th width="30%">Section </th>
    <th width="70%">Description </th>
  </tr>
  <tr>
    <td><p>Toolbar</p> 
<button class="button button-primary"
data-modal-dialog-id="toolbar">Show layout</button>
<devsite-lightbox id="toolbar">
<img src="{{baseimagepath}}/images/toolbar.png" alt="Integrations designer toolbar">
</devsite-lightbox>
</p></td>
    <td>
      <p>The designer toolbar displays the following information about your integration: 
      <ul>
        <li>Name of the integration.</li>
        <li>Last edit timestamp.</li>
        <li>Current <a href="/application-integration/docs/integration-versions">version</a> of the integration.</li>
        <li>
          <a href="/application-integration/docs/local-logging">Local logging</a> status. 
        </li>
      </ul>
    </p>
      <p> To view a summary of the whole integration in one place, click <span class="material-icons">
        info
        </span>.</p>
      <p>To perform actions such as <a href="/application-integration/docs/delete-integrations">deleting</a> an integration, <a href="/application-integration/docs/clone-integrations">cloning</a> an integration, or <a href="/application-integration/docs/upload-download-integrations">downloading and uploading</a> an integration, and <a href="/application-integration/docs/view-openapi-spec"> viewing the OpenAPI Specification</a> of an integration, click the <span class="material-icons">
        more_vert
        </span> (Actions menu) in the toolbar.
      </p>
    </td>
  </tr>
  <tr id="nav">
    <td><p>Navigation bar </p>
      <button class="button button-primary"
data-modal-dialog-id="navbar">Show layout</button>

  <devsite-lightbox id="navbar">
  <img src="{{baseimagepath}}/images/navigationbar.png" alt="Integrations designer nav bar">
  </devsite-lightbox>
  </p>
    </td>
    <td><p>The designer navigation bar lets you perform the following actions:
      <ul>
        <li>Add <a href="/application-integration/docs/triggers">triggers</a> and <a href="/application-integration/docs/tasks">tasks</a> to your integration.</li>
        <li>Undo and redo.</li>
        <li>Clean up and auto-orient the integration flow in the designer canvas.</li>
        <li>Canvas <span class="material-icons">
          zoom_in
          </span> zoom-in and <span class="material-icons">
            zoom_out
            </span> zoom-out.</li>
        <li>Create integration flow with {{gemini_name}} <span class="google-symbols">pen_spark</span></li>
        <li><span class="material-icons">
            vertical_align_top
            </span> <a href="/application-integration/docs/test-publish-integrations">Publish</a> and <span class="material-icons">
            play_circle
            </span> <a href="/application-integration/docs/test-publish-integrations">test</a> integration.</li>
        <li>Open <a href="/integration-connectors/docs">Integration Connectors</a> to view the available connections in the region.</li>
        <li>View integration <a href="/application-integration/docs/integration-execution-logs">execution logs</a>.</li>
        <li>View <a href="/application-integration/docs/monitoring-dashboard">monitoring dashboard</a>. </li>
      </ul>
    </p> 
    </td>
  </tr>
  <tr>
    <td><p>Variables pane</p>
      <button class="button button-primary"
      data-modal-dialog-id="var">Show layout</button>

  <devsite-lightbox id="var">
  <img src="{{baseimagepath}}/images/varpane.png" alt="Integrations designer var">
  </devsite-lightbox>
  </p>
    </td>
    <td>
      <p>The <b>Variables</b> panes lists all the integration variables and task variables available in the integration. It also displays a count of the total variable references within the integration. </p>
      <p> To perform actions such as deleting or duplicating a variable, click <span class="material-icons">
      more_vert
      </span> (Actions menu) next to the respective variable. </p>
    <p>For more information about variable, see <a href="/application-integration/docs/variables">Variables</a>.</p></td>
  </tr>
  <tr>
    <td><p>Designer canvas</p>
      <button class="button button-primary"
      data-modal-dialog-id="canvas">Show layout</button>

  <devsite-lightbox id="canvas">
  <img src="{{baseimagepath}}/images/canvas.png" alt="Integrations designer canvas">
  </devsite-lightbox>
  </p>
    </td>
    <td>The designer canvas is the backdrop on which you can design and develop your integration flow. </td>
  </tr>
  <tr>
    <td><p>Configuration pane </p>
      <button class="button button-primary"
      data-modal-dialog-id="config">Show layout</button>

  <devsite-lightbox id="config">
  <img src="{{baseimagepath}}/images/configpane.png" alt="Integrations designer config">
  </devsite-lightbox>
  </p>
    </td>
    <td>
      <p>The configuration pane displays the configuration settings for each of the triggers and tasks that are added in your designer canvas.</p>
      <p>For information about how to configure a trigger or task, see <a href="/application-integration/docs/all-triggers-tasks">Triggers and tasks</a>. </td>
  </tr>
</table>

<h2>What's next</h2>

<ul>
  <li>Start a <a href="/application-integration/docs/quickstarts">quickstart</a>.</li>
  <li>Learn about the <a href="/application-integration/docs/canvas-view">canvas view</a>.</li>
  <li>Get a deeper understanding of the fundamental {{integration}} <a href="{{basehrefpath}}/concepts">concepts</a>.</li>
  <li>Learn how to add and configure the available <a href="/application-integration/docs/all-triggers-tasks">triggers and tasks</a>. </li>
</ul>


{% endblock %}