{% extends "application-integration/_base.html" %}
{% block page_title %}Manage test cases{% endblock %}
{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}Test cases{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>This document describes how to manage test cases for your integrations. You can manage your test cases in the following ways:
  <ul>
    <li><a href="#list">List test cases</a></li>
    <li><a href="#edit">Edit a test case</a></li>
    <li><a href="#copy">Copy a test case</a></li>
    <li><a href="#delete">Delete a test case</a></li>
  </ul>

  For information about test cases, supported test configurations, and its limitations, see <a href="/application-integration/docs/test-cases">Introduction to test cases</a>.</p>

<h2 id="before-you-begin">Before you begin</h2>
<ul>
  <li>
    {% setvar action %}manage test cases{% endsetvar %}
    {% setvar resource %}your project{% endsetvar %}
    {% setvar role_list %}
    * All: Application Integration Editor (<code>roles/integrations.integrationEditor</code>)
    {% endsetvar %}
    {% setvar permission_list %}
    * List test cases: integrations.googleapis.com/testCases.get
    * Copy a test case: integrations.googleapis.com/testCases.get | integrations.googleapis.com/testCases.create
    * Delete a test case: integrations.googleapis.com/testCases.delete
    {% endsetvar %}
    {% include "_shared/_required_roles.html" %}
  </li>
  <li>Ensure that your integration is in the <code>DRAFT</code> state. If your integration is in the <code>PUBLISHED</code> state, click <b>Enable Editing</b>. A new version in the <code>DRAFT</code> state is created in the integration for you.
    The following figure shows the edit lock in the integration editor.</p>
    <p><img alt="Integrations edit lock" src="{{baseimagepath}}/images/integration-edit-lock.png"
    data-modal-dialog-id="ip_ui" class="screenshot">
    <devsite-lightbox id="ip_ui">
    <img src="{{baseimagepath}}/images/integration-edit-lock.png" alt="Integrations edit lock">
    </devsite-lightbox>
  </p>
  </li>
  <li>Ensure that you have a test case in the integration. For information about how to create a test case, see <a href="/application-integration/docs/create-test-cases">Create Test Cases</a>.</li>
</ul>

<h2>Test Case edit locks</h2>
<p>In {{integration}}, test cases are design-time entities that are often developed in collaboration with multiple authors.
  Although a test case can only be actively edited by one author at a time,
  teams can collaborate on a test case.
</p>

<p>If you open the test case that is being edited by another user, the following message appears in the integration editor because only one user can update the test case at a given time:
    <pre>test-user@gmail.com is currently editing the test case. Edit features are temporarily disabled.</pre>
  <aside><b>Note:</b> The test case is locked for editing by others for 15 minutes from the last update. Locks are released after 15 minutes from the last update.</aside>
  <p>To edit the test case, click <b>Take Over</b>. The following figure shows the edit lock.</p>
    <p><img alt="Test case edit lock" src="{{baseimagepath}}/images/test-case-take-over-edit-lock.png"
      data-modal-dialog-id="ip_ui" class="screenshot">
<devsite-lightbox id="ip_ui">
<img src="{{baseimagepath}}/images/test-case-take-over-edit-lock.png" alt="Test case edit lock">
</devsite-lightbox>
</p>

<h2 id="list">List test cases</h2>
<p>To list test cases, select one of the following options:</p>
<devsite-selector>
<section>
<h3>Console</h3>
<ol>
  <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
  <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
  </li>
  <li>In the navigation menu, click <b>Integrations</b>.
    <p>The <b>Integrations</b> page appears listing all the integrations available in the {{gcp_name}} project.</p></li>
  <li>Select an existing integration that contains test cases.
    <p>This opens the integration in the <i>integration editor</i>.</p></li>
  <li>Click <b>Test Case</b> and then click <b>Open test cases</b>. The <b>Test Cases</b> pane appears with a list of test cases for the current integration version.</li>
  </ol>
</section>
<section>
  <h3>API</h3>
    <p>Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions.testCases/list"><code>projects.locations.integrations.versions.testCases.list</code> method</a> and provide any relevant parameters. For example:</p>

<pre class="devsite-click-to-copy lang-sh">
GET https://integrations.googleapis.com/v1/{parent=projects/<var>PROJECT_ID</var>/locations/<var>LOCATION</var>/integrations/<var>INTEGRATION_NAME</var>/versions/<var>INTEGRATION_VERSION</var>}/testCases
      </pre>
                   <p>Replace the following:</p>
                    <ul>
                      <li><code><var>PROJECT_ID</var></code>: the ID of the {{gcp_name}} project</li>
                      <li><code><var>LOCATION</var></code>: the region where the integration is located</li>
                      <li><code><var>INTEGRATION_NAME</var></code>: the name of the integration</li>
                      <li><code><var>INTEGRATION_VERSION</var></code>: the version of the integration</li>
                    </ul>
</section>
</devsite-selector>

<h2 id="edit">Edit a test case</h2>
<p>To edit a test case, follow these steps:</p>
<ol>
  <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
    <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
    </li>
    <li>In the navigation menu, click <b>Integrations</b>.
      <p>The <b>Integrations</b> page appears listing all the integrations available in the {{gcp_name}} project.</p></li>
    <li>Select an existing integration that contains test cases.
      <p>This opens the integration in the <i>integration editor</i>.</p></li>
    <li>Click <b>Test Case</b> and then click <b>Open test cases</b>. The <b>Test Cases</b> pane appears with a list of test cases for the current integration version.</li>
    <li>Select the test case that you want to edit. <p>In the Integration editor page, the designer canvas displays <b>Test case mode is active</b>.
      <p>If a task in the integration is deleted, the test case becomes invalid as shown in the following image:
     </p>
      <p><img alt="Integrations edit lock" src="{{baseimagepath}}/images/test-case-edit.png"
      data-modal-dialog-id="ip_ui" class="screenshot">
      <devsite-lightbox id="ip_ui">
      <img src="{{baseimagepath}}/images/test-case-edit.png" alt="Integrations edit lock">
      </devsite-lightbox>
    </p>
  </li>
  <li>If a task in the integration is deleted, click <b><span class="material-icons">delete</span> Delete </b> to update the test case.</li>
    <li>Update the <a href="/application-integration/docs/configure-test-cases">configuration details of the test case</a> and <a href="/application-integration/docs/run-test-cases">run the test case</a>.</li>
  </ol>

<h2 id="copy">Copy a test case</h2>
<p>To create a copy a test case in the same integration, select one of the following options:</p>
<devsite-selector>
<section>
<h3>Console</h3>
<ol>
  <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
  <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
  </li>
  <li>In the navigation menu, click <b>Integrations</b>.
    <p>The <b>Integrations</b> page appears listing all the integrations available in the {{gcp_name}} project.</p></li>
  <li>Select an existing integration that contains test cases.
    <p>This opens the integration in the <i>integration editor</i>.</p></li>
  <li>Click <b>Test Case</b> and then click <b>Open test cases</b>. The <b>Test Cases</b> pane appears with a list of test cases for the current integration version.</li>
  <li>Select the test case that you want to copy. <p>In the Integration editor page, the designer canvas displays <b>Test case mode is active</b>.</p></li>
  <li>Click <b><span class="material-icons">content_copy</span> Duplicate</b>. The <b>Duplicate the test case</b> page appears. Then, do the following:
  <ol>
    <li>In the <b>Test name</b> field, enter the name of the test case.</li>
    <li>Optionally, in the <b>Description</b> field, enter a description of the test case.</li>
    <li>Click <b>Create</b>. The test case is created in the same integration.</li>
  </ol>
  </li>
</ol>
</section>
<section>
  <h3>API</h3>
    <p>Follow these steps:</p>
      <ul>
        <li>Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions.testCases/get"><code>projects.locations.integrations.versions.testCases.get</code> method</a> and provide any relevant parameters. For example:</p>

<pre class="devsite-click-to-copy lang-sh">
GET https://integrations.googleapis.com/v1/{parent=projects/<var>PROJECT_ID</var>/locations/<var>LOCATION</var>/integrations/<var>INTEGRATION_NAME</var>/versions/<var>INTEGRATION_VERSION</var>}/testCases/<var>TEST_CASE_ID</var>
</pre>
      
             <p>Replace the following:</p>
              <ul>
                <li><code><var>PROJECT_ID</var></code>: the ID of the {{gcp_name}} project</li>
                <li><code><var>LOCATION</var></code>: the region where the integration is located</li>
                <li><code><var>INTEGRATION_NAME</var></code>: the name of the integration</li>
                <li><code><var>INTEGRATION_VERSION</var></code>: the version of the integration</li>
                <li><code><var>TEST_CASE_ID</var></code>: the ID of the test case</li>
              </ul></li>
        <p>In the output response, copy the text proto of the test case.</p>
        <li>Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions.testCases/create"><code>projects.locations.integrations.versions.testCases.create</code> method</a> and provide the text proto that you copied in the preceding step.
    <p>For example:</p>

<pre class="devsite-click-to-copy lang-sh">
POST https://integrations.googleapis.com/v1/{parent=projects/<var>PROJECT_ID</var>/locations/<var>LOCATION</var>/integrations/<var>INTEGRATION_NAME</var>/versions/<var>INTEGRATION_VERSION</var>}/testCases
</pre>
</li>
</ul>
</section>
</devsite-selector>

    <h2 id="delete">Delete a test case</h2>
    <p>To delete a test case, select one of the following options:</p>
    <devsite-selector>
      <section>
    <h3>Console</h3>
    <ol>
      <li>In the {{console_name}}, go to the <b>Application Integration</b> page.
        <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to Application Integration</a></p>
        </li>
        <li>In the navigation menu, click <b>Integrations</b>.
          <p>The <b>Integrations</b> page appears listing all the integrations available in the {{gcp_name}} project.</p></li>
        <li>Select an existing integration for which you want to create a test.
          <p>This opens the integration in the <i>integration editor</i>.</p></li>
        <li>Click <b>Test Case</b> and then click
          <b>Open test cases</b>. The <b>Test Cases</b> pane appears with a list of test cases for the current integration version.</li>
          <li>Select the test case that you want to delete. <p>In the Integration editor page, the designer canvas displays <b>Test case mode is active</b>.</p></li>
          <li>Click <b><span class="material-icons">delete</span>Delete</b>.
        </ol>
      </section>
      <section>
        <h3>API</h3>
        <p>Call the <a href="/application-integration/docs/reference/rest/v1/projects.locations.integrations.versions.testCases/delete"><code>projects.locations.integrations.versions.testCases.delete</code> method</a>. For example:</p>

<pre class="devsite-click-to-copy lang-sh">
DELETE https://integrations.googleapis.com/v1/projects/<var>PROJECT_ID</var>/locations/<var>LOCATION</var>/integrations/<var>INTEGRATION_NAME</var>/versions/<var>INTEGRATION_VERSION</var>/testCases/<var>TEST_CASE_ID</var>
</pre>
        
        <p>Replace the following:</p>
        <ul>
          <li><code><var>PROJECT_ID</var></code>: the ID of the {{gcp_name}} project</li>
          <li><code><var>LOCATION</var></code>: the region where the integration is located</li>
          <li><code><var>INTEGRATION_NAME</var></code>: the name of the integration</li>
          <li><code><var>INTEGRATION_VERSION</var></code>: the version of the integration</li>
          <li><code><var>TEST_CASE_ID</var></code>: the ID of the test case that you want delete</li>
        </ul>
      </section>
      </devsite-selector>
  <h2>What's next</h2>
  <ul>
    <li>Learn about <a href="/application-integration/docs/test-cases">test cases</a>.</li>
    <li><p>Learn how to do the following:</p>
      <ul>
        <li><a href="/application-integration/docs/create-test-cases">Create test cases</a>.</li>
        <li><a href="/application-integration/docs/configure-test-cases">Configure test cases</a>.</li>
        <li><a href="/application-integration/docs/run-test-cases">Run a test case</a> and <a href="/application-integration/docs/integration-execution-logs#view-integration-execution-logs">view test case execution logs</a>.</li>
        <li><a href="/application-integration/docs/upload-download-test-cases">Upload and download test cases</a>.</li>
      </ul>

      {% endblock %}