{% extends "application-integration/_base.html" %}

{% block page_title %}Set up {{integration}} {% endblock %}
{% block body %}

<p>
  This page describes the different approaches and steps required to successfully set up or provision {{integration}} in your {{gcp_name}} project.
</p>
  <h2 id="prereq">Prepare and plan</h2>
  <p>
    Before you set up {{integration}}, perform the following steps:
  </p>

{% setvar task_type %}console{% endsetvar %}

<ol>
{% include "cloud/_shared/_create_new_project.html" %}
{% include "cloud/_shared/_enable_billing.html" %}


<aside class="tip">
  <b>Tip:</b>
  You can use the <a href="/policy-intelligence/docs/troubleshoot-access">Policy Troubleshooter</a>
  if you encounter any access issues while assigning the IAM roles and permissions
  in your Google Cloud project.
</aside>
</ol>

<h2>Required roles</h2>
{% setvar action %}set up Application Integration{% endsetvar %}
{% setvar resource %}your project{% endsetvar %}
{% setvar role_list %}
* All:  Google Cloud Project Editor (<code>roles/editor</code>) | Cloud KMS Admin (<code>roles/cloudkms.admin</code>) | Application Integration Admin (<code>roles/integrations.integrationAdmin</code>) | Connector Admin (<code>roles/connectors.admin</code>)
{% endsetvar %}
{% include "_shared/_required_roles.html" %}

<h2>Ways to set up {{integration}}</h2>
<p>You can setup {{integration}} in your Google Cloud project using the following ways:</p>
<ul>
  <li><b>Quick setup</b>   
  <p>The <b>Quick setup</b> is a single-click automated process that provisions {{integration}} without you having to worry about any setup configurations. See <a href="#quick">Start quick setup</a>.</p></li>

  <li><b>Advanced setup</b> 
  <p>The <b>Advanced setup</b> is a manual process where you can choose the encryption method that you want to use for setting up {{integration}} in your Google Cloud project. See <a href="#advance">Start advanced setup</a>.</p></li>
</ul>


<h2 id="quick">Start Quick setup</h2>
<p>The <b>Quick setup</b> is a single-click operation that automatically provisions {{integration}} with the default configurations needed to get you started with the product. The default configurations include enabling APIs (<a href="{% dynamic print site_values.console_url %}apis/library/integrations.googleapis.com">{{integration}} API</a>, <a href="{% dynamic print site_values.console_url %}apis/library/secretmanager.googleapis.com">Secret manager API</a>, and <a href="{% dynamic print site_values.console_url %}apis/library/connectors.googleapis.com">Connectors API</a>), creating a <a href="/application-integration/docs/access-control-iam#sa">default service account</a>, and using <a href="/application-integration/docs/encryption">{{default_key_plural}}</a> as the encryption method for the selected region.</p>

<p>
  To start the <b>Quick setup</b>, do the following:
</p>
<ol>
  <li>Open the {{console_name}} and log in with your Google Cloud account.</li>
  <li>Go to the <b>{{integration}}</b> page.
    <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to {{integration}}</a></p>
  </li>
  <li>Select the Google Cloud project in which you want to set up {{integration}}.</li>
  <li>In the <b>Overview</b> page, select the region where you want to deploy {{integration}} and click <b>Quick setup</b>.
    <p>
      <img src="/application-integration/images/quick-setup.png" alt="Quick setup image"
          data-modal-dialog-id="quick" class="screenshot">
    <devsite-lightbox id="quick">
      <img src="/application-integration/images/quick-setup.png" alt="Quick setup image">
    </devsite-lightbox>
    </p>
  </li>
<p>A progress bar indicating the setup progress is displayed. On successful completion, you are redirected to the <b>Integrations list</b> page.</p>
</ol>

<h2 id="advance">Start Advanced setup</h2>

<p>
  Use the <b>Advanced setup</b> to manually select the encryption method that you'd want to use for provisioning {{integration}} in your project. 
</p>
<p>
  To start the <b>Advanced setup</b>, do the following:
</p>
<ol>
  <li>Open the {{console_name}} and log in with your Google Cloud account.</li>
  <li>Go to the <b>{{integration}}</b> page.
    <p><a class="button button-primary" href="{{console_url}}integrations" target="console">Go to {{integration}}</a></p>
  </li>
  <li>Select the Google Cloud project in which you want to set up {{integration}}.
  <p>
    The <b>Overview</b> page appears.
    </p></li>
  <li>Click <b>Advanced setup</b>.
    <p>
      <img src="/application-integration/images/advanced-setup.png" alt="Advanced setup image"
          data-modal-dialog-id="advance" class="screenshot">
    <devsite-lightbox id="advance">
      <img src="/application-integration/images/advanced-setup.png" alt="Advanced setup image">
    </devsite-lightbox>
    </p>
    <p>The <b>Set up {{integration}}</b> page appears.</p>
    <p>
      To successfully set up {{product_name}}, complete the following steps in the <b>Set up {{integration}}</b> page:
      </p>
      <ol>
        <li><a href="#enable-api">Enable the required APIs</a>.</li>
        <li><a href="#region-kms-key">Select region and encryption method</a>.</li>
      </ol>
</li>
</ol>

<h3 id="enable-api" class="numbered">Enable APIs</h3>
  <p>
  The <b>Enable APIs</b> section displays the set of APIs that
    will be enabled for {{integration}} as part of the setup process. You can go to
    the next step only when all the APIs are enabled.
  </p>
  <p>
    You can seamlessly enable all the required APIs with a single click:
  </p>

  <ol>
  <li>Click <b>Enable APIs</b> and allow a few minutes for the required APIs to
    be enabled automatically.
    <p>
      The following APIs are enabled as part of this step:
    </p>
  <table>
    <tr>
     <th>
       API Name
     </th>
     <th>Location
     </th>
     <th>Description
     </th>
    </tr>

    <tr>
     <td><a href="{% dynamic print site_values.console_url %}apis/library/integrations.googleapis.com">{{integration}} API</a>
     </td>
     <td>integrations.googleapis.com
     </td>
     <td>Enables users to create and manage integrations to Google Cloud services and other business applications using the {{application_integration_name}} interface.
     </td>
    </tr>

    <tr>
     <td><a href="{% dynamic print site_values.console_url %}apis/library/secretmanager.googleapis.com">Secret manager API</a>
     </td>
     <td>secretmanager.googleapis.com
     </td>
     <td>Stores sensitive data such as API keys, passwords, and certificates. Provides convenience while improving security.
     </td>
    </tr>

    <tr>
     <td><a href="{% dynamic print site_values.console_url %}apis/library/connectors.googleapis.com">Connectors API</a>
     </td>
     <td>connectors.googleapis.com
     </td>
     <td>Enables users to create and manage connections to Google Cloud services and other business applications using the Integration Connectors interface.
     </td>
    </tr>

    <tr>
      <td><a href="{% dynamic print site_values.console_url %}apis/library/cloudkms.googleapis.com">Cloud KMS API</a>
      </td>
      <td>cloudkms.googleapis.com
      </td>
      <td><p>Enables the use of Customer-managed encryption keys (CMEK) for data encryption. This allows integration data to be encrypted with your own keys instead of
        {{google_managed_encryption_key_plural}}.</p>
        For more information about CMEK, see <a href="/application-integration/docs/cmek">Customer-managed encryption keys</a>.
      </td>
     </tr>
  </table>
    </li>

  <li>Click <b>Next </b>once the <b>Set up {{integration}}</b> page indicates that all the APIs are enabled successfully, as shown in the following figure.

    </li></ol>

  <img src="/application-integration/images/provision-api.png" alt="Enable API step image"
        data-modal-dialog-id="step2" class="screenshot">

  <devsite-lightbox id="step2">
    <img src="/application-integration/images/provision-api.png" alt="Enable API step image">
  </devsite-lightbox>

  <aside class="special">
    <b>Tip:</b> You can see all the APIs enabled for your project in the <a href="{% dynamic print site_values.console_url %}apis/dashboard">Google Cloud Platform APIs & Services Dashboard</a>. The list includes all the APIs enabled for your project, including the ones you just enabled for {{application_integration_name}}.
  </aside>

  <h3 id="region-kms-key" class="numbered">Select region and encryption method</h3>
  <p>
    In this step, you'll select the region to deploy {{integration}} and choose the <a href="/application-integration/docs/encryption"> encryption method</a> for the selected region.
  </p>
  <aside class="key-point"><b>Key Point:</b>
    <p>
  The {{integration}} default service account&mdash;<code>service-<var>PROJECT_NUMBER</var>@gcp-sa-integrations.{% dynamic print variables.domains.sa_iam_agent_domain %}</code>&mdash;is created during this step and is automatically added to your Google Cloud project with the basic IAM roles and permissions.
    </p>
    <p>
    For more information about the default service account, see <a href="/application-integration/docs/access-control-iam#sa">Service accounts</a>.
    </p></aside>

  <p>Perform the following steps under the <b>Select region</b> section:</p>

  <ol>
    <li>
      <b>Region:</b> Select the regional location where you want to deploy {{integration}} resources and store data for your integrations.
      Data stored in a region is available redundantly across all the zones within that region.
      <p>For information about the supported {{integration}} regions, see <a href="/application-integration/docs/locations">{{integration}} locations</a>.
      </p>
    </li>
    <li>
    <b>Advanced settings:</b> Optionally, expand and select the <a href="/application-integration/docs/encryption">encryption method</a> that you want to use in the selected region. You can choose one of the following methods:
      <ul>
        <li><b>{{google_managed_encryption_key_ui}}:</b> This is the default encryption method. Use this method if you want Google to manage the encryption keys that protect your data in the selected region.
        </li>
        <li><b>Customer-managed encryption key (CMEK):</b> Use this method if <b>you</b> want to control and manage the encryption keys that protect your data in the selected region.  
          <aside class="caution"><b>Caution: </b>Enabling CMEK encryption for an {{integration}} region cannot be undone. This also means that you can't change/switch the encryption method for a region once CMEK is enabled.
          </aside>
          <ol>
          <li>Click <b>Select a customer-managed key</b> and choose an existing CMEK key available in the selected region. You can also <a href="/application-integration/docs/cmek#new-key">create a new key</a> or use the <a href="/kms/docs/getting-resource-ids">Key resource ID</a> of your existing key.
          </li>
          <li>Click <b>Verify</b> to check if your default service account has cryptokey access to the selected CMEK key.</li>
          <li>If the verification for the selected CMEK key fails, click <b>Grant</b> to assign the <a href="/iam/docs/roles-permissions/cloudkms">CryptoKey Encrypter/Decrypter</a> IAM role to the default service account.
          <aside class="note">
            <b>Tip:</b> Granting cryptokey access is an optional step, which means that you can directly click <b>Done</b> to complete the {{integration}} setup process. However, if you did not grant cryptokey access, authentication profiles for {{integration}} will not be configured, and you'll have to manually grant this access when creating a new authentication profile.
          </aside>
          </li>
        </ol>
        For more information about CMEK, see <a href="/application-integration/docs/cmek">Customer-managed encryption keys</a>.
        </li>
      </ul>
    </li>
    <li>Click <b>Done</b> to complete the {{integration}} setup.</li>
  </ol>

  <p>
    <img src="/application-integration/images/provision-region.png" alt="Select Region and Encryption step image"
        data-modal-dialog-id="step3" class="screenshot">

  <devsite-lightbox id="step3">
    <img src="/application-integration/images/provision-region.png" alt="Select Region and Encryption step image">
  </devsite-lightbox>
  </p>

  <h2>What's next</h2>

  <ul>
    <li>Try the pre-configured <a href="/application-integration/docs/try-sample-integration-ecommerce">sample integration</a>.</li>
    <li>Start a <a href="/application-integration/docs/quickstarts">quickstart</a>.</li>
    <li>Get a deeper understanding of the fundamental <a href="/application-integration/docs/concepts">{{integration}} concepts</a>.</li>
    <li>See <a href="/application-integration/docs/quotas">{{integration}} quotas and limits</a>. </li>
  </ul>

{% endblock %}
