{% extends "application-integration/_base.html" %}
{% block page_title %}Tasks{% endblock %}
{% block body %}

<p>This document describes what tasks are, the supported tasks in {{integration}}, and how to use them in your integrations.</p>

<h2>Overview</h2>
<p>
A task is a well-defined unit of work in an integration. In general, tasks can take an input,
complete a unit of work using the input, and produce an output. You can use different types of tasks in your integration to solve a particular business problem. A task is triggered by a <a href="/application-integration/docs/all-triggers-tasks#triggers">trigger</a> or another task.</p> 
<p>For the list of all the available out-of-the-box tasks, see <a href="/application-integration/docs/all-triggers-tasks">All triggers and tasks</a>. </p>

<h2>Tasks</h2>
<p>You can add tasks to your integration from the <b>Tasks</b> list. You can search, browse, and select the task that you want to add. The following image shows the list of options that appear when you click <b>Tasks</b> in the integration editor.</p>
<img src="{{baseimagepath}}/images/apip_tasks_list.png" alt="image showing tasks list">

<h3>Connectors</h3>
<p>Connectors are a type of task that allow you to connect to an external system or service. You can
use connectors to perform various tasks such as reading data from a database, sending an email, or
making a REST call. You can add a recently created connection or any supported connectors to your integration. For more information about <b>Connectors task</b>, see <a href="/application-integration/docs/connectors-task">Connectors task</a>. The following image shows the list of recently created connections and supported connectors that appear in the <b>Tasks</b> list.</p>
<img src="{{baseimagepath}}/images/apip_recently_created_connections.png" alt="image showing connectors task">

<p>You can search for connectors, connections, and tasks by entering the name in the <b>Search</b> field. The list shows the matching connectors, connections, and tasks. You can select the element that you want to add to your integration.</p>
<img src="{{baseimagepath}}/images/apip_search_connector_task.png" alt="image showing connectors task">

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn about <a href="/application-integration/docs/all-triggers-tasks">all tasks and triggers</a>.</li>
  <li>Learn how to <a href="/application-integration/docs/test-publish-integrations">test and publish an integration<a>.</li>
    <li>Learn about <a href="/application-integration/docs/error-handling-strategy">error handling</a>.</li>
  <li>Learn about <a href="/application-integration/docs/introduction-logs">integration execution logs</a>.</li>
</ul>

{% endblock %}
