{% extends "application-integration/_base.html" %}
{% block page_title %}Templates{% endblock %}
{% block body %}

{% dynamic setvar launch_stage %}preview{% dynamic endsetvar %}
{% dynamic setvar launch_type %}feature{% dynamic endsetvar %}
{% dynamic setvar feature_name %}templates{% dynamic endsetvar %}
{% include "cloud/_shared/_info_launch_stage_disclaimer.html" %}

<p>{{integration}} templates are pre-defined integration blueprints that you can use and build upon to create your own integration flows. You can use templates as a starting point to quickly create integrations and later modify them to fit your specific needs, rather than starting from scratch. 
</p>
<h2>Benefits of using templates</h2>
<p>Templates provide a range of benefits for businesses, including:
  <ul>
  <li><b>Faster development:</b> With pre-built templates and components, you can rapidly assemble integration flows. This accelerated development cycle enables businesses to respond swiftly to changing market demands and capitalize on new opportunities.</li>
  <li><b>Improved efficiency:</b> Templates optimize the efficiency of integration processes by helping in minimizing repetitive tasks and errors such as data transfer errors between systems. This increased efficiency allows businesses to focus resources on strategic initiatives and drive innovation.
  </li>
  <li><b>Cost savings:</b> By reducing the time and effort required to build integrations, businesses can significantly lower their integration costs. Templates eliminate the need for extensive custom development, saving both time and money. These cost savings can be redirected to other areas of the business, further enhancing growth and profitability.</li>
  <li><b>Robust integration:</b> Templates provide businesses with access to a library of pre-built and tested integration components. These components are validated to ensure reliability, performance, and security.</li>
</ul>
</p>

<h2>Types of templates</h2>
<p>{{integration}} templates are categorized based on their scope and ownership. The following table describes the different types of templates:</p>
<table class="g3doc-ext-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Ownership and access</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Global templates</b></td>
      <td>These templates are designed and maintained by Google. You can't modify or delete these templates.
        <p>To view the global templates available in your project, go to the <b>Templates</b> page and click the <b>Global Templates</b> tab.
          <p><a class="button button-primary" href="{{console_url}}integrations/templates" target="console">Go to Global Templates</a></p></p>
      </td>
      <td>Google. All {{google_cloud_name}} users (<code>allAuthenticatedUsers</code>) can use these templates.</td>
    </tr>
    <tr>
      <td><b>Shared templates</b></td>
      <td>Templates that are shared with you by other users, or the templates that you share with other users are categorized as shared templates. 
        <p>For information about sharing templates, see <a href="/application-integration/docs/share-templates">Shared templates</a>.</p>
      </td>
      <td>The owner of the template. You can only modify or delate a shared template if the owner grants you permission or if you are the owner of the template.</td>
    </tr>
    <tr>
      <td><b>Project templates</b></td>
      <td>These templates are project-level resources and are created and managed by the project owner. You can share these templates with other users. 
        <p>For information about creating a project template, see <a href="/application-integration/docs/create-templates">Create templates</a>.</p>
      </td>
      <td>The Google Cloud console project owner. Only the project owner can create, modify, and delete these templates. 
        <p>For information about creating and managing project templates, see <a href="/application-integration/docs/manage-templates">Manage templates</a></p>
      </td>
    </tr>
  </tbody>
</table>

<h2>Use templates</h2>
<p>To use a template, you can either create a new integration flow based on the template or import the template into an existing integration flow.</p>
<p>
  <ul>
    <li>To create a new integration based on a template, see <a href="/application-integration/docs/create-integration-from-templates">Create integrations from templates</a>.</li>
    <li>To import a template into an existing integration flow, see <a href="/application-integration/docs/import-download-templates">Import and download templates</a>.</li>
  </ul>
</p>

<h2>Pricing</h2>
<p>For information about pricing, see <a href="/application-integration/docs/pricing">Pricing</a>.</p>

<h2>Quotas and limits</h2>
<p>For information about quotas and limits, see <a href="/application-integration/docs/quotas">Quotas and limits</a>.</p>

<h2>What's next</h2>
<ul>
  <li>Learn how to use templates to create an integration, see <a href="/application-integration/docs/create-integration-from-templates">Create integrations from templates</a>.</li>
  <li>Learn how to import and download templates, see <a href="/application-integration/docs/import-download-templates">import and download templates</a>.</li>
  <li>Learn how to create templates, see <a href="/application-integration/docs/create-templates">create templates</a>.</li>
  <li>Learn how to share templates, see <a href="/application-integration/docs/share-templates">share templates</a>.</li>
  <li>Learn how to manage templates, see <a href="/application-integration/docs/manage-templates">manage templates</a>.</li>
</ul>
{% endblock %}
