{% extends "integration-connectors/_base_non_preview.html" %}
{% block page_title %}Jira Server (Data Center){% endblock %}

{% block body %}
{% block pagedescription %}

{% endblock %}
<p>The Jira Server (Data Center) connector lets you connect to Jira Software Data Center and perform insert, delete, update, and read operations.</p>

{% include "/integration-connectors/docs/connectors/jiraserverdc/_before_you_begin.html" %}
{% include "/integration-connectors/docs/connectors/jiraserverdc/_create_connection.html"  %}
{% include "/integration-connectors/docs/connectors/jiraserverdc/_additional-info.html"  %}


{{get_community_help}}

{% endblock %}
