
<devsite-expandable id="syslimits-exp">
  <h2 class="showalways">System limitations</h2>
  <p>The Workday connector can process 3 transaction per second,
    per <a href="/integration-connectors/docs/pricing#payg">node</a>,
     and <a href="/integration-connectors/docs/rate-limiting">throttles</a> any transactions
      beyond this limit. {{connectors_default_node_message}}</p>{{connector_node_scaling}}
  </devsite-expandable>
<h2>Use the Workday connection in an integration</h2>

  <p>After you create the connection, it becomes available in both
  {{apigee_integration_name}} and {{application_integration_name}}. You can use the connection
  in an integration through the Connectors task.</p>
  <ul>
  <li>To understand how to create and use the Connectors task in {{apigee_integration_name}}, see <a href="/apigee/docs/api-platform/integration/connectors-task#configure-the-connectors-task">Connectors task</a>.</li>
  <li>To understand how to create and use the Connectors task in {{application_integration_name}}, see <a href="/application-integration/docs/configure-connectors-task">Connectors task</a>.</li>
  </ul>
<devsite-expandable id="entityexamples-exp">
  <h2 id="entityexamples-exp" class="showalways">Entity operation examples</h2>
<p>This section shows how to perform some of the entity operations in this connector.</p>
<p>When you use a Workday connection, the entity name appears in the following format: "SCHEMA_NAME.ENTITY_NAME". For example, 
  in "Staffing.Workers_training", Staffing is the schema name and Workers_training is the table name.</p>
<p>Only list and get operations are supported for a view, while all CRUD operations are supported for a table, as defined by the Entity API.</p>

<h3>Example - List all records</h3>
<p>This example lists all the records in the <code>Scorecards</code> entity.</p>
<ol>
  <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
  <li>Select <code>Scorecards</code> from the <code>Entity</code> list.</li>
  <li>Select the <code>List</code> operation, and then click
  <b>Done</b>.</li>
  <li>Optionally, in <b>Task Input</b> section of the <b>Connectors</b> task, you can 
    filter your result set by specifying a <a href="/application-integration/docs/configure-connectors-task#filter">filter clause</a>. Specify
    the filter clause value always within the single quotes ('). For example, <code>Id='13b1724a91ce448bad2f1986321fc70f'</code>. You
  can also specify multiple filter conditions by using the logic operators. For example, <code>Id='13b1724a91ce448bad2f1986321fc70f' and Inactive=false</code>.</li>
 </ol>

   
<h3>Example - Get a record</h3>
<p>This example gets a record with the specified ID from the <code>Scorecards</code> entity.</p>
<ol>
  <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
  <li>Select <code>Scorecards</code> from the <code>Entity</code> list.</li>
  <li>Select the <code>Get</code> operation, and then click
  <b>Done</b>.</li>

  <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click <b>EntityId</b> and
    then enter <code>1|CN=admin,CN=Users,DC=test-ldap,DC=com</code> in the <b>Default Value</b> field.
   <p>Here, <code>1|CN=admin,CN=Users,DC=test-ldap,DC=com</code> is a primary key value in the <code>Scorecards</code> entity.</p>
 
  </ol>


<h3>Example - Create a record</h3>
<p>This example creates a record in the <code>PayrollInputs</code> entity.</p>
<ol>
  <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
  <li>Select <code>PayrollInputs</code> from the <code>Entity</code> list.</li>
  <li>Select the <code>Create</code> operation, and then click <b>Done</b>.</li>
  <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
  <code>connectorInputPayload</code> and then enter a value similar to the following in the
  <code>Default Value</code> field:
  <pre class="prettyprint lang-json">{
"Worker_Id": "21327",
"Worker_Descriptor": "Worker 2"
}</pre>
  <p>If the integration is successful, your connector task's <code>connectorOutputPayload</code> field will have a
    value similar to the following:</p>
  <pre class="prettyprint lang-json">{
"Id": "c3c68bc9a13f901d43ca8e5ddcaa0000"
}</pre>
  </li>
  </ol>

<h3>Example - Update a record</h3>
<p>This example updates the record with the specified ID in the <code>Scorecards</code> entity.</p>
  <ol>
    <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
    <li>Select <code>Scorecards</code> from the <code>Entity</code> list.</li>
    <li>Select the <code>Update</code> operation, and then click <b>Done</b>.</li>
    <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click
    <code>connectorInputPayload</code> and then enter a value similar to the following in the
    <code>Default Value</code> field:
    <pre class="prettyprint lang-json">{
"ScorecardDescription": "New updated description",
"ScorecardName": "Scorecard_1"
}</pre>
    <li>Click <b>entityId</b>, and then enter <code>f368471438b14705a1178c6744d75853</code> in the <b>Default Value</b> field.
    </li>
    </ol>

<h3>Example - Delete a record</h3>
<p>This example deletes the record with the specified ID in the <code>Scorecards</code> entity.</p>
  <ol>
    <li>In the <code>Configure connector task</code> dialog, click <code>Entities</code>.</li>
    <li>Select <code>Scorecards</code> from the <code>Entity</code> list.</li>
    <li>Select the <code>Delete</code> operation, and then click <b>Done</b>.</li>
    <li>In the <b>Task Input</b> section of the <b>Connectors</b> task, click <b>entityId</b> and
      then enter <code>e002de05784910123c443f7eb0970722</code> in the <b>Default Value</b> field.
    </li>
</ol>
<aside class="note"><b>Note: </b>If your entity has a composite primary key, you can specify
   a <a href="/application-integration/docs/configure-connectors-task#filter">filter clause</a>.
    For example, <code>Id='e002de05784910123c443f7eb0970722' and Inactive=false</code>.</aside>

</devsite-expandable>

{% include "integration-connectors/docs/_terraform-create-connection.html" %}
{% include "integration-connectors/docs/connectors/workday/_config_vars_terraform.html" %}

